openapi: 3.0.0
info:
  version: 3.387.0
  title: Retool API
  description: "The Retool API enables you to programmatically perform actions across your organization and its spaces. You can perform RESTful requests to manage a wide range of objects, such as adding users or updating resource configurations.\n\n## Base URL\n\nAll endpoints are relative to your Retool instance URL:\n\n```\nhttps://{your-retool-instance}/api/v2\n```\n\n## Authentication\n\nThe Retool API uses HTTP Bearer authentication scheme with API tokens to authenticate requests. Users with sufficient permissions can create API tokens in the organization's [Retool API settings](/auth/login?redirectOnLogin=settings/api). Each token can be scoped to specific permissions\u2014only grant the scopes needed for your use case.\n\n```\nAuthorization: Bearer YOUR_API_TOKEN\n```\n\n## Versioning\n\nThe API version corresponds to the Retool release version in which it was shipped. This means the API version reflects the features and endpoints available in that release. When you upgrade your Retool\
    \ instance, the API version updates alongside it and any new endpoints or capabilities introduced in that release become available."
externalDocs:
  description: Retool API Documentation
  url: /reference
servers:
- url: https://api.retool.com/api/v2
security:
- BearerAuth: []
tags:
- name: Users
  description: Manage user accounts at the organization level. Users are created in the organization and must be granted access to specific spaces through `groups`.
- name: Groups
  description: Manage permission groups for the organization or specific spaces. Groups control which users have access to certain functions and features, such as `apps`, `resources`, and `workflows`. Add or remove users from groups to grant or revoke access.
- name: Folders
  description: Manage app, workflow, resource, agent, and library folders within your organization.
- name: Spaces
  description: Manage spaces within your organization. Spaces enable organizations to implement isolated, multitenant experiences without the need for multiple instances. Create spaces, copy elements between spaces, and manage space settings. User access to spaces is controlled through `groups`.
- name: Apps
  description: Manage apps within your organization.
- name: Workflows
  description: Manage workflows within your organization.
- name: Resources
  description: Manage resources within your organization.
- name: Resource Configurations
  description: Manage environment-specific configurations for resources. Resource configurations allow you to define different settings for a resource based on the environment (e.g., development, staging, production) in which it is used.
- name: Permissions
  description: Manage access permissions for `apps` and `folders`. Grant or revoke permissions for `groups`, and retrieve access lists for specific objects.
- name: User Attributes
  description: Manage custom attributes for users in your organization. User attributes store additional metadata about users and can be used to control access and personalize app behavior.
- name: User Invites
  description: Manage pending invitations to your organization. Create, retrieve, and delete user invites, and manage user attributes on invites before users accept.
- name: Access Tokens
  description: Manage API access tokens for your organization. Access tokens authenticate API requests and can be scoped to specific permissions.
- name: Access Requests
  description: Manage requests from users who need access to `apps` or other resources. Approve or deny pending access requests within your organization.
- name: Environments
  description: Manage environments within your organization. Environments allow you to run `resources` against different configurations, such as development, staging, and production.
- name: Configuration Variables
  description: Manage configuration variables across your organization. Config variables store environment-specific values that can be referenced by `resources` and queries.
- name: SSO
  description: Manage single sign-on (SSO) configuration for your organization. Configure and remove identity provider settings to control how users authenticate.
- name: Custom Component Libraries
  description: Manage custom component libraries in your organization. Custom component libraries extend the Retool component set with reusable components built with standard web technologies.
- name: Source Control
  description: Manage source control configuration and deployments for your organization. Connect a Git provider, deploy changes, and track deployment history.
- name: Release Management
  description: Manage release manifests and versioned releases for `apps` within your organization. Release manifests define which version of each app is promoted to production.
- name: App Themes
  description: Manage app themes within your organization. Themes define the visual style of your apps, including colors, typography, and component defaults.
- name: Organization
  description: Manage your Retool organization. An organization is a distinct collection of users and data. They operate separately from one another, have their own configuration settings, and are where users share access to work.
- name: Usage
  description: Retrieve usage data for your organization. Access summaries and detailed breakdowns of page views, active users, and app activity across organizations.
- name: User Tasks
  description: Manage user tasks generated by `workflows`. List, submit, cancel, and reassign tasks assigned to users or `groups`.
- name: Workflow Runs
  description: Retrieve details about individual workflow run executions.
- name: Processes
  description: Trigger and manage process runs within your organization.
- name: Observability
  description: Manage observability configurations for your organization. Connect an observability provider to receive error events and monitor your Retool instance.
- name: Info
  description: Retrieve system information for your Retool instance, such as IP allowlists by region.
components:
  schemas:
    user:
      type: object
      properties:
        id:
          type: string
          pattern: user_([a-z0-9]+)
          description: The ID of the user.
          example: user_1234
        legacy_id:
          type: number
          description: The legacy ID of the user.
        email:
          type: string
          format: email
          description: The email of the user.
        active:
          type: boolean
          description: Whether the user is active or not.
        created_at:
          type: string
          format: date-time
          description: The timestamp when the user was created.
          example: '2019-02-08T11:45:48.899Z'
        last_active:
          type: string
          nullable: true
          format: date-time
          description: The timestamp when the user was last active.
          example: '2019-02-08T11:45:48.899Z'
        first_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 36
          description: The first name of the user.
        last_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 36
          description: The last name of the user.
        metadata:
          type: object
          additionalProperties:
            nullable: true
          default: {}
          description: Custom metadata associated with the user.
        is_admin:
          type: boolean
          description: Whether the user is an admin or not.
        user_type:
          type: string
          enum:
          - default
          - mobile
          - embed
          description: The user type.
        two_factor_auth_enabled:
          type: boolean
          description: Whether two-factor authentication is enabled for this user.
      required:
      - id
      - legacy_id
      - email
      - active
      - created_at
      - last_active
      - first_name
      - last_name
      - metadata
      - is_admin
      - user_type
      - two_factor_auth_enabled
      additionalProperties: false
      description: This object represents a user.
    group:
      type: object
      properties:
        id:
          type: number
          nullable: true
          description: The ID of the group. Currently this is the same legacy_id but will change in the future.
        legacy_id:
          type: number
          nullable: true
          description: The legacy ID of the group.
        name:
          type: string
          description: The name of the group.
        members:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                pattern: user_([a-z0-9]+)
                description: The unique identifier for the user.
                example: user_1234
              email:
                type: string
                format: email
                description: The email of the user.
              is_group_admin:
                type: boolean
                default: false
                description: Whether the user is a group admin.
            required:
            - id
            - email
            - is_group_admin
          description: The members of the group.
        universal_app_access:
          type: string
          enum:
          - none
          - use
          - edit
          - own
          description: The universal app access level for the group. This denotes the access level that this group has for all apps.
        universal_resource_access:
          type: string
          enum:
          - none
          - use
          - edit
          - own
          description: The universal resource access level for the group. This denotes the access level that this group has for all resources.
        universal_workflow_access:
          type: string
          enum:
          - none
          - use
          - edit
          - own
          description: The universal workflow access level for the group. This denotes the access level that this group has for all workflows.
        universal_query_library_access:
          type: string
          enum:
          - none
          - use
          - edit
          description: Level of access that the group has to the Query Library.
        user_invites:
          type: array
          items:
            type: object
            properties:
              id:
                type: number
              legacy_id:
                type: number
              invited_by:
                type: string
              invited_email:
                type: string
                format: email
              expires_at:
                type: string
              claimed_by:
                type: string
                nullable: true
              claimed_at:
                type: string
                nullable: true
              user_type:
                type: string
                nullable: true
                enum:
                - default
                - mobile
                - external
              metadata:
                type: object
                nullable: true
                additionalProperties:
                  nullable: true
                default: {}
              created_at:
                type: string
              invite_link:
                type: string
                format: uri
                description: User invite link expires 7 days after generation.
              groups:
                type: array
                items:
                  type: object
                  properties:
                    legacy_id:
                      type: number
                    id:
                      type: number
                    name:
                      type: string
                  required:
                  - legacy_id
                  - id
                  - name
                description: The groups that the user is invited to
            required:
            - id
            - legacy_id
            - invited_by
            - invited_email
            - expires_at
            - claimed_by
            - claimed_at
            - user_type
            - metadata
            - created_at
            description: User Invite
          description: A list of user invites that will be added to the group.
        user_list_access:
          type: boolean
          description: Whether the group has access to the user list.
        audit_log_access:
          type: boolean
          description: Whether the group has access to the audit log.
        unpublished_release_access:
          type: boolean
          description: Whether the group has access to unpublished releases.
        usage_analytics_access:
          type: boolean
          description: Whether the group has access to usage analytics.
        theme_access:
          type: boolean
          description: Whether the group has access to edit themes.
        account_details_access:
          type: boolean
          description: Whether the group has access to account details.
        landing_page_app_id:
          type: string
          nullable: true
          format: uuid
          description: The app ID of the landing page.
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - legacy_id
      - name
      - members
      - universal_app_access
      - universal_resource_access
      - universal_workflow_access
      - universal_query_library_access
      - user_invites
      - user_list_access
      - audit_log_access
      - unpublished_release_access
      - usage_analytics_access
      - theme_access
      - account_details_access
      - landing_page_app_id
      - created_at
      - updated_at
      description: This object represents a permission group. A permission group is a list of users by which to restrict access. You add users to one or more groups and then configure the group's level of access. This applies the same permissions to all group members. See https://docs.retool.com/org-users/concepts/permission-groups or more information.
    folder:
      type: object
      properties:
        id:
          type: string
          pattern: ^(app|workflow|resource|agent|library)_([0-9]\d*)$
          description: The id of the folder. Currently this is the same as legacy_id but will be different in the future.
        legacy_id:
          type: string
          pattern: ^(app|workflow|resource|agent|library)_([0-9]\d*)$
          description: The legacy id of the folder.
        name:
          type: string
          description: The name of the folder
        parent_folder_id:
          type: string
          nullable: true
          pattern: ^(app|workflow|resource|agent|library)_([0-9]\d*)$
          description: The id of the parent folder
        is_system_folder:
          type: boolean
          description: Whether the folder is a system folder
        folder_type:
          type: string
          enum:
          - app
          - workflow
          - resource
          - agent
          - library
          description: The type of the folder
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - legacy_id
      - name
      - is_system_folder
      - folder_type
      - created_at
      - updated_at
      description: This object represents app, resource and workflows folders.
    space:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The id of the space.
        name:
          type: string
          minLength: 1
        domain:
          type: string
          minLength: 1
        created_at:
          type: string
          format: date-time
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          format: date-time
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - name
      - domain
      - created_at
      - updated_at
      additionalProperties: false
      description: This object represents a space. Spaces can be used to separate your organization's data.
    source_control_configuration:
      anyOf:
      - type: object
        properties:
          config:
            anyOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - App
                app_id:
                  type: string
                  description: The GitHub App ID.
                installation_id:
                  type: string
                  description: The GitHub installation ID. This can be found at the end of the installation URL.
                private_key:
                  type: string
                  description: The base64-encoded private key.
                url:
                  type: string
                  description: The domain used to access your self-hosted GitHub instance.
                enterprise_api_url:
                  type: string
                  description: The REST API route for your self-hosted GitHub instance. Defaults to https://[hostname]/api/v3.
              required:
              - type
              - app_id
              - installation_id
              - private_key
              additionalProperties: false
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - Personal
                personal_access_token:
                  type: string
                  description: "The GitHub project access token to authenticate to the GitHub API.\t"
                url:
                  type: string
                  description: The domain used to access your self-hosted GitHub instance.
                enterprise_api_url:
                  type: string
                  description: The REST API route for your self-hosted GitHub instance. Defaults to https://[hostname]/api/v3.
              required:
              - type
              - personal_access_token
              additionalProperties: false
          provider:
            type: string
            enum:
            - GitHub
          org:
            type: string
            description: The user or organization to which the repository belongs to.
          repo:
            type: string
            description: The name of the repository you created to use with Retool.
          default_branch:
            type: string
            description: The default branch, e.g., main.
          repo_version:
            type: string
            description: Repositories using Toolscript are 2.0.0. Repositories using legacy YAML are 1.0.0.
        required:
        - config
        - provider
        - org
        - repo
        - default_branch
        title: GitHub
      - type: object
        properties:
          config:
            type: object
            properties:
              project_id:
                type: number
                description: The numerical project ID for your GitLab project. Find this ID listed below the project's name on the project's homepage.
              url:
                type: string
                description: Your base GitLab URL. On GitLab Cloud, this is always https://gitlab.com. On GitLab self-managed, this is the URL where your instance is hosted.
              project_access_token:
                type: string
                description: The GitLab project access token to authenticate to the GitLab API.
            required:
            - project_id
            - url
            - project_access_token
            additionalProperties: false
          provider:
            type: string
            enum:
            - GitLab
          org:
            type: string
            description: The user or organization to which the repository belongs to.
          repo:
            type: string
            description: The name of the repository you created to use with Retool.
          default_branch:
            type: string
            description: The default branch, e.g., main.
          repo_version:
            type: string
            description: Repositories using Toolscript are 2.0.0. Repositories using legacy YAML are 1.0.0.
        required:
        - config
        - provider
        - org
        - repo
        - default_branch
        title: GitLab
      - type: object
        properties:
          config:
            type: object
            properties:
              url:
                type: string
                description: The domain used to access your self-hosted AWS CodeCommit instance.
              region:
                type: string
                description: The region of the CodeCommit repository.
              access_key_id:
                type: string
                description: The Access key ID from your AWSCodeCommitFullAccess policy.
              secret_access_key:
                type: string
                description: The Secret Access Key from your AWSCodeCommitFullAccess policy
              https_username:
                type: string
                description: The HTTPS username from your security credentials.
              https_password:
                type: string
                description: The HTTPS password from your security credentials.
            required:
            - url
            - region
            - access_key_id
            - secret_access_key
            - https_username
            - https_password
            additionalProperties: false
          provider:
            type: string
            enum:
            - AWS CodeCommit
          org:
            type: string
            description: The user or organization to which the repository belongs to.
          repo:
            type: string
            description: The name of the repository you created to use with Retool.
          default_branch:
            type: string
            description: The default branch, e.g., main.
          repo_version:
            type: string
            description: Repositories using Toolscript are 2.0.0. Repositories using legacy YAML are 1.0.0.
        required:
        - config
        - provider
        - org
        - repo
        - default_branch
        title: AWS CodeCommit
      - type: object
        properties:
          config:
            anyOf:
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - AppPassword
                username:
                  type: string
                  description: Your Bitbucket username.
                app_password:
                  type: string
                  description: Your Bitbucket app password.
                url:
                  type: string
                  description: The domain used to access your self-hosted Bitbucket instance. Defaults to https://bitbucket.org/.
                enterprise_api_url:
                  type: string
                  description: "The REST API route for your self-hosted Bitbucket instance. Defaults to https://api.bitbucket.org/2.0.\t"
              required:
              - type
              - username
              - app_password
              additionalProperties: false
            - type: object
              properties:
                type:
                  type: string
                  enum:
                  - Token
                token:
                  type: string
                  description: Your Bitbucket API token.
                url:
                  type: string
                  description: The domain used to access your self-hosted Bitbucket instance. Defaults to https://bitbucket.org/.
                enterprise_api_url:
                  type: string
                  description: "The REST API route for your self-hosted Bitbucket instance. Defaults to https://api.bitbucket.org/2.0.\t"
              required:
              - type
              - token
              additionalProperties: false
          provider:
            type: string
            enum:
            - Bitbucket
          org:
            type: string
            description: The user or organization to which the repository belongs to.
          repo:
            type: string
            description: The name of the repository you created to use with Retool.
          default_branch:
            type: string
            description: The default branch, e.g., main.
          repo_version:
            type: string
            description: Repositories using Toolscript are 2.0.0. Repositories using legacy YAML are 1.0.0.
        required:
        - config
        - provider
        - org
        - repo
        - default_branch
        title: Bitbucket
      - type: object
        properties:
          config:
            type: object
            properties:
              url:
                type: string
                description: Your base Azure URL. For Azure Cloud, this is always http://dev.azure.com. For Azure self-managed, this is the URL where your instance is hosted.
              project:
                type: string
                description: Your new or existing Azure DevOps project.
              user:
                type: string
                description: The Azure Repos username.
              personal_access_token:
                type: string
                description: The Azure project access tokens to authenticate to the Azure API.
              use_basic_auth:
                type: boolean
                description: Set this to true if you are using self-hosted Azure Repos.
            required:
            - url
            - project
            - user
            - personal_access_token
            - use_basic_auth
            additionalProperties: false
          provider:
            type: string
            enum:
            - Azure Repos
          org:
            type: string
            description: The user or organization to which the repository belongs to.
          repo:
            type: string
            description: The name of the repository you created to use with Retool.
          default_branch:
            type: string
            description: The default branch, e.g., main.
          repo_version:
            type: string
            description: Repositories using Toolscript are 2.0.0. Repositories using legacy YAML are 1.0.0.
        required:
        - config
        - provider
        - org
        - repo
        - default_branch
        title: Azure Repos
      description: This object represents the Source Control provider configuration for the organization or space. See [docs](https://docs.retool.com/source-control) for more information.
    source_control_settings:
      type: object
      properties:
        auto_branch_naming_enabled:
          type: boolean
          description: When enabled, Retool automatically suggests a branch name on branch creation. Defaults to true.
        custom_pull_request_template_enabled:
          type: boolean
          description: When enabled, Retool will use the template specified to create pull requests. Defaults to false.
        custom_pull_request_template:
          type: string
          description: Pull requests created from Retool will use the template specified.
        version_control_locked:
          type: boolean
          description: When set to true, creates a read-only instance of Retool, where app editing is disabled. Defaults to false.
        force_uuid_mapping:
          type: boolean
          description: When set to true, creates a uuid mapping for protected elements to be used in the source control repo. Defaults to false.
        auto_cleanup_branches_enabled:
          type: boolean
          description: When set to true, Retool will automatically delete branches after changes are merged if the remote branch no longer exists and there are no uncommitted changes. Defaults to true.
      required:
      - auto_branch_naming_enabled
      - custom_pull_request_template_enabled
      - custom_pull_request_template
      - version_control_locked
      - force_uuid_mapping
      - auto_cleanup_branches_enabled
    app_theme:
      type: object
      properties:
        id:
          type: number
        legacy_id:
          type: number
        name:
          type: string
          description: The name of the app theme.
        theme:
          type: object
          additionalProperties:
            nullable: true
          description: The theme object.
        created_at:
          type: string
          format: date-time
          description: Date and time when the app theme was created.
        updated_at:
          type: string
          format: date-time
          description: Date and time when the app theme was last updated.
      required:
      - id
      - legacy_id
      - name
      - theme
      - created_at
      - updated_at
      description: This object represents an app theme. App themes allow you to customize the look of your app. See https://docs.retool.com/apps/web/concepts/themes for more information.
    app:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The app ID.
        name:
          type: string
          description: The name of the App
        description:
          type: string
          nullable: true
          description: The description of the App
        folder_id:
          type: string
          pattern: ^(app|workflow|resource|agent|library)_([0-9]\d*)$
          description: The id of the folder
        protected:
          type: boolean
          description: Whether the App is protected
        synced:
          type: boolean
          description: Whether the App is synced
        shortlink:
          type: string
          nullable: true
          description: The shortlink of the App
        is_module:
          type: boolean
          description: Whether the App is a module
        is_mobile_app:
          type: boolean
          description: Whether the App is a mobile app
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
        release_version:
          type: string
          description: The live release version of the app. 'latest' if releases are disabled or the app has no live release yet
      required:
      - id
      - name
      - description
      - folder_id
      - protected
      - synced
      - shortlink
      - is_module
      - is_mobile_app
      - created_at
      - updated_at
      - release_version
      description: This object represents an app.
    sso_configuration:
      oneOf:
      - type: object
        properties:
          config_type:
            type: string
            enum:
            - google
          google_client_id:
            type: string
          google_client_secret:
            type: string
          disable_email_password_login:
            type: boolean
        required:
        - config_type
        - google_client_id
        - google_client_secret
        - disable_email_password_login
        additionalProperties: false
        title: Google
      - type: object
        properties:
          config_type:
            type: string
            enum:
            - oidc
          oidc_client_id:
            type: string
            minLength: 1
          oidc_client_secret:
            type: string
            minLength: 1
          oidc_scopes:
            type: string
            minLength: 1
          oidc_auth_url:
            type: string
            minLength: 1
          oidc_token_url:
            type: string
            minLength: 1
          oidc_userinfo_url:
            type: string
            minLength: 1
          oidc_audience:
            type: string
          oidc_end_session_url:
            type: string
            minLength: 1
          jwt_email_key:
            type: string
            minLength: 1
          jwt_roles_key:
            type: string
            minLength: 1
          jwt_first_name_key:
            type: string
            minLength: 1
          jwt_last_name_key:
            type: string
            minLength: 1
          roles_mapping:
            type: string
          jit_enabled:
            type: boolean
          restricted_domain:
            type: string
          trigger_login_automatically:
            type: boolean
          disable_email_password_login:
            type: boolean
        required:
        - config_type
        - oidc_client_id
        - oidc_client_secret
        - oidc_scopes
        - oidc_auth_url
        - oidc_token_url
        - jwt_email_key
        - jwt_first_name_key
        - jwt_last_name_key
        - jit_enabled
        - trigger_login_automatically
        - disable_email_password_login
        additionalProperties: false
        title: OIDC
      - type: object
        properties:
          config_type:
            type: string
            enum:
            - google & oidc
          google_client_id:
            type: string
          google_client_secret:
            type: string
          disable_email_password_login:
            type: boolean
          oidc_client_id:
            type: string
            minLength: 1
          oidc_client_secret:
            type: string
            minLength: 1
          oidc_scopes:
            type: string
            minLength: 1
          oidc_auth_url:
            type: string
            minLength: 1
          oidc_token_url:
            type: string
            minLength: 1
          oidc_userinfo_url:
            type: string
            minLength: 1
          oidc_audience:
            type: string
          oidc_end_session_url:
            type: string
            minLength: 1
          jwt_email_key:
            type: string
            minLength: 1
          jwt_roles_key:
            type: string
            minLength: 1
          jwt_first_name_key:
            type: string
            minLength: 1
          jwt_last_name_key:
            type: string
            minLength: 1
          roles_mapping:
            type: string
          jit_enabled:
            type: boolean
          restricted_domain:
            type: string
          trigger_login_automatically:
            type: boolean
        required:
        - config_type
        - google_client_id
        - google_client_secret
        - disable_email_password_login
        - oidc_client_id
        - oidc_client_secret
        - oidc_scopes
        - oidc_auth_url
        - oidc_token_url
        - jwt_email_key
        - jwt_first_name_key
        - jwt_last_name_key
        - jit_enabled
        - trigger_login_automatically
        additionalProperties: false
        title: Google & OIDC
      - type: object
        properties:
          config_type:
            type: string
            enum:
            - saml
          idp_metadata_xml:
            type: string
            minLength: 1
          saml_first_name_attribute:
            type: string
            minLength: 1
          saml_last_name_attribute:
            type: string
            minLength: 1
          saml_groups_attribute:
            type: string
          saml_sync_group_claims:
            type: boolean
          ldap_sync_group_claims:
            type: boolean
          ldap_role_mapping:
            type: string
          ldap_server_url:
            type: string
          ldap_base_domain_components:
            type: string
          ldap_server_name:
            type: string
          ldap_server_key:
            type: string
          ldap_server_certificate:
            type: string
          jit_enabled:
            type: boolean
          restricted_domain:
            type: string
          trigger_login_automatically:
            type: boolean
          disable_email_password_login:
            type: boolean
        required:
        - config_type
        - idp_metadata_xml
        - saml_first_name_attribute
        - saml_last_name_attribute
        - saml_sync_group_claims
        - jit_enabled
        - trigger_login_automatically
        - disable_email_password_login
        additionalProperties: false
        title: SAML
      - type: object
        properties:
          config_type:
            type: string
            enum:
            - google & saml
          google_client_id:
            type: string
          google_client_secret:
            type: string
          disable_email_password_login:
            type: boolean
          idp_metadata_xml:
            type: string
            minLength: 1
          saml_first_name_attribute:
            type: string
            minLength: 1
          saml_last_name_attribute:
            type: string
            minLength: 1
          saml_groups_attribute:
            type: string
          saml_sync_group_claims:
            type: boolean
          ldap_sync_group_claims:
            type: boolean
          ldap_role_mapping:
            type: string
          ldap_server_url:
            type: string
          ldap_base_domain_components:
            type: string
          ldap_server_name:
            type: string
          ldap_server_key:
            type: string
          ldap_server_certificate:
            type: string
          jit_enabled:
            type: boolean
          restricted_domain:
            type: string
          trigger_login_automatically:
            type: boolean
        required:
        - config_type
        - google_client_id
        - google_client_secret
        - disable_email_password_login
        - idp_metadata_xml
        - saml_first_name_attribute
        - saml_last_name_attribute
        - saml_sync_group_claims
        - jit_enabled
        - trigger_login_automatically
        additionalProperties: false
        title: Google & SAML
      description: This object represents the SSO configuration for an organization or space. See [docs](https://docs.retool.com/sso) for more information.
    user_attributes:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The id of the user attribute.
        name:
          type: string
          minLength: 1
          maxLength: 255
          pattern: ^[a-z0-9\_]+$
          description: The name of the user attribute.
        label:
          type: string
          description: The label of the user attribute.
        data_type:
          type: string
          enum:
          - string
          - number
          - json
          description: The data type of the user attribute. Valid types are `string`, `number`, or `json`.
        default_value:
          type: string
          nullable: true
          description: The default value of the user attribute, assigned to all users without the attribute set.
        intercom_attribute_name:
          type: string
          nullable: true
          minLength: 1
          maxLength: 255
          pattern: ^[a-z0-9\_]+$
          description: The name of the Intercom user attribute that this attribute should be mapped to.
      required:
      - id
      - name
      - label
      - data_type
      - default_value
      - intercom_attribute_name
      description: This object represents user attributes.
    role:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The id of the role.
        organization_id:
          type: string
          description: The id of the organization
        name:
          type: string
          description: The name of the role
        description:
          type: string
          description: The description of the role
        is_default_role:
          type: boolean
          description: Whether the role is the default role
        is_legacy_role:
          type: boolean
          description: Whether the role is a migrated legacy role
        object_scopes:
          type: array
          items:
            type: string
          description: The object scopes of the role
        organization_scopes:
          type: array
          items:
            type: string
          description: The organization scopes of the role
        added_dependent_scopes:
          type: array
          items:
            type: string
          description: The dependent scopes that were automatically added to the role
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - organization_id
      - name
      - description
      - is_default_role
      - is_legacy_role
      - object_scopes
      - organization_scopes
      - added_dependent_scopes
      - created_at
      - updated_at
    access_request:
      type: object
      properties:
        id:
          type: number
        status:
          type: string
          enum:
          - PENDING
          - APPROVED
          - DENIED
        legacy_id:
          type: number
        requesting_email:
          type: string
        updated_by_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - status
      - legacy_id
      - requesting_email
      - updated_by_id
      - created_at
      - updated_at
      description: Access Request
    accessToken:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The uuid of the access token.
        label:
          type: string
          minLength: 1
          description: The name of the access token.
        description:
          type: string
          nullable: true
          description: The description of the access token.
        last4:
          type: string
          description: Last 4 characters of the access token secret
        owner_legacy_id:
          type: number
          description: The legacy id of the user that created the token
        scopes:
          type: array
          items:
            type: string
        created_at:
          type: string
          format: date-time
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          format: date-time
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - label
      - description
      - last4
      - owner_legacy_id
      - scopes
      - created_at
      - updated_at
      additionalProperties: false
      description: This object represents an API access token.
    user_invite:
      type: object
      properties:
        id:
          type: number
        legacy_id:
          type: number
        invited_by:
          type: string
        invited_email:
          type: string
          format: email
        expires_at:
          type: string
        claimed_by:
          type: string
          nullable: true
        claimed_at:
          type: string
          nullable: true
        user_type:
          type: string
          nullable: true
          enum:
          - default
          - mobile
          - external
        metadata:
          type: object
          nullable: true
          additionalProperties:
            nullable: true
          default: {}
        created_at:
          type: string
        invite_link:
          type: string
          format: uri
          description: User invite link expires 7 days after generation.
        groups:
          type: array
          items:
            type: object
            properties:
              legacy_id:
                type: number
              id:
                type: number
              name:
                type: string
            required:
            - legacy_id
            - id
            - name
          description: The groups that the user is invited to
      required:
      - id
      - legacy_id
      - invited_by
      - invited_email
      - expires_at
      - claimed_by
      - claimed_at
      - user_type
      - metadata
      - created_at
      description: User Invite
    resource:
      type: object
      properties:
        id:
          type: string
          description: The uuid or name for the resource.
        type:
          type: string
          enum:
          - airflow
          - alloydb
          - anthropic
          - asana
          - athena
          - awsBedrock
          - azureAI
          - azureBlob
          - basecamp
          - bigid
          - bigquery
          - cassandra
          - circleci
          - clickhouse
          - closeio
          - cockroachdb
          - cosmosdb
          - couchdb
          - customAIProvider
          - databricks
          - databricksLakebase
          - datadog
          - datastore
          - dbServer
          - denodo
          - dynamodb
          - elasticsearch
          - firebase
          - front
          - gcs
          - github
          - googleAnalytics
          - googleCalendar
          - googleDocs
          - googleGemini
          - googleMaps
          - googleSearchConsole
          - googleSlides
          - googleVertexAI
          - googlesheets
          - graphql
          - grpc
          - hubspot
          - jdbc
          - jira
          - kafka
          - lambda
          - launchdarkly
          - mcp
          - microsoftTeams
          - mongodb
          - motherduck
          - mssql
          - mysql
          - notion
          - onesignal
          - openAI
          - openAIProvider
          - openapi
          - oracledb
          - postgresql
          - presto
          - redis
          - redshift
          - restapi
          - rethinkdb
          - retoolAI
          - retoolDb
          - retoolEmail
          - retoolSdk
          - retoolStorage
          - s3
          - salesforce
          - saphana
          - sendgrid
          - serviceNow
          - shell
          - slack
          - slackopenapi
          - smtp
          - snowflake
          - sns
          - sqs
          - stripe
          - tavily
          - twilio
          - vertica
          description: The type of resource.
        display_name:
          type: string
          minLength: 1
        folder_id:
          type: string
          nullable: true
          description: The id of the folder this resource belongs to
        protected:
          type: boolean
          description: Whether the resource is protected in source control
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - type
      - display_name
      - folder_id
      - protected
      - created_at
      - updated_at
      additionalProperties: false
      description: Resource
    resourceConfiguration:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The uuid for the resource configuration.
        resource:
          type: object
          properties:
            id:
              type: string
              description: The uuid or name for the resource.
            type:
              type: string
              enum:
              - airflow
              - alloydb
              - anthropic
              - asana
              - athena
              - awsBedrock
              - azureAI
              - azureBlob
              - basecamp
              - bigid
              - bigquery
              - cassandra
              - circleci
              - clickhouse
              - closeio
              - cockroachdb
              - cosmosdb
              - couchdb
              - customAIProvider
              - databricks
              - databricksLakebase
              - datadog
              - datastore
              - dbServer
              - denodo
              - dynamodb
              - elasticsearch
              - firebase
              - front
              - gcs
              - github
              - googleAnalytics
              - googleCalendar
              - googleDocs
              - googleGemini
              - googleMaps
              - googleSearchConsole
              - googleSlides
              - googleVertexAI
              - googlesheets
              - graphql
              - grpc
              - hubspot
              - jdbc
              - jira
              - kafka
              - lambda
              - launchdarkly
              - mcp
              - microsoftTeams
              - mongodb
              - motherduck
              - mssql
              - mysql
              - notion
              - onesignal
              - openAI
              - openAIProvider
              - openapi
              - oracledb
              - postgresql
              - presto
              - redis
              - redshift
              - restapi
              - rethinkdb
              - retoolAI
              - retoolDb
              - retoolEmail
              - retoolSdk
              - retoolStorage
              - s3
              - salesforce
              - saphana
              - sendgrid
              - serviceNow
              - shell
              - slack
              - slackopenapi
              - smtp
              - snowflake
              - sns
              - sqs
              - stripe
              - tavily
              - twilio
              - vertica
              description: The type of resource.
            display_name:
              type: string
              minLength: 1
            folder_id:
              type: string
              nullable: true
              description: The id of the folder this resource belongs to
            protected:
              type: boolean
              description: Whether the resource is protected in source control
            created_at:
              type: string
              example: '2019-02-08T11:45:48.899Z'
            updated_at:
              type: string
              example: '2019-02-24T18:28:18.790Z'
          required:
          - id
          - type
          - display_name
          - folder_id
          - protected
          - created_at
          - updated_at
          additionalProperties: false
          description: Resource
        environment:
          type: object
          properties:
            id:
              type: string
              format: uuid
            name:
              type: string
            description:
              type: string
              nullable: true
            color:
              type: string
              pattern: ^#[A-Fa-f0-9]{6}$
              example: '#FFFFFF'
            default:
              type: boolean
            created_at:
              type: string
            updated_at:
              type: string
          required:
          - id
          - name
          - description
          - color
          - default
          - created_at
          - updated_at
          description: Environment
        options:
          anyOf:
          - type: object
            properties:
              authentication_options:
                anyOf:
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - azure_identity
                    azureid_scope:
                      type: string
                    azureid_tenant_id:
                      type: string
                    azureid_client_id:
                      type: string
                    azureid_client_secret:
                      type: string
                    auth_with_default_credential_provider_chain:
                      type: boolean
                    azure_blob_account_name:
                      type: string
                    azure_blob_default_container_name:
                      type: string
                  required:
                  - authentication_type
                  - auth_with_default_credential_provider_chain
                  - azure_blob_account_name
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - azure_storage_shared_key
                    azure_storage_url:
                      type: string
                    azure_storage_account_name:
                      type: string
                    azure_storage_account_key:
                      type: string
                    azure_blob_default_container_name:
                      type: string
                  required:
                  - authentication_type
                  - azure_storage_url
                  - azure_storage_account_name
                  - azure_storage_account_key
                  additionalProperties: false
            required:
            - authentication_options
            additionalProperties: false
            title: Azure Blob Options
          - type: object
            properties:
              database_options:
                anyOf:
                - type: object
                  properties:
                    host:
                      type: string
                    port:
                      type: string
                    name:
                      type: string
                    username:
                      type: string
                    password:
                      type: string
                    ssl_settings:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        client_key:
                          type: string
                          nullable: true
                        client_cert:
                          type: string
                          nullable: true
                        ca_cert:
                          type: string
                          nullable: true
                      additionalProperties: false
                    ssh_tunnel_options:
                      type: object
                      properties:
                        enabled:
                          type: boolean
                        host:
                          type: string
                        port:
                          type: string
                        username:
                          type: string
                        password:
                          type: string
                        private_key_name:
                          type: string
                      required:
                      - enabled
                      - host
                      - port
                      additionalProperties: false
                    disable_converting_queries_to_prepared_statements:
                      type: boolean
                      description: This allows you to use Javascript to dynamically generate SQL but also turns off SQL injection protection.
                    show_write_gui_only:
                      type: boolean
                      description: This allows you to enable writing via only the restrictive GUI query editor.
                  required:
                  - host
                  - port
                  additionalProperties: false
                - type: object
                  properties:
                    connection_string:
                      type: string
                    disable_converting_queries_to_prepared_statements:
                      type: boolean
                      description: This allows you to use Javascript to dynamically generate SQL but also turns off SQL injection protection.
                    show_write_gui_only:
                      type: boolean
                      description: This allows you to enable writing via only the restrictive GUI query editor.
                  additionalProperties: false
            required:
            - database_options
            additionalProperties: false
            title: Postgres Options
          - type: object
            properties:
              database_options:
                type: object
                properties:
                  host:
                    type: string
                  port:
                    type: string
                  name:
                    type: string
                  username:
                    type: string
                  password:
                    type: string
                  ssl_settings:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      client_key:
                        type: string
                        nullable: true
                      client_cert:
                        type: string
                        nullable: true
                      ca_cert:
                        type: string
                        nullable: true
                    additionalProperties: false
                  ssh_tunnel_options:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                      host:
                        type: string
                      port:
                        type: string
                      username:
                        type: string
                      password:
                        type: string
                      private_key_name:
                        type: string
                    required:
                    - enabled
                    - host
                    - port
                    additionalProperties: false
                  disable_converting_queries_to_prepared_statements:
                    type: boolean
                    description: This allows you to use Javascript to dynamically generate SQL but also turns off SQL injection protection.
                  show_write_gui_only:
                    type: boolean
                    description: This allows you to enable writing via only the restrictive GUI query editor.
                  use_dynamic_database_names:
                    type: boolean
                    description: Enable this to allow the Database Name to be overridden by a dynamically generated value. This allows using Retool with a database that has been sharded into several different databases.
                  use_dynamic_database_hosts:
                    type: boolean
                    description: Enable this to allow the Database Host to be overridden by a dynamically generated value. This allows using Retool with several different databases.
                  convert_mysql_dates_to_javascript:
                    type: boolean
                    default: true
                    description: This allows you to turn your MySQL date strings into Javascript Date objects.
                required:
                - host
                - port
                additionalProperties: false
            required:
            - database_options
            additionalProperties: false
            title: MySQL Options
          - type: object
            properties:
              database_options:
                type: object
                properties:
                  host:
                    type: string
                  port:
                    type: string
                  name:
                    type: string
                  username:
                    type: string
                  password:
                    type: string
                  ssl_settings:
                    type: object
                    properties:
                      enabled:
                        type: boolean
                    additionalProperties: false
                  disable_converting_queries_to_prepared_statements:
                    type: boolean
                    description: This allows you to use Javascript to dynamically generate SQL but also turns off SQL injection protection.
                  show_write_gui_only:
                    type: boolean
                    description: This allows you to enable writing via only the restrictive GUI query editor.
                required:
                - host
                - port
                additionalProperties: false
            required:
            - database_options
            additionalProperties: false
            title: Redshift Options
          - type: object
            properties:
              account_identifier:
                type: string
              database_options:
                type: object
                properties:
                  name:
                    type: string
                  schema:
                    type: string
                  warehouse:
                    type: string
                  disable_converting_queries_to_prepared_statements:
                    type: boolean
                    description: This allows you to use Javascript to dynamically generate SQL but also turns off SQL injection protection.
                  show_write_gui_only:
                    type: boolean
                    description: This allows you to enable writing via only the restrictive GUI query editor.
                required:
                - name
                additionalProperties: false
              user_role:
                type: string
              authentication_options:
                anyOf:
                - type: object
                  properties:
                    bearer_token:
                      type: string
                    authentication_type:
                      type: string
                      enum:
                      - bearer
                  required:
                  - authentication_type
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - snowflake
                    username:
                      type: string
                    password:
                      type: string
                  required:
                  - authentication_type
                  - username
                  - password
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - snowflake_jwt
                    username:
                      type: string
                    private_key:
                      type: string
                    private_key_passphrase:
                      type: string
                  required:
                  - authentication_type
                  - username
                  - private_key
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - oauth2
                    oauth2_client_id:
                      type: string
                    oauth2_client_secret:
                      type: string
                    oauth2_callback_url:
                      type: string
                  required:
                  - authentication_type
                  - oauth2_client_id
                  - oauth2_client_secret
                  additionalProperties: false
            required:
            - account_identifier
            - database_options
            - authentication_options
            additionalProperties: false
            title: Snowflake Options
          - type: object
            properties:
              base_url:
                type: string
                description: Use the absolute URL (e.g. https://example.com).
              url_parameters:
                type: array
                items:
                  type: array
                  items:
                    type: string
              headers:
                type: array
                items:
                  type: array
                  items:
                    type: string
              extra_body_values:
                type: array
                items:
                  type: array
                  items:
                    type: string
                description: Extra body values are not passed for GET or HEAD requests.
              cookies_to_forward:
                type: array
                items:
                  type: string
                description: You can use the pattern COOKIE_your_cookie_name in the Headers section in order to implement the double-cookie submit pattern.
              forward_all_cookies:
                type: boolean
                description: This is useful if you have dynamic cookie names.
              authentication_options:
                anyOf:
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - auth0
                    auth0_domain:
                      type: string
                    auth0_client_id:
                      type: string
                    auth0_client_secret:
                      type: string
                    auth0_custom_audience:
                      type: string
                  required:
                  - authentication_type
                  - auth0_domain
                  - auth0_client_id
                  - auth0_client_secret
                  - auth0_custom_audience
                  additionalProperties: false
                - type: object
                  properties:
                    amazon_aws_region:
                      type: string
                    amazon_access_key_id:
                      type: string
                    amazon_secret_access_key:
                      type: string
                    assume_role:
                      type: string
                    auth_with_default_credential_provider_chain:
                      type: boolean
                    authentication_type:
                      type: string
                      enum:
                      - aws4
                    amazon_service_name:
                      type: string
                    enable_awsv4_authentication_via_headers:
                      type: boolean
                  required:
                  - amazon_aws_region
                  - amazon_access_key_id
                  - amazon_secret_access_key
                  - authentication_type
                  - amazon_service_name
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - azure_identity
                    azureid_scope:
                      type: string
                    azureid_tenant_id:
                      type: string
                    azureid_client_id:
                      type: string
                    azureid_client_secret:
                      type: string
                    auth_with_default_credential_provider_chain:
                      type: boolean
                  required:
                  - authentication_type
                  - auth_with_default_credential_provider_chain
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - basic
                    basic_username:
                      type: string
                    basic_password:
                      type: string
                  required:
                  - authentication_type
                  - basic_username
                  additionalProperties: false
                - type: object
                  properties:
                    bearer_token:
                      type: string
                    authentication_type:
                      type: string
                      enum:
                      - bearer
                  required:
                  - authentication_type
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - digest
                    digest_username:
                      type: string
                    digest_password:
                      type: string
                  required:
                  - authentication_type
                  - digest_username
                  - digest_password
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - oauth1
                    oauth1_signature_method:
                      anyOf:
                      - type: string
                        enum:
                        - HMAC-SHA1
                      - type: string
                        enum:
                        - HMAC-SHA256
                      - type: string
                        enum:
                        - PLAINTEXT
                    oauth1_consumer_key:
                      type: string
                    oauth1_consumer_secret:
                      type: string
                    oauth1_token_key:
                      type: string
                    oauth1_token_secret:
                      type: string
                    oauth1_realm_parameter:
                      type: string
                  required:
                  - authentication_type
                  - oauth1_signature_method
                  - oauth1_consumer_key
                  - oauth1_consumer_secret
                  - oauth1_token_key
                  - oauth1_token_secret
                  - oauth1_realm_parameter
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - oauth2
                    oauth2_audience:
                      type: string
                    oauth2_access_token:
                      type: string
                    oauth2_access_token_url:
                      type: string
                    oauth2_access_token_lifespan_seconds:
                      type: number
                      nullable: true
                    oauth2_auth_url:
                      type: string
                    oauth2_client_id:
                      type: string
                    oauth2_client_secret:
                      type: string
                    oauth2_callback_url:
                      type: string
                    oauth2_id_token:
                      type: string
                    oauth2_refresh_token:
                      type: string
                    oauth2_scope:
                      type: string
                    oauth2_resource:
                      type: string
                    oauth2_share_user_credentials:
                      type: boolean
                    verify_session_url:
                      type: string
                  required:
                  - authentication_type
                  - oauth2_access_token_url
                  - oauth2_auth_url
                  - oauth2_client_id
                  - oauth2_client_secret
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - none
                  required:
                  - authentication_type
                  additionalProperties: false
                description: Note that custom auth is not yet supported.
            required:
            - base_url
            additionalProperties: false
            title: Rest API Options
          - type: object
            properties:
              authentication_options:
                anyOf:
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - auth0
                    auth0_domain:
                      type: string
                    auth0_client_id:
                      type: string
                    auth0_client_secret:
                      type: string
                    auth0_custom_audience:
                      type: string
                  required:
                  - authentication_type
                  - auth0_domain
                  - auth0_client_id
                  - auth0_client_secret
                  - auth0_custom_audience
                  additionalProperties: false
                - type: object
                  properties:
                    bearer_token:
                      type: string
                    authentication_type:
                      type: string
                      enum:
                      - bearer
                  required:
                  - authentication_type
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - oauth2
                    oauth2_audience:
                      type: string
                    oauth2_access_token:
                      type: string
                    oauth2_access_token_url:
                      type: string
                    oauth2_access_token_lifespan_seconds:
                      type: number
                      nullable: true
                    oauth2_auth_url:
                      type: string
                    oauth2_client_id:
                      type: string
                    oauth2_client_secret:
                      type: string
                    oauth2_callback_url:
                      type: string
                    oauth2_id_token:
                      type: string
                    oauth2_refresh_token:
                      type: string
                    oauth2_scope:
                      type: string
                    oauth2_resource:
                      type: string
                    oauth2_share_user_credentials:
                      type: boolean
                    verify_session_url:
                      type: string
                  required:
                  - authentication_type
                  - oauth2_access_token_url
                  - oauth2_auth_url
                  - oauth2_client_id
                  - oauth2_client_secret
                  additionalProperties: false
                - type: object
                  properties:
                    authentication_type:
                      type: string
                      enum:
                      - none
                  required:
                  - authentication_type
                  additionalProperties: false
              max_receive_message_length:
                type: string
              max_send_message_length:
                type: string
              metadata:
                type: array
                items:
                  type: array
                  items:
                    type: string
              options:
                nullable: true
              proto_file_url:
                type: string
              proto_file_url_headers:
                type: array
                nullable: true
                items:
                  type: array
                  items:
                    type: string
              proto_source:
                type: string
                enum:
                - url
                - file_system
                - reflection
              service_name:
                type: string
              service_names:
                type: array
                items:
                  type: string
              verify_session_action_enabled:
                type: boolean
            additionalProperties: false
            title: gRPC Options
          - type: object
            properties: {}
            additionalProperties: false
        created_at:
          type: string
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          example: '2019-02-24T18:28:18.790Z'
      required:
      - id
      - resource
      - environment
      - options
      - created_at
      - updated_at
      additionalProperties: false
      description: Resource Configuration
    environment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        description:
          type: string
          nullable: true
        color:
          type: string
          pattern: ^#[A-Fa-f0-9]{6}$
          example: '#FFFFFF'
        default:
          type: boolean
        created_at:
          type: string
        updated_at:
          type: string
      required:
      - id
      - name
      - description
      - color
      - default
      - created_at
      - updated_at
      description: Environment
    customComponentLibrary:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          description: How the library will be referred to in Toolscript, and other code based usages.
        description:
          type: string
          nullable: true
        label:
          type: string
          description: How the library will be referred to in the Retool UI. Should be human readable.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - name
      - description
      - label
      - created_at
      - updated_at
      description: Custom Component Library
    customComponentLibraryRevision:
      type: object
      properties:
        id:
          type: string
          format: uuid
        version:
          type: string
        custom_component_library_id:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - id
      - version
      - custom_component_library_id
      - created_at
      - updated_at
      description: Custom Component Library Revision
    customComponentLibraryRevisionFile:
      type: object
      properties:
        filepath:
          type: string
        file_contents:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
      required:
      - filepath
      - file_contents
      - created_at
      - updated_at
      description: Custom Component Library Revision
    configuration_variable:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the configuration variable
        name:
          type: string
          description: The name of the configuration variable
        description:
          type: string
          description: The description of the configuration variable
        secret:
          type: boolean
          description: Whether the configuration variable is a secret
        values:
          type: array
          items:
            type: object
            properties:
              environment_id:
                type: string
                description: The ID of the environment
              value:
                type: string
                description: The value of the configuration variable
            required:
            - environment_id
            - value
        default_value:
          type: string
          nullable: true
          description: The value to use in any environment where no value was specifically set for that environment
      required:
      - id
      - name
      - secret
      - values
      - default_value
    observability_configuration:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The id of the configuration.
        config:
          oneOf:
          - type: object
            properties:
              provider:
                type: string
                enum:
                - Sentry
                description: This is an enumerated field that can only take the value "Sentry". It identifies the provider of the observability configuration.
              dsn:
                type: string
                description: This is a string field that represents the Data Source Name (DSN). It is the unique identifier that helps Sentry know where to send errors and exceptions.
              ca_certs:
                type: array
                items:
                  type: string
                description: This is an optional array of Certificate Authority (CA) certificates. These are passed as `caCerts` to Sentry's NodeClient
            required:
            - provider
            - dsn
          - type: object
            properties:
              provider:
                type: string
                enum:
                - Datadog
                description: This is an enumerated field that can only take the value "Datadog". It identifies the provider of the observability configuration.
              api_key:
                type: string
                description: This is a string field that represents the API key for Datadog. This key is used to authenticate with the Datadog API.
              site:
                type: string
                enum:
                - US1
                - US3
                - US5
                - EU1
                - US1-FED
                - AP1
                default: US1
                description: This is a enumerated field that represents the Datadog site which the organization wants to send logs to. The default value is US1 which corresponds to the default website datadoghq.com.
            required:
            - provider
            - api_key
            - site
          description: Provider-specific configuration. For Datadog, provide an API key. For Sentry, provide a DSN.
        enabled:
          type: boolean
          description: When enabled, use this provider for apps observability monitoring.
      required:
      - id
      - config
      - enabled
      additionalProperties: false
      description: Shape of external Observability provider config
    usage_analytics_organization:
      type: object
      properties:
        org_id:
          type: string
          description: The id of the organization
        host:
          type: string
          description: The host of the organization
        last_active:
          type: string
          format: date-time
          example: '2019-02-08T11:45:48.899Z'
      required:
      - org_id
      - host
      - last_active
      additionalProperties: false
      description: An organization in the context of usage analytics
    usage:
      type: object
      properties:
        count_current_page_saves:
          type: number
          description: The number of page saves for all the organizations within the date range
        count_current_page_views:
          type: number
          description: The number of page views for all the organizations within the date range
        count_current_users:
          type: number
          description: The total number of unique users who have performed any tracked activity in all the organizations within the date range
        count_T30_users:
          type: number
          description: The number of unique users who have been active over the trailing 30 days from the end date provided
        percent_growth_page_saves:
          type: number
          description: The percentage growth in page saves compared to the previous cycle of the same length as the provided date range
        percent_growth_page_views:
          type: number
          description: The percentage growth in page views compared to the previous cycle of the same length as the provided date range
        percent_growth_users:
          type: number
          description: The percentage growth in unique users compared to the previous cycle of the same length as the provided date range
        percent_growth_T30_users:
          type: number
          description: The percentage growth in T30 users (trailing 30 days users) compared to the previous cycle of the same length as the provided date range
        daily_T30_usage:
          type: array
          items:
            type: object
            properties:
              day:
                type: string
              maa:
                type: number
                description: The number of distinct applications that were active on the given day
              mau:
                type: number
                description: The number of distinct users who were active on the given day
            required:
            - day
            - maa
            - mau
      required:
      - count_current_page_saves
      - count_current_page_views
      - count_current_users
      - count_T30_users
      - percent_growth_page_saves
      - percent_growth_page_views
      - percent_growth_users
      - percent_growth_T30_users
      - daily_T30_usage
      additionalProperties: false
    appSummary:
      type: object
      properties:
        app_name:
          type: string
          description: The name of the app
        host:
          type: string
          description: The organization host
        count_app_views:
          type: number
          description: The number of views of the app in the time range specified
        count_app_saves:
          type: number
          description: The number of saves of the app in the time range specified
        count_viewers:
          type: number
          description: The number of viewers of the app in the time range specified
        count_editors:
          type: number
          description: The number of editors of the app in the time range specified
      required:
      - app_name
      - host
      - count_app_views
      - count_app_saves
      - count_viewers
      - count_editors
      additionalProperties: false
    userTask:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The ID of the user task.
        workflow_id:
          type: string
          format: uuid
          description: The ID of the workflow this task belongs to.
        workflow_name:
          type: string
          description: The name of the workflow.
        workflow_run_id:
          type: string
          format: uuid
          description: The ID of the workflow run.
        task_name:
          type: string
          description: The name of the task.
        status:
          type: string
          enum:
          - submitted
          - pending
          - cancelled
          - expired
          description: The current status of the task.
        context:
          type: object
          additionalProperties:
            nullable: true
          description: Additional context for the task.
        created_at:
          type: string
          description: The creation date time of the task.
        completed_at:
          type: string
          nullable: true
          description: The completion date time of the task.
        task_url:
          type: array
          items:
            type: string
          description: URL links to apps associated with the task.
        assignees:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
              id:
                type: number
              name:
                type: string
            required:
            - type
            - id
            - name
          description: The groups or users assigned to this task.
        workflow_release:
          type: string
          nullable: true
          description: The workflow release version, if any.
        expires_at:
          type: string
          nullable: true
          description: The expiration date time of the task, if set.
        output:
          type: object
          additionalProperties:
            nullable: true
      required:
      - id
      - workflow_id
      - workflow_name
      - workflow_run_id
      - task_name
      - status
      - context
      - created_at
      - completed_at
      - task_url
      - assignees
      - workflow_release
      - expires_at
      description: User-defined context for the task.
    workflowRunWithUserTask:
      type: object
      properties:
        status:
          type: string
          description: The status of the workflow run.
        workflow_id:
          type: string
          format: uuid
          description: The ID of the workflow.
        id:
          type: string
          format: uuid
          description: The ID of the workflow run.
        trigger_type:
          type: string
          description: The type of trigger that started the workflow.
        trigger_id:
          type: string
          format: uuid
          description: The ID of the trigger.
        created_at:
          type: string
          description: The creation date time of the workflow run.
        user_tasks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
                format: uuid
                description: The ID of the user task.
              workflow_id:
                type: string
                format: uuid
                description: The ID of the workflow this task belongs to.
              workflow_name:
                type: string
                description: The name of the workflow.
              workflow_run_id:
                type: string
                format: uuid
                description: The ID of the workflow run.
              task_name:
                type: string
                description: The name of the task.
              status:
                type: string
                enum:
                - submitted
                - pending
                - cancelled
                - expired
                description: The current status of the task.
              context:
                type: object
                additionalProperties:
                  nullable: true
                description: Additional context for the task.
              created_at:
                type: string
                description: The creation date time of the task.
              completed_at:
                type: string
                nullable: true
                description: The completion date time of the task.
              task_url:
                type: array
                items:
                  type: string
                description: URL links to apps associated with the task.
              assignees:
                type: array
                items:
                  type: object
                  properties:
                    type:
                      type: string
                    id:
                      type: number
                    name:
                      type: string
                  required:
                  - type
                  - id
                  - name
                description: The groups or users assigned to this task.
              workflow_release:
                type: string
                nullable: true
                description: The workflow release version, if any.
              expires_at:
                type: string
                nullable: true
                description: The expiration date time of the task, if set.
              output:
                type: object
                additionalProperties:
                  nullable: true
            required:
            - id
            - workflow_id
            - workflow_name
            - workflow_run_id
            - task_name
            - status
            - context
            - created_at
            - completed_at
            - task_url
            - assignees
            - workflow_release
            - expires_at
            description: User-defined context for the task.
          description: List of user tasks of the workfow run.
      required:
      - status
      - workflow_id
      - id
      - trigger_type
      - trigger_id
      - created_at
      description: A workflow run and related data.
    organization_settings:
      type: object
      properties:
        id:
          type: string
          description: The id of the organization.
        request_access_enabled:
          type: boolean
          description: Whether users can request access to join the organization.
        ai_support_bot_disabled:
          type: boolean
          description: Whether the AI support bot is disabled.
        retool_forms_disabled:
          type: boolean
          description: Whether Retool forms are disabled.
        release_management_enabled:
          type: boolean
          description: Whether versions and releases on apps are disabled.
        cache_queries_per_user:
          type: boolean
          nullable: true
        apply_preloaded_css_to_homepage:
          type: boolean
          description: Whether preloaded CSS is applied to the Retool homepage.
        preloaded_css:
          type: string
          nullable: true
          description: Custom CSS rules to apply across Retool.
        preloaded_javascript:
          type: string
          nullable: true
          description: Preloaded JavaScript that will apply to every Retool app.
        javascript_links:
          type: array
          items:
            type: string
          description: List of custom JavaScript libraries to load in every app.
        workflow_run_retention_period_mins:
          type: number
          description: Number of minutes to store workflow run history data (up to a max of 90 days on cloud, 1 year on-prem)
        app_owners_permissions_management:
          type: boolean
          description: Whether app owners can manage permissions for their apps directly.
        two_factor_auth_required:
          type: boolean
          description: Whether two-factor authentication is required for all users in the organization.
        two_factor_auth_type:
          type: string
          nullable: true
          enum:
          - fido2
          - otp
          description: Required 2FA type, applies to the whole organization
        disable_new_login_ip_notification_email:
          type: boolean
          description: Whether notification emails for logins from new IPs are disabled.
        hide_environment_toggle:
          type: boolean
          description: Whether multiple environments are disabled (hidden from users).
      required:
      - id
      - request_access_enabled
      - ai_support_bot_disabled
      - retool_forms_disabled
      - release_management_enabled
      - cache_queries_per_user
      - apply_preloaded_css_to_homepage
      - preloaded_css
      - preloaded_javascript
      - javascript_links
      - workflow_run_retention_period_mins
      - app_owners_permissions_management
      - two_factor_auth_required
      - two_factor_auth_type
      - disable_new_login_ip_notification_email
      - hide_environment_toggle
      additionalProperties: false
      description: This object represents the advanced settings configured on an organization.
    analytics_integrations_settings:
      oneOf:
      - type: object
        properties:
          type:
            type: string
            enum:
            - google
          measurement_id:
            type: string
          enabled:
            type: boolean
        required:
        - type
        - measurement_id
        - enabled
      - type: object
        properties:
          type:
            type: string
            enum:
            - segment
          host:
            type: string
            enum:
            - US
            - EU
          api_key:
            type: string
          enabled:
            type: boolean
        required:
        - type
        - host
        - api_key
        - enabled
      - type: object
        properties:
          type:
            type: string
            enum:
            - stdout
          enabled:
            type: boolean
        required:
        - type
        - enabled
    workflow:
      type: object
      properties:
        id:
          type: string
          format: uuid
          description: The Workflow ID.
        name:
          type: string
          description: The name of the Workflow
        description:
          type: string
          nullable: true
          description: The description of the Workflow
        crontab:
          type: string
          nullable: true
          description: The cron tab of the Workflow
        timezone:
          type: string
          nullable: true
          description: The timezone of the Workflow
        is_enabled:
          type: boolean
          description: Whether the Workflow is enabled
        folder_id:
          type: string
          description: The folder ID of the Workflow
        protected:
          type: boolean
          description: Whether the Workflow is protected
        created_by:
          type: number
          nullable: true
          description: The user ID of the creator of the Workflow
        created_at:
          type: string
          format: date-time
          example: '2019-02-08T11:45:48.899Z'
        updated_at:
          type: string
          format: date-time
          example: '2019-02-24T18:28:18.790Z'
        code_executor_memory_limit_mbs:
          type: integer
          nullable: true
          minimum: 256
          maximum: 32768
          description: Per-workflow Code Executor memory limit in MB. null = use org or env var default.
      required:
      - id
      - name
      - description
      - crontab
      - timezone
      - is_enabled
      - folder_id
      - protected
      - created_by
      - created_at
      - updated_at
      - code_executor_memory_limit_mbs
[...]
