*.key
*.pem
*.pyc
.DS_Store
.claude/
.env
.env.*
__pycache__/
auth/*/dist/
credentials.json
datastore/*/dist/
gestalt
plugins/*/*.egg-info/
plugins/*/.venv/
plugins/*/dist/
service-account*.json
web/*/dist/
