*.key
*.pem
*.pyc
.DS_Store
.claude/
.env
.env.*
__pycache__/
auth/*/dist/
credentials.json
datastore/*/dist/
gestalt
apps/*/*.egg-info/
apps/*/.venv/
apps/*/dist/
service-account*.json
web/*/dist/
ui/*/.next/
ui/*/node_modules/
ui/*/out/
