openapi: 3.0.0
info:
  title: Vanta
  version: 1.0.0
  description: Security, compliance, and trust management API
  termsOfService: https://www.vanta.com/terms
  license:
    name: UNLICENSED
  contact:
    name: API Support
    url: https://help.vanta.com/
    email: support@vanta.com
servers:
- url: https://api.vanta.com/v1
security:
- bearerAuth: []
paths:
  /contracts:
    post:
      operationId: UploadContract
      responses:
        '201':
          description: Contract created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
              examples:
                Example 1:
                  value:
                    id: 65e1efde08e8478f143a8ff9
                    name: Example Contract
                    customerTrustAccountId: null
                    executedDate: '2024-01-15T00:00:00.000Z'
                    creationDate: '2024-01-01T00:00:00.000Z'
      description: Upload a contract.
      summary: Upload contract
      tags:
      - Contracts
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: The contract file to upload. Only PDF files are accepted.
              required:
              - file
    get:
      operationId: ListContracts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Contract_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: 65e1efde08e8478f143a8ff9
                        name: Example Contract
                        customerTrustAccountId: null
                        executedDate: '2024-01-15T00:00:00.000Z'
                        creationDate: '2024-01-01T00:00:00.000Z'
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: 65e1efde08e8478f143a8ff9
                        endCursor: 65e1efde08e8478f143a8ff9
      description: List contracts, paginated.
      summary: List contracts
      tags:
      - Contracts
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /contracts/{contractId}:
    get:
      operationId: GetContract
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
              examples:
                Example 1:
                  value:
                    id: 65e1efde08e8478f143a8ff9
                    name: Example Contract
                    customerTrustAccountId: null
                    executedDate: '2024-01-15T00:00:00.000Z'
                    creationDate: '2024-01-01T00:00:00.000Z'
      description: Get a contract by ID.
      summary: Get contract
      tags:
      - Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
    delete:
      operationId: DeleteContract
      responses:
        '204':
          description: Contract deleted
      description: Delete a contract by ID.
      summary: Delete contract
      tags:
      - Contracts
      parameters:
      - in: path
        name: contractId
        required: true
        schema:
          type: string
  /controls:
    post:
      operationId: CreateCustomControl
      responses:
        '201':
          description: Custom Control created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: null
                    modificationDate: null
      description: Create a custom control.
      summary: Create custom control
      tags:
      - Controls
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateControlInput'
    get:
      operationId: ListControls
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Control_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d9
                        externalId: CRY-104
                        name: Data encryption utilized
                        description: Access reviews are performed to ensure that access
                          is appropriate for the user's role and responsibilities.
                        source: Vanta
                        domains:
                        - CRYPTOGRAPHIC_PROTECTIONS
                        owner:
                          id: 65e1efde08e8478f143a8ff9
                          emailAddress: example-person@email.com
                          displayName: Example Owner
                        role: CONTROLLER
                        customFields:
                        - label: Additional context
                          value: This control is critical for GDPR compliance
                        creationDate: null
                        modificationDate: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: YXJyYXljb25uZWN0aW9uOjA=
                        endCursor: YXJyYXljb25uZWN0aW9uOjE=
                      totalCount: 1
      description: List controls.
      summary: List controls
      tags:
      - Controls
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
      - description: Includes all controls belonging to one of the provided framework
          values in frameworkMatchesAny.
        in: query
        name: frameworkMatchesAny
        required: false
        schema:
          type: array
          items:
            type: string
  /controls/add-from-library:
    post:
      operationId: AddControlFromLibrary
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: null
                    modificationDate: null
      description: Add a control from the Vanta library to your organization's controls.
      summary: Add control from Vanta library
      tags:
      - Controls
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddControlFromLibraryInput'
  /controls/controls-library:
    get:
      operationId: ListLibraryControls
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Control_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d9
                        externalId: CRY-104
                        name: Data encryption utilized
                        description: Access reviews are performed to ensure that access
                          is appropriate for the user's role and responsibilities.
                        source: Vanta
                        domains:
                        - CRYPTOGRAPHIC_PROTECTIONS
                        owner:
                          id: 65e1efde08e8478f143a8ff9
                          emailAddress: example-person@email.com
                          displayName: Example Owner
                        role: CONTROLLER
                        customFields:
                        - label: Additional context
                          value: This control is critical for GDPR compliance
                        creationDate: null
                        modificationDate: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: YXJyYXljb25uZWN0aW9uOjA=
                        endCursor: YXJyYXljb25uZWN0aW9uOjE=
                      totalCount: 1
      description: List Vanta controls from the library.
      summary: List Vanta controls from the library
      tags:
      - Controls
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /controls/{controlId}:
    patch:
      operationId: UpdateControlMetadata
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: null
                    modificationDate: null
      description: Update a control's metadata.
      summary: Update a control's metadata
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditControlMetadataInput'
    delete:
      operationId: DeleteControl
      responses:
        '204':
          description: No content
      description: Deactivates a custom or Vanta control.
      summary: Deactivates a control
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
    get:
      operationId: GetControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ControlDetail'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    note: Remember to do by Friday
                    numDocumentsPassing: 1
                    numDocumentsTotal: 1
                    numTestsPassing: 2
                    numTestsTotal: 3
                    status: IN_PROGRESS
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: null
                    modificationDate: null
      description: Get a control by an ID.
      summary: Get control by an ID
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
  /controls/{controlId}/add-document-to-control:
    post:
      operationId: AddDocumentToControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  document:
                    $ref: '#/components/schemas/Document'
                  control:
                    $ref: '#/components/schemas/Control'
                required:
                - document
                - control
                type: object
              examples:
                Example 1:
                  value:
                    control:
                      id: a2f7e1b9d0c3f4e5a6c7b8d9
                      externalId: CRY-104
                      name: Data encryption utilized
                      description: Access reviews are performed to ensure that access
                        is appropriate for the user's role and responsibilities.
                      source: Vanta
                      domains:
                      - CRYPTOGRAPHIC_PROTECTIONS
                      owner:
                        id: 65e1efde08e8478f143a8ff9
                        emailAddress: example-person@email.com
                        displayName: Example Owner
                      role: CONTROLLER
                      customFields:
                      - label: Additional context
                        value: This control is critical for GDPR compliance
                      creationDate: null
                      modificationDate: null
                    document:
                      id: '1'
                      ownerId: '2'
                      category: Account setup
                      description: 'Provide two examples of a recent access request
                        and approval '
                      isSensitive: false
                      title: Document Title
                      uploadStatus: Needs document
                      uploadStatusDate: '2024-03-17T00:00:00.000Z'
                      url: https://example.com
      description: Add a document to a control.
      summary: Add control to document mapping
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddControlDocumentMappingInput'
  /controls/{controlId}/add-test-to-control:
    post:
      operationId: AddTestToControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                properties:
                  test:
                    $ref: '#/components/schemas/Test'
                  control:
                    $ref: '#/components/schemas/Control'
                required:
                - test
                - control
                type: object
              examples:
                Example 1:
                  value:
                    control:
                      id: a2f7e1b9d0c3f4e5a6c7b8d9
                      externalId: CRY-104
                      name: Data encryption utilized
                      description: Access reviews are performed to ensure that access
                        is appropriate for the user's role and responsibilities.
                      source: Vanta
                      domains:
                      - CRYPTOGRAPHIC_PROTECTIONS
                      owner:
                        id: 65e1efde08e8478f143a8ff9
                        emailAddress: example-person@email.com
                        displayName: Example Owner
                      role: CONTROLLER
                      customFields:
                      - label: Additional context
                        value: This control is critical for GDPR compliance
                      creationDate: null
                      modificationDate: null
                    test:
                      id: aws-account-access-removed-on-termination
                      name: AWS accounts deprovisioned when personnel leave
                      lastTestRunDate: '2024-06-18T20:17:38.463Z'
                      latestFlipDate: null
                      description: 'Verifies that AWS accounts linked to removed users
                        are removed.

                        '
                      failureDescription: Some AWS accounts associated with terminated
                        personnel have not been deactivated.
                      remediationDescription: 'Remove all accounts listed from AWS.

                        '
                      version:
                        major: 0
                        minor: 0
                      category: Account security
                      integrations:
                      - aws
                      status: OK
                      deactivatedStatusInfo:
                        isDeactivated: false
                        deactivatedReason: null
                        lastUpdatedDate: null
                      remediationStatusInfo:
                        status: PASS
                        soonestRemediateByDate: null
                        itemCount: 0
                      owner: null
      description: Add a control to test mapping.
      summary: Add control to test mapping
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddControlTestMappingInput'
  /controls/{controlId}/documents:
    get:
      operationId: ListDocumentsForControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Document_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: '1'
                        ownerId: '2'
                        category: Account setup
                        description: 'Provide two examples of a recent access request
                          and approval '
                        isSensitive: false
                        title: Document Title
                        uploadStatus: Needs document
                        uploadStatusDate: '2024-03-17T00:00:00.000Z'
                        url: https://example.com
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
      description: List a control's documents.
      summary: List a control's documents
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /controls/{controlId}/documents/{documentId}:
    delete:
      operationId: DeleteDocumentForcontrol
      responses:
        '204':
          description: No content
      description: Remove a document by ID from a control.
      summary: Remove control from document mapping
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      - in: path
        name: documentId
        required: true
        schema:
          type: string
  /controls/{controlId}/set-owner:
    post:
      operationId: SetOwnerForControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Control'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: null
                    modificationDate: null
      description: Assign a control to a user or remove an owner from a control.
      summary: Set owner of a control
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOwnerForControlInput'
  /controls/{controlId}/tests:
    get:
      operationId: ListTestsForControl
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Test_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: aws-account-access-removed-on-termination
                        name: AWS accounts deprovisioned when personnel leave
                        lastTestRunDate: '2024-06-18T20:17:38.463Z'
                        latestFlipDate: null
                        description: 'Verifies that AWS accounts linked to removed
                          users are removed.

                          '
                        failureDescription: Some AWS accounts associated with terminated
                          personnel have not been deactivated.
                        remediationDescription: 'Remove all accounts listed from AWS.

                          '
                        version:
                          major: 0
                          minor: 0
                        category: Account security
                        integrations:
                        - aws
                        status: OK
                        deactivatedStatusInfo:
                          isDeactivated: false
                          deactivatedReason: null
                          lastUpdatedDate: null
                        remediationStatusInfo:
                          status: PASS
                          soonestRemediateByDate: null
                          itemCount: 0
                        owner: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
      description: List a control's tests.
      summary: List a control's tests
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /controls/{controlId}/tests/{testId}:
    delete:
      operationId: DeleteTestForControl
      responses:
        '204':
          description: No content
      description: Remove a control from test mapping.
      summary: Remove control from test mapping
      tags:
      - Controls
      parameters:
      - in: path
        name: controlId
        required: true
        schema:
          type: string
      - in: path
        name: testId
        required: true
        schema:
          type: string
  /customer-trust/accounts:
    get:
      operationId: ListCustomerTrustAccounts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_CustomerTrustAccountVantaApi_'
              examples:
                Example 1:
                  value:
                    results:
                      pageInfo:
                        hasNextPage: true
                        hasPreviousPage: false
                        startCursor: cursor1
                        endCursor: cursor2
                      data:
                      - id: 507f1f77bcf86cd799439011
                        name: Acme Corporation
                        emailDomain: acme.com
                        createdDate: '2024-01-01T00:00:00.000Z'
                        updatedDate: '2024-01-02T00:00:00.000Z'
                        ndaDetails:
                          ndaStatus: SIGNED
                          ndaSatisfiedDate: '2024-01-02T00:00:00.000Z'
                        accessConfig:
                          autoApprovalEnabled: false
                          grantAccessOption: INCLUDE_EVERYTHING_REQUESTED
                        customFields:
                        - label: externalId
                          value: '12345'
                        tagsByCategory:
                        - categoryId: 507f1f77bcf86cd799439012
                          tagIds:
                          - 507f1f77bcf86cd799439013
      description: List customer trust accounts with pagination.
      summary: List customer trust accounts
      tags:
      - Customer Trust
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
      - in: query
        name: searchString
        required: false
        schema:
          type: string
      - in: query
        name: isAutoApprovalEnabled
        required: false
        schema:
          type: boolean
      - in: query
        name: customFieldsFilter
        required: false
        schema:
          type: string
    post:
      operationId: CreateCustomerTrustAccount
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustAccountVantaApi'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    name: Acme Corporation
                    emailDomain: acme.com
                    createdDate: '2024-01-01T00:00:00.000Z'
                    updatedDate: '2024-01-02T00:00:00.000Z'
                    ndaDetails:
                      ndaStatus: SIGNED
                      ndaSatisfiedDate: '2024-01-02T00:00:00.000Z'
                    accessConfig:
                      autoApprovalEnabled: false
                      grantAccessOption: INCLUDE_EVERYTHING_REQUESTED
                    customFields:
                    - label: externalId
                      value: '12345'
                    tagsByCategory:
                    - categoryId: 507f1f77bcf86cd799439012
                      tagIds:
                      - 507f1f77bcf86cd799439013
      description: Create a new customer trust account.
      summary: Create customer trust account
      tags:
      - Customer Trust
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCustomerTrustAccountInput'
  /customer-trust/accounts/{accountId}:
    get:
      operationId: GetCustomerTrustAccount
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustAccountVantaApi'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    name: Acme Corporation
                    emailDomain: acme.com
                    createdDate: '2024-01-01T00:00:00.000Z'
                    updatedDate: '2024-01-02T00:00:00.000Z'
                    ndaDetails:
                      ndaStatus: SIGNED
                      ndaSatisfiedDate: '2024-01-02T00:00:00.000Z'
                    accessConfig:
                      autoApprovalEnabled: false
                      grantAccessOption: INCLUDE_EVERYTHING_REQUESTED
                    customFields:
                    - label: externalId
                      value: '12345'
                    tagsByCategory:
                    - categoryId: 507f1f77bcf86cd799439012
                      tagIds:
                      - 507f1f77bcf86cd799439013
      description: Get a specific customer trust account by ID.
      summary: Get customer trust account
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
    delete:
      operationId: DeleteCustomerTrustAccount
      responses:
        '204':
          description: No content
      description: Delete a customer trust account by ID.
      summary: Delete customer trust account
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
    patch:
      operationId: UpdateCustomerTrustAccount
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustAccountVantaApi'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    name: Acme Corporation
                    emailDomain: acme.com
                    createdDate: '2024-01-01T00:00:00.000Z'
                    updatedDate: '2024-01-02T00:00:00.000Z'
                    ndaDetails:
                      ndaStatus: SIGNED
                      ndaSatisfiedDate: '2024-01-02T00:00:00.000Z'
                    accessConfig:
                      autoApprovalEnabled: false
                      grantAccessOption: INCLUDE_EVERYTHING_REQUESTED
                    customFields:
                    - label: externalId
                      value: '12345'
                    tagsByCategory:
                    - categoryId: 507f1f77bcf86cd799439012
                      tagIds:
                      - 507f1f77bcf86cd799439013
      description: Update a customer trust account by ID.
      summary: Update customer trust account
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditCustomerTrustAccountInput'
  /customer-trust/questionnaires:
    get:
      operationId: ListQuestionnaires
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_CustomerTrustQuestionnaire_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: 507f1f77bcf86cd799439011
                        displayName: SOC 2 Security Questionnaire
                        type: SPREADSHEET
                        status: IN_PROGRESS
                        statusLog: []
                        dueDate: '2024-12-31T00:00:00.000Z'
                        metadata:
                        - key: priority
                          value: high
                        tagAndCategoryIds: []
                        createdDate: '2024-12-01T00:00:00.000Z'
                        updatedDate: '2024-12-14T00:00:00.000Z'
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: 507f1f77bcf86cd799439011
                        endCursor: 507f1f77bcf86cd799439011
      description: List questionnaires with filtering and pagination.
      summary: List questionnaires
      tags:
      - Customer Trust
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
      - description: Filter questionnaires by display name (case-insensitive, partial
          match).
        in: query
        name: q
        required: false
        schema:
          type: string
      - description: Filter questionnaires matching any of the provided statuses.
        in: query
        name: statusMatchesAny
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/QuestionnaireStatus'
      - description: Filter questionnaires matching any of the provided types.
        in: query
        name: typeMatchesAny
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CustomerTrustQuestionnaireType'
      - description: Filter to questionnaires created after this date (ISO 8601 string).
        in: query
        name: createdAfter
        required: false
        schema:
          type: string
      - description: Filter to questionnaires created before this date (ISO 8601 string).
        in: query
        name: createdBefore
        required: false
        schema:
          type: string
      - description: Filter to questionnaires owned by any of the provided user IDs.
        in: query
        name: ownerIdMatchesAny
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Filter to questionnaires with an approver matching any of the
          provided user IDs.
        in: query
        name: approverIdMatchesAny
        required: false
        schema:
          type: array
          items:
            type: string
  /customer-trust/questionnaires/assignable-users:
    get:
      operationId: ListAssignableUsers
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuestionnaireAssignableUsersResponse'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: usr_1234567890
                        displayName: Jane Doe
      description: 'List users who can be assigned as owner or approver on a questionnaire.


        When a role is specified, results are filtered to users with that role''s
        required permission.

        When omitted, users assignable to either role are returned.

        Results can optionally be narrowed by a search string.'
      summary: List assignable users
      tags:
      - Customer Trust
      parameters:
      - description: 'Filter by role: "owner" or "approver".'
        in: query
        name: role
        required: false
        schema:
          $ref: '#/components/schemas/QuestionnaireAssignableUserRole'
      - description: Optional search string to filter users by name or email.
        in: query
        name: q
        required: false
        schema:
          type: string
  /customer-trust/questionnaires/exports:
    post:
      operationId: CreateQuestionnaireExport
      responses:
        '202':
          description: Export created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustCreateQuestionnaireExportResponse'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    status: pending
                    format: original
                    requestedAt: '2025-01-08T12:00:00.000Z'
      description: 'Creates an asynchronous export job for a questionnaire. The export
        processes in the background

        and typically completes within a few minutes depending on questionnaire size.


        Subscribe to the `v1.questionnaire.export-completed` and `v1.questionnaire.export-failed`
        webhook events to be notified when an export completes or fails.

        Use the returned `id` with the "getQuestionnaireExport" endpoint to retrieve
        the download URL once the export completes.'
      summary: Create questionnaire export
      tags:
      - Customer Trust
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerTrustCreateQuestionnaireExportInput'
  /customer-trust/questionnaires/exports/{id}:
    get:
      operationId: GetQuestionnaireExport
      responses:
        '200':
          description: The export status and, if completed, the download URL.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustExportStatusResponse'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    status: completed
                    format: original
                    requestedAt: '2025-01-08T12:00:00.000Z'
                    completedAt: '2025-01-08T12:05:00.000Z'
                    downloadUrl: https://storage.example.com/exports/questionnaire-export.xlsx?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9&expires=1736424000
                    expiresAt: '2025-01-09T12:00:00.000Z'
      description: "Retrieves the current status and result of a questionnaire export\
        \ using the id received from either the `createQuestionnaireExport` endpoint\
        \ or the `v1.questionnaire.export-completed` webhook payload.\n\nThis endpoint\
        \ utilizes a dynamic response schema that changes based on the value of the\
        \ status field:\n\n  - pending: The export is currently in the queue or processing.\
        \ Only base metadata is returned.\n  - completed: The export finished successfully.\
        \ The response expands to include completedAt and a downloadUrl. This pre-signed\
        \ URL is valid for 24 hours; if it expires, simply call this endpoint again\
        \ to retrieve a fresh, active link.\n  - failed: The process encountered an\
        \ error. The response expands to include failedAt and an errorMessage detailing\
        \ the reason for failure.\n\nDevelopers should first check the status string\
        \ before attempting to access result-specific fields like downloadUrl or errorMessage."
      summary: Get questionnaire export status
      tags:
      - Customer Trust
      parameters:
      - description: The unique identifier of the export job, returned from the POST
          endpoint.
        in: path
        name: id
        required: true
        schema:
          type: string
  /customer-trust/questionnaires/file:
    post:
      operationId: CreateFileQuestionnaire
      responses:
        '201':
          description: File questionnaire created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: Create a new file-based questionnaire from an uploaded file (.xlsx,
        .docx, .pdf). File type is inferred as `SPREADSHEET` or `DOCUMENT` based on
        the uploaded file.
      summary: Create file questionnaire
      tags:
      - Customer Trust
      parameters: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                displayName:
                  type: string
                  description: Display name for the questionnaire.
                ownerAssignment:
                  type: string
                  description: 'Owner to assign, as a JSON string: {"type": "User"
                    | "Team", "id": "<id>"}.'
                approverAssignment:
                  type: string
                  description: 'Approver to assign, as a JSON string: {"type": "User"
                    | "Team", "id": "<id>"}.'
                description:
                  type: string
                  description: Description of the questionnaire.
                companyUrl:
                  type: string
                  description: URL of the company associated with this questionnaire.
                dueDate:
                  type: string
                  description: Due date for questionnaire completion.
                customerTrustAccountId:
                  type: string
                  description: ID of the customer trust account to associate with
                    this questionnaire.
                includeUntaggedEntitiesForCategoryIds:
                  type: string
                  description: Comma-separated category IDs for which to include untagged
                    entities.
                metadata:
                  type: string
                  description: 'Custom key-value pairs, as a JSON string array: [{"key":
                    "<key>", "value": "<value>"}]. Keys and values may contain alphanumeric
                    characters, hyphens, underscores, and periods.'
                tagAndCategoryIds:
                  type: string
                  description: 'Tags to assign, as a JSON string array: [{"categoryId":
                    "<id>", "tagId": "<id>"}]. Replaces all existing tags.'
              required:
              - file
              - displayName
  /customer-trust/questionnaires/website:
    post:
      operationId: CreateWebsiteQuestionnaire
      responses:
        '201':
          description: Website questionnaire created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: 'Create a new website-based questionnaire from a portal URL.


        The portal URL is used to fetch questionnaire content from the target website.'
      summary: Create website questionnaire
      tags:
      - Customer Trust
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebsiteQuestionnaireInput'
  /customer-trust/questionnaires/{questionnaireId}:
    get:
      operationId: GetQuestionnaire
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: Retrieve a questionnaire by ID.
      summary: Get questionnaire by ID
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: questionnaireId
        required: true
        schema:
          type: string
    delete:
      operationId: DeleteQuestionnaire
      responses:
        '204':
          description: No content
      description: Delete a questionnaire by ID.
      summary: Delete questionnaire
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: questionnaireId
        required: true
        schema:
          type: string
    patch:
      operationId: UpdateQuestionnaire
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: 'Update an existing questionnaire.


        Updates one or more fields of a questionnaire.

        This endpoint cannot be used to set a questionnaire''s status to `APPROVED`
        or `COMPLETED`. To perform those specific transitions, please use the `approveQuestionnaire`
        and `completeQuestionnaire` endpoints, respectively.'
      summary: Update questionnaire
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: questionnaireId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateQuestionnaireArgs'
  /customer-trust/questionnaires/{questionnaireId}/approve:
    post:
      operationId: ApproveQuestionnaire
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: Mark a questionnaire as `APPROVED` and optionally provide a `statusChangeMessage`.
      summary: Approve questionnaire
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: questionnaireId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApproveQuestionnaireRequest'
  /customer-trust/questionnaires/{questionnaireId}/complete:
    post:
      operationId: CompleteQuestionnaire
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerTrustQuestionnaire'
              examples:
                Example 1:
                  value:
                    id: 507f1f77bcf86cd799439011
                    displayName: SOC 2 Security Questionnaire
                    type: SPREADSHEET
                    status: IN_PROGRESS
                    statusLog: []
                    dueDate: '2024-12-31T00:00:00.000Z'
                    metadata:
                    - key: priority
                      value: high
                    tagAndCategoryIds: []
                    createdDate: '2024-12-01T00:00:00.000Z'
                    updatedDate: '2024-12-14T00:00:00.000Z'
      description: 'Complete a questionnaire and optionally sync approved answers
        to the answer library.


        Transitions the questionnaire status to COMPLETE. If `shouldSyncApprovedToAnswerLibrary`
        is true

        (the default), approved answers are added to the answer library for future
        use. For

        non-English SPREADSHEET or DOCUMENT questionnaires, answer library sync will
        be ignored.'
      summary: Complete questionnaire
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: questionnaireId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CompleteQuestionnaireRequest'
  /customer-trust/tag-categories:
    get:
      operationId: ListTagCategories
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArrayResponse_UserDefinedTagCategory_'
              examples:
                Example 1:
                  value:
                    results:
                    - id: 507f1f77bcf86cd799439011
                      displayName: Industry
                    - id: 507f1f77bcf86cd799439012
                      displayName: Region
      description: List user-defined tag categories. Optionally filter by product
        context.
      summary: List tag categories
      tags:
      - Customer Trust
      parameters:
      - in: query
        name: productContextIdsMatchesAny
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/CustomerTrustProductContextIdFilter'
  /customer-trust/tag-categories/{tagCategoryId}:
    get:
      operationId: GetTagsForCategory
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TagCategoryWithTags'
              examples:
                Example 1:
                  value:
                    category:
                      id: 507f1f77bcf86cd799439011
                      displayName: Industry
                    tags:
                    - id: 507f1f77bcf86cd799439013
                      category: 507f1f77bcf86cd799439011
                      displayName: Healthcare
                    - id: 507f1f77bcf86cd799439014
                      category: 507f1f77bcf86cd799439011
                      displayName: Finance
      description: Retrieve a tag category and its associated tags by category ID.
      summary: Get tags for category
      tags:
      - Customer Trust
      parameters:
      - in: path
        name: tagCategoryId
        required: true
        schema:
          type: string
  /discovered-vendors:
    get:
      operationId: ListDiscoveredVendors
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_DiscoveredVendor_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d8
                        name: Vanta
                        category:
                          name: Engineering
                        source: JAMF
                        normalizedName: vanta
                        discoveredDate: '2024-01-01T00:00:00.000Z'
                        numberOfAccounts: 7
                        ignored:
                          ignoredByUserId: 6626afb14c912f0a50e85619
                          ignoredReason: reason
                          ignoredAtDate: '2024-02-01T00:00:00.000Z'
                        rejected: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: 6696ea0595df50d5cd6ec3b7
                        endCursor: 6696ece48eb1f98ff3d927c6
      description: List discovered vendors.
      summary: List discovered vendors
      tags:
      - Discovered Vendors
      parameters:
      - description: Defaults to "NEEDS_REVIEW" if not provided
        in: query
        name: scope
        required: false
        schema:
          $ref: '#/components/schemas/DiscoveredVendorScope'
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /discovered-vendors/{discoveredVendorId}/accounts:
    get:
      operationId: ListDiscoveredVendorAccounts
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_DiscoveredVendorAccount_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: 66c6578ce02cc3a3483024d1
                        displayName: Example Computer
                        type: COMPUTER
                        owner:
                          id: a2f7e1b9d0c3f4e5a6c7b8d8
                          displayName: Example user
                          email: example@example.com
                          type: USER
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: 6696ea0595df50d5cd6ec3b7
                        endCursor: 6696ece48eb1f98ff3d927c6
      description: List of discovered vendor accounts.
      summary: List of discovered vendor accounts
      tags:
      - Discovered Vendors
      parameters:
      - in: path
        name: discoveredVendorId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /discovered-vendors/{discoveredVendorId}/add-to-managed:
    post:
      operationId: AddDiscoveredVendorToManaged
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vendor'
              examples:
                Example 1:
                  value:
                    id: a2f7e1b9d0c3f4e5a6c7b8d8
                    name: Vanta
                    websiteUrl: https://www.vanta.com/
                    accountManagerName: John Doe
                    accountManagerEmail: john@doe.com
                    servicesProvided: SaaS
                    additionalNotes: Automate compliance and streamline security reviews
                      with the leading trust management platform.
                    authDetails:
                      method: O_AUTH
                      passwordMFA: true
                      passwordRequiresNumber: true
                      passwordRequiresSymbol: true
                      passwordMinimumLength: 16
                    securityOwnerUserId: 6626afa6490ec920099773e7
                    businessOwnerUserId: 6626afb14c912f0a50e85619
                    contractStartDate: '2024-02-01T00:00:00.000Z'
                    contractRenewalDate: '2025-02-01T00:00:00.000Z'
                    contractTerminationDate: null
                    lastSecurityReviewCompletionDate: '2024-01-01T00:00:00.000Z'
                    nextSecurityReviewDueDate: '2025-01-01T00:00:00.000Z'
                    isVisibleToAuditors: true
                    isRiskAutoScored: true
                    category:
                      displayName: cloudMonitoring
                    riskAttributeIds:
                    - 6626b0298acc44f8674390da
                    - 6626b02ea4cd9ba80d773c20
                    status: MANAGED
                    inherentRiskLevel: HIGH
                    residualRiskLevel: MEDIUM
                    vendorHeadquarters: USA
                    contractAmount:
                      amount: 1000000
                      currency: USD
                    customFields: null
                    latestDecision:
                      status: APPROVED
                      lastUpdatedAt: '2024-01-01T00:00:00.000Z'
                    linkedTaskTrackerTaskProcurementRequest:
                      service: jira
                      url: https://random-company.atlassian.net/browse/PROJ-123
      description: Add a discovered vendor to managed vendor.
      summary: Adds a discovered vendor to managed vendor by ID
      tags:
      - Discovered Vendors
      parameters:
      - in: path
        name: discoveredVendorId
        required: true
        schema:
          type: string
  /documents:
    post:
      operationId: CreateDocument
      responses:
        '201':
          description: Document created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Example 1:
                  value:
                    id: '1'
                    ownerId: '2'
                    category: Account setup
                    description: 'Provide two examples of a recent access request
                      and approval '
                    isSensitive: false
                    title: Document Title
                    uploadStatus: Needs document
                    uploadStatusDate: '2024-03-17T00:00:00.000Z'
                    url: https://example.com
      description: Create a custom document.
      summary: Create a custom document
      tags:
      - Documents
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateDocumentInput'
    get:
      operationId: ListDocuments
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Document_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: '1'
                        ownerId: '2'
                        category: Account setup
                        description: 'Provide two examples of a recent access request
                          and approval '
                        isSensitive: false
                        title: Document Title
                        uploadStatus: Needs document
                        uploadStatusDate: '2024-03-17T00:00:00.000Z'
                        url: https://example.com
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
      description: List documents.
      summary: List documents
      tags:
      - Documents
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
      - description: Includes all documents that match one of the provided framework
          values in frameworkMatchesAny.
        in: query
        name: frameworkMatchesAny
        required: false
        schema:
          type: array
          items:
            type: string
      - description: Includes all documents that match one of the provided status
          values in statusMatchesAny.
        in: query
        name: statusMatchesAny
        required: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/DocumentStatus'
  /documents/{documentId}:
    delete:
      operationId: DeleteDocument
      responses:
        '204':
          description: No content
      description: Delete a document by ID.
      summary: Delete document by ID
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
    get:
      operationId: GetDocument
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentDetail'
              examples:
                Example 1:
                  value:
                    id: access-requests
                    title: Access request ticket and history
                    description: 'Provide two examples of a recent access request
                      and approval '
                    isSensitive: false
                    uploadStatusDate: '2024-03-17T00:00:00.000Z'
                    category: Account setup
                    uploadStatus: Needs document
                    url: https://example.com
                    ownerId: '1'
                    note: Example document note
                    nextRenewalDate: '2025-03-17T00:00:00.000Z'
                    renewalCadence: P1Y
                    reminderWindow: P1M
                    deactivatedStatus:
                      isDeactivated: false
                      reason: null
                      expiration: null
                      creationDate: '2024-03-02T00:00:00.000Z'
                    subscribers: []
      description: Get a document by ID.
      summary: Get document by ID
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
  /documents/{documentId}/controls:
    get:
      operationId: ListControlsForDocument
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Control_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: '1'
                        ownerId: '2'
                        category: Account setup
                        description: 'Provide two examples of a recent access request
                          and approval '
                        isSensitive: false
                        title: Document Title
                        uploadStatus: Needs document
                        uploadStatusDate: '2024-03-17T00:00:00.000Z'
                        url: https://example.com
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
                Example 2:
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d9
                        externalId: CRY-104
                        name: Data encryption utilized
                        description: Access reviews are performed to ensure that access
                          is appropriate for the user's role and responsibilities.
                        source: Vanta
                        domains:
                        - CRYPTOGRAPHIC_PROTECTIONS
                        owner:
                          id: 65e1efde08e8478f143a8ff9
                          emailAddress: example-person@email.com
                          displayName: Example Owner
                        role: CONTROLLER
                        customFields:
                        - label: Additional context
                          value: This control is critical for GDPR compliance
                        creationDate: null
                        modificationDate: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: YXJyYXljb25uZWN0aW9uOjA=
                        endCursor: YXJyYXljb25uZWN0aW9uOjE=
                      totalCount: 1
      description: List a document's associated controls.
      summary: List document's controls
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /documents/{documentId}/links:
    get:
      operationId: ListLinksForDocument
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_UploadedLink_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: '1'
                        creationDate: '2024-06-26T00:00:00.000Z'
                        effectiveDate: '2024-07-01T00:00:00.000Z'
                        title: example link
                        url: https://example.com/
                        description: example link
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
      description: List the uploaded links for a document.
      summary: List document's links
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
    post:
      operationId: CreateLinkForDocument
      responses:
        '201':
          description: Link created for document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedLink'
              examples:
                Example 1:
                  value:
                    id: '1'
                    creationDate: '2024-06-26T00:00:00.000Z'
                    effectiveDate: '2024-07-01T00:00:00.000Z'
                    title: example link
                    url: https://example.com/
                    description: example link
      description: Create a link for a document.
      summary: Create document link
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLinkForDocumentInput'
  /documents/{documentId}/links/{linkId}:
    delete:
      operationId: DeleteLinkForDocument
      responses:
        '204':
          description: No content
      description: Remove a link from a document.
      summary: Remove document link
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: path
        name: linkId
        required: true
        schema:
          type: string
  /documents/{documentId}/set-owner:
    post:
      operationId: SetOwnerForDocument
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Document'
              examples:
                Example 1:
                  value:
                    id: '1'
                    ownerId: '2'
                    category: Account setup
                    description: 'Provide two examples of a recent access request
                      and approval '
                    isSensitive: false
                    title: Document Title
                    uploadStatus: Needs document
                    uploadStatusDate: '2024-03-17T00:00:00.000Z'
                    url: https://example.com
      description: Assign or unassign a user to the document.
      summary: Set document owner
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetOwnerForDocumentInput'
  /documents/{documentId}/submit:
    post:
      operationId: SubmitDocumentCollection
      responses:
        '204':
          description: No content
      description: Submit document collection.
      summary: Submit document collection
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
  /documents/{documentId}/uploads:
    post:
      operationId: UploadFileForDocument
      responses:
        '201':
          description: File uploaded for document
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadedFileT'
              examples:
                Example 1:
                  value:
                    id: '1'
                    fileName: Document Name
                    title: Document title
                    description: Document Description
                    url: https://example.com
                    creationDate: '2024-03-17T00:00:00.000Z'
                    updatedDate: '2024-03-18T00:00:00.000Z'
                    effectiveDate: '2024-03-17T00:00:00.000Z'
                    deletionDate: null
                    mimeType: application/pdf
                    uploadedBy:
                      id: 66993da0cf4ba2ad40599ba7
                      type: USER
      description: Upload a file for a document.
      summary: Upload file for document
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                effectiveAtDate:
                  type: string
                  description: Date indicating when the document is effective from.
                description:
                  type: string
                  description: Description of the uploaded document.
              required:
              - file
    get:
      operationId: ListFilesForDocument
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_UploadedFileT_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: '1'
                        fileName: Document Name
                        title: Document title
                        description: Document Description
                        url: https://example.com
                        creationDate: '2024-03-17T00:00:00.000Z'
                        updatedDate: '2024-03-18T00:00:00.000Z'
                        effectiveDate: '2024-03-17T00:00:00.000Z'
                        deletionDate: null
                        mimeType: application/pdf
                        uploadedBy:
                          id: 66993da0cf4ba2ad40599ba7
                          type: USER
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
      description: List the uploaded files for a document.
      summary: List document's uploads
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /documents/{documentId}/uploads/{uploadedFileId}:
    delete:
      operationId: DeleteFileForDocument
      responses:
        '204':
          description: No content
      description: Delete a file for a document.
      summary: Delete file for a document
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: path
        name: uploadedFileId
        required: true
        schema:
          type: string
  /documents/{documentId}/uploads/{uploadedFileId}/media:
    get:
      operationId: GetUploadedfileMedia
      responses:
        '200':
          description: Ok
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            text/plain:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            text/markdown:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/json:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/vnd.ms-excel:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/svg+xml:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/xml:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/x-pem-file:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/x-x509-ca-cert:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/x-x509-user-cert:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/bmp:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/msword:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/vnd.openxmlformats-officedocument.wordprocessingml.document:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/gzip:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/x-icon:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/vnd.microsoft.icon:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/jpeg:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/pdf:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/png:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/postscript:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/vnd.ms-powerpoint:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/vnd.openxmlformats-officedocument.presentationml.presentation:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            image/webp:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            font/woff2:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/zip:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
            application/x-zip-compressed:
              schema:
                $ref: '#/components/schemas/NodeJS.ReadableStream'
      description: Download a file from a document.
      summary: Download file for document
      tags:
      - Documents
      parameters:
      - in: path
        name: documentId
        required: true
        schema:
          type: string
      - in: path
        name: uploadedFileId
        required: true
        schema:
          type: string
  /frameworks:
    get:
      operationId: ListFrameworks
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Framework_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: soc2
                        displayName: SOC 2
                        shorthandName: SOC 2
                        description: AICPA standardized framework to prove a company’s
                          security posture to prospective customers. For all US and
                          international businesses.
                        numControlsCompleted: 43
                        numControlsTotal: 86
                        numDocumentsPassing: 7
                        numDocumentsTotal: 16
                        numTestsPassing: 21
                        numTestsTotal: 46
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: aXNvMjcwMDFfMjAyMg==
                        endCursor: aXNvMjcwMDFfMjAyMg==
      description: Lists available frameworks.
      summary: List available frameworks
      tags:
      - Frameworks
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /frameworks/{frameworkId}:
    get:
      operationId: GetFramework
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FrameworkDetail'
              examples:
                Example 1:
                  value:
                    id: soc2
                    displayName: SOC 2
                    shorthandName: SOC 2
                    description: AICPA standardized framework to prove a company’s
                      security posture to prospective customers. For all US and international
                      businesses.
                    numControlsCompleted: 43
                    numControlsTotal: 86
                    numDocumentsPassing: 7
                    numDocumentsTotal: 16
                    numTestsPassing: 21
                    numTestsTotal: 46
                    requirementCategories:
                    - id: CC 1.0
                      name: Control Environment
                      shorthand: null
                      requirements:
                      - id: CC 1.1
                        name: ''
                        shorthand: null
                        description: 'COSO Principle 1: The entity demonstrates a
                          commitment to integrity and ethical values.'
                        controls:
                        - id: background-checks-performed
                          externalId: null
                          name: Personnel background checks performed
                          description: The company performs background checks on new
                            personnel.
      description: Get a framework by ID.
      summary: Get framework by ID
      tags:
      - Frameworks
      parameters:
      - in: path
        name: frameworkId
        required: true
        schema:
          type: string
  /frameworks/{frameworkId}/controls:
    get:
      operationId: ListControlsForFramework
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Control_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d9
                        externalId: CRY-104
                        name: Data encryption utilized
                        description: Access reviews are performed to ensure that access
                          is appropriate for the user's role and responsibilities.
                        source: Vanta
                        domains:
                        - CRYPTOGRAPHIC_PROTECTIONS
                        owner:
                          id: 65e1efde08e8478f143a8ff9
                          emailAddress: example-person@email.com
                          displayName: Example Owner
                        role: CONTROLLER
                        customFields:
                        - label: Additional context
                          value: This control is critical for GDPR compliance
                        creationDate: null
                        modificationDate: null
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: YXJyYXljb25uZWN0aW9uOjA=
                        endCursor: YXJyYXljb25uZWN0aW9uOjE=
                      totalCount: 1
      description: List a framework's controls.
      summary: List a framework's controls
      tags:
      - Frameworks
      parameters:
      - in: path
        name: frameworkId
        required: true
        schema:
          type: string
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /groups:
    get:
      operationId: ListPersonGroups
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaginatedResponse_Group_'
              examples:
                Example 1:
                  value:
                    results:
                      data:
                      - id: 5f2c939a52855e725c8d5824
                        name: Default Group
                        creationDate: '2024-03-07T18:46:05.944Z'
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: 5f2c939a52855e725c8d5824
                        endCursor: 5f2c939a52855e725c8d5824
      description: Lists all groups by ID.
      summary: List groups
      tags:
      - Groups
      parameters:
      - in: query
        name: pageSize
        required: false
        schema:
          $ref: '#/components/schemas/PageSize'
      - in: query
        name: pageCursor
        required: false
        schema:
          $ref: '#/components/schemas/PageCursor'
  /groups/{groupId}:
    get:
      operationId: GetGroup
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Group'
              examples:
                Example 1:
                  value:
                    id: 5f2c939a52855e725c8d5824
                    name: Default Group
                    creationDate: '2024-03-07T18:46:05.944Z'
      description: Get a group by ID.
      summary: Get group by ID
      tags:
      - Groups
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
  /groups/{groupId}/add-people:
    post:
      operationId: AddPeopleToGroup
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BulkResponse'
              examples:
                Example 1:
                  value:
                    results:
                    - id: person-id-1
                      status: SUCCESS
                    - id: person-id-2
                      status: ERROR
                      message: Invalid Input
      description: Add people to a group.
      summary: Add people to group
      tags:
      - Groups
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              properties:
                updates:
                  items:
                    properties:
                      id:
                        type: string
                    required:
                    - id
                    type: object
                  type: array
                  description: List of people IDs to add a group.
                  minItems: 1
                  maxItems: 100
              required:
              - updates
              type: object
  /groups/{groupId}/people:
    get:
      operationId: GetGroupMembers
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Person'
                type: array
              examples:
                Example 1:
                  value:
                  - id: 65e1efde08e8478f143a8ff9
                    userId: 65e1efde08e8478f143a9001
                    emailAddress: example-person@email.com
                    employment:
                      endDate: null
                      jobTitle: Customer success manager
                      startDate: '2021-01-01T00:00:00.000Z'
                      status: CURRENT
                    leaveInfo: null
                    groupIds:
                    - 5f2c939a52855e725c8d5824
                    name:
                      display: Example Person
                      last: Person
                      first: Example
                    sources:
                      emailAddress:
                        integrationId: gsuiteadmin
                        resourceId: 660c701d3d344e660b032306
                        type: INTEGRATION
                      employment:
                        startDate:
                          integrationId: gusto
                          resourceId: 660c70783d344e660b032323
                          type: INTEGRATION
                        endDate:
                          integrationId: gusto
                          resourceId: 660c70783d344e660b032323
                          type: INTEGRATION
                    tasksSummary:
                      completionDate: null
                      dueDate: '2021-12-01T00:00:00.000Z'
                      status: OVERDUE
                      details:
                        completeTrainings:
                          taskType: COMPLETE_TRAININGS
                          status: COMPLETE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled:
                            date: '2021-11-01T00:00:00.000Z'
                            reason: Training Vanta tests have been disabled for this
                              person
                          incompleteTrainings:
                          - name: Security training 1
                          - name: Security training 2
                          completedTrainings:
                          - name: Security training 3
                          - name: Security training 4
                        acceptPolicies:
                          taskType: ACCEPT_POLICIES
                          status: COMPLETE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled: null
                          unacceptedPolicies:
                          - name: Policy 1
                          - name: Policy 2
                          acceptedPolicies:
                          - name: Policy 3
                          - name: Policy 4
                        completeCustomTasks:
                          taskType: COMPLETE_CUSTOM_TASKS
                          status: OVERDUE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled:
                            date: '2021-11-01T00:00:00.000Z'
                            reason: Custom task Vanta tests have been disabled for
                              this person
                          incompleteCustomTasks:
                          - name: Custom task 1
                          - name: Custom task 2
                          completedCustomTasks:
                          - name: Custom task 3
                          - name: Custom task 4
                        completeOffboardingCustomTasks:
                          taskType: COMPLETE_CUSTOM_OFFBOARDING_TASKS
                          status: COMPLETE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled: null
                          incompleteCustomOffboardingTasks: []
                          completedCustomOffboardingTasks:
                          - name: Custom offboarding task 1
                          - name: Custom offboarding task 2
                        installDeviceMonitoring:
                          taskType: INSTALL_DEVICE_MONITORING
                          status: DUE_SOON
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: null
                          disabled: null
                        completeBackgroundChecks:
                          taskType: COMPLETE_BACKGROUND_CHECKS
                          status: COMPLETE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled: null
      description: List people in a group.
      summary: List people in a group
      tags:
      - Groups
      parameters:
      - in: path
        name: groupId
        required: true
        schema:
          type: string
    post:
      operationId: AddPersonToGroup
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Person'
              examples:
                Example 1:
                  value:
                    id: 65e1efde08e8478f143a8ff9
                    userId: 65e1efde08e8478f143a9001
                    emailAddress: example-person@email.com
                    employment:
                      endDate: null
                      jobTitle: Customer success manager
                      startDate: '2021-01-01T00:00:00.000Z'
                      status: CURRENT
                    leaveInfo: null
                    groupIds:
                    - 5f2c939a52855e725c8d5824
                    name:
                      display: Example Person
                      last: Person
                      first: Example
                    sources:
                      emailAddress:
                        integrationId: gsuiteadmin
                        resourceId: 660c701d3d344e660b032306
                        type: INTEGRATION
                      employment:
                        startDate:
                          integrationId: gusto
                          resourceId: 660c70783d344e660b032323
                          type: INTEGRATION
                        endDate:
                          integrationId: gusto
                          resourceId: 660c70783d344e660b032323
                          type: INTEGRATION
                    tasksSummary:
                      completionDate: null
                      dueDate: '2021-12-01T00:00:00.000Z'
                      status: OVERDUE
                      details:
                        completeTrainings:
                          taskType: COMPLETE_TRAININGS
                          status: COMPLETE
                          dueDate: '2021-12-01T00:00:00.000Z'
                          completionDate: '2021-11-01T00:00:00.000Z'
                          disabled:
                            date: '2021-11-01T00:00:00.000Z'
                            reason: Training Vanta tests have been disabled for this
                              person
                          incompleteTrainings:
                          - name: Security training 1
                          - name: Security training 2
[...]
