openapi: "3.2.0"
info:
  title: Carta API Platform
  description: Endpoint definitions for the Carta API Platform
  version: v1alpha1
  contact:
    name: Carta - Developer Ecosystem Team
    email: developers@carta.com
servers:
- url: https://api.carta.com
  description: Production
security:
- OAuth2: []
paths:
  "/v1alpha1/corporations":
    get:
      summary: List Corporations
      description: Retrieve the list of corporations that a user can access Carta.
      operationId: v1alpha1.corporations.listCorporations
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListCorporationsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: pageSize
        description: |-
          The maximum number of corporations to return. The service may return fewer than this value.

          If unspecified, at most 25 corporations will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Corporations response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Corporations
      security:
      - OAuth2:
        - read_corporation_info
  "/v1alpha1/corporations/{corporationId}/compensationBenchmarkAttributes":
    get:
      summary: Get Compensation Benchmark Attributes
      description: Retrieve all valid compensation benchmark attributes based on a
        corporation's plan in Carta Total Compensation.
      operationId: v1alpha1.compensation.GetCompensationBenchmarkAttributes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetCompensationBenchmarkAttributesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_corporationId"
      tags:
      - Compensation
      security:
      - OAuth2:
        - read_compensation_benchmarks
  "/v1alpha1/corporations/{corporationId}/compensationBenchmarks":
    get:
      summary: Get Compensation Benchmarks
      description: Retrieve all compensation benchmarks based on a corporation's compensation
        plan in Carta Total Compensation.
      operationId: v1alpha1.compensation.GetCompensationBenchmarks
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetCompensationBenchmarksResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_corporationId"
      - name: postMoneyValuationBucket
        description: The peer group used to segment the underlying data. Possible
          values can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.
        in: query
        required: true
        schema:
          type: string
      - name: geoAdjustmentLocation
        description: The location used to geo-adjust the benchmarks. Possible values
          can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.
        in: query
        required: true
        schema:
          type: string
      - name: jobArea
        description: The job area that the underlying data is segmented by. Possible
          values can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.
        in: query
        required: true
        schema:
          type: string
      - name: compensationType
        description: |-
          The compensation type of the benchmark. Possible values can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.

          An empty `compensationType` returns benchmark values for all compensation types.
        in: query
        required: false
        schema:
          type: string
      - name: jobSpecialization
        description: |-
          The job specialization that the underlying data is segmented by. Possible values can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.

          An empty `jobSpecialization` returns the benchmarks for the roll-up segment.
        in: query
        required: false
        schema:
          type: string
      - name: jobLevel
        description: |-
          The job level that the underlying data is segmented by. Possible values can be retrieved from the `GetCompensationBenchmarkAttributes` endpoint.

          An empty job_level returns the benchmarks for all job levels.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of benchmarks to return. The service may return fewer than this value.

          If unspecified, at most 100 benchmarks will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous Get Compensation Benchmarks response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Compensation
      security:
      - OAuth2:
        - read_compensation_benchmarks
  "/v1alpha1/draftIssuers":
    post:
      summary: Create Draft Issuer
      description: Create a draft version of an issuer.
      operationId: v1alpha1.draftIssuers.createDraftIssuer
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1CreateDraftIssuerResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1alpha1CreateDraftIssuerRequest"
        description: The request for the CreateDraftIssuer endpoint.
        required: true
      tags:
      - Draft Issuer
      security:
      - OAuth2:
        - readwrite_draftissuers
  "/v1alpha1/draftIssuers/{id}":
    get:
      summary: Get Draft Issuer
      description: Retrieve a draft version of an issuer.
      operationId: v1alpha1.draftIssuers.getDraftIssuer
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetDraftIssuerResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: id
        description: The Draft Issuer's id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Draft Issuer
      security:
      - OAuth2:
        - read_draftissuers
        - readwrite_draftissuers
  "/v1alpha1/files:upload":
    post:
      summary: Upload File
      description: Synchronously upload a generic file as a binary payload.
      operationId: v1alpha1.files.uploadFile
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1UploadFileResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/v1alpha1UploadFileRequest"
        description: UploadFileRequest is the request object for the UploadFile method.
        required: true
      tags:
      - Files
      security:
      - OAuth2:
        - readwrite_file_upload
  "/v1alpha1/investors/firms":
    get:
      summary: List Firms
      description: Retrieves investment firms.
      operationId: v1alpha1.investors.listFirms
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFirmsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: pageSize
        description: |-
          The maximum number of firms to return. The service may return fewer than this value.

          If unspecified, at most 25 firms will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          The page token received in a previous List Firms response. Submit this token to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListFirms` must match the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors
      security:
      - OAuth2:
        - read_investor_firms
  "/v1alpha1/investors/firms/{firmId}/funds":
    get:
      summary: List Funds
      description: Retrieves the investment funds of a given investment firm.
      operationId: v1alpha1.investors.listFunds
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFundsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The identifier of the firm holding the funds.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of funds to return. The service may return fewer than this value.

          If unspecified, at most 25 funds will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          The page token received from a previous List Funds call. Provide this token to retrieve the subsequent page.

          When paginating, all other parameters provided to `funds` must match the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors
      security:
      - OAuth2:
        - read_investor_funds
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/cashBalances":
    get:
      summary: List Cash Balances
      description: Retrieve a list of cash balances for a given firm and fund. This
        endpoint also supports returning cash balances across all funds of a firm
        if the caller submits a `-` (dash) character for the fund identifier.
      operationId: v1alpha1.investors.ListCashBalances
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListCashBalancesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The firm ID for which to retrieve cash balances.
        in: path
        required: true
        schema:
          type: string
      - name: fundId
        description: The fund ID for which to retrieve cash balances. Use a `-` (dash)
          to retrieve metrics for all funds.
        in: path
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/query_asOfDateTime"
      - $ref: "#/components/parameters/query_pageSize"
      - $ref: "#/components/parameters/query_pageToken"
      tags:
      - Investors - Accounting
      security:
      - OAuth2:
        - read_investor_cashbalances
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments":
    get:
      summary: List Investments
      description: |-
        Retrieve the company investments or portfolio companies of a given fund.

        _*NOTE:* Only investments with Cap Table data on Carta will be returned in the API responses across all environments._
      operationId: v1alpha1.investors.listInvestments
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListInvestmentsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - $ref: "#/components/parameters/path_fundId"
      - name: pageSize
        description: |-
          The maximum number of items to return. The service may return fewer than this value.

          If unspecified, at most 25 items will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          The page token received from a previous call to this same endpoint. Provide this token to retrieve the subsequent page.

          When paginating, all other parameters provided must match those used in the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors
      security:
      - OAuth2:
        - read_investor_investments
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{companyId}/capitalizationTables":
    get:
      summary: List Capitalization Tables
      description: Retrieves the capitalization tables for a given firm, fund, and
        investment company.
      operationId: v1alpha1.investors.listCapitalizationTables
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListCapitalizationTablesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - $ref: "#/components/parameters/path_fundId"
      - $ref: "#/components/parameters/path_companyId"
      - name: pageSize
        description: |-
          The maximum number of capitalization tables to return. The service may return fewer than this value.

          If unspecified, at most 25 capitalization tables will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token, received from a previous List Capitalization Tables call. Provide this token to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListCapitalizationTables` must match the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors - Capitalization
      security:
      - OAuth2:
        - read_investor_capitalizationtables
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{companyId}/capitalizationTables/{capitalizationTableId}":
    get:
      summary: Get Capitalization Table
      description: |-
        Retrieve a capitalization table for a given firm, fund, and investment.

        Using the same company ID as the capitalization table ID will return the primary capitalization table.The primary capitalization table is the capitalization table administered by the company.
      operationId: v1alpha1.investors.getCapitalizationTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiinvestorscapitalizationv1alpha1GetCapitalizationTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - $ref: "#/components/parameters/path_fundId"
      - $ref: "#/components/parameters/path_companyId"
      - $ref: "#/components/parameters/path_capitalizationTableId"
      - name: asOfDate
        description: |-
          Retrieve capitalization table state as of given date. Expected format for this date is [ISO 8601 complete calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates); i.e., 'YYYY-MM-DD'

          Retrieve capitalization table state as of given date. Expected format for this date is [ISO 8601 complete calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates); i.e., 'YYYY-MM-DD'
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors - Capitalization
      security:
      - OAuth2:
        - read_investor_capitalizationtables
  ? "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{companyId}/stakeholderCapitalizationTables/{capitalizationTableId}"
  : get:
      summary: Get Stakeholder Capitalization Table
      description: |-
        Retrieve an investor's stakeholder capitalization table.

        Using the same company ID as the capitalization table ID will return the primary capitalization table.The primary capitalization table is the capitalization table administered by the company.
      operationId: v1alpha1.investors.getStakeholderCapitalizationTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiinvestorscapitalizationv1alpha1GetStakeholderCapitalizationTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - $ref: "#/components/parameters/path_fundId"
      - $ref: "#/components/parameters/path_companyId"
      - $ref: "#/components/parameters/path_capitalizationTableId"
      - $ref: "#/components/parameters/query_asOfDate"
      - $ref: "#/components/parameters/query_pageToken_2"
      - name: pageSize
        description: |-
          The maximum number of StakeholderGroups to return. The service may return fewer than this value.

          If unspecified, at most 25 StakeholderGroups will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      tags:
      - Investors - Capitalization
      security:
      - OAuth2:
        - read_investor_stakeholdercapitalizationtable
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{investmentId}/certificates":
    get:
      summary: List Certificates
      description: |-
        Retrieve certificates issued by an investment company to a fund within a firm.

        This endpoint also supports returning certificates across all funds of a firm if the caller submits a `-` (dash) character for the fund ID.
      operationId: v1alpha1.investors.listCertificates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiinvestorssecuritiesv1alpha1ListCertificatesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - name: fundId
        description: The identifier of the fund or `-` to list certificates across
          all funds under the firm specified by `firmId`.
        in: path
        required: true
        schema:
          type: string
      - name: investmentId
        description: The identifier of the investment or `-` to list certificates
          across all company investments under the fund specified by `firmId` and
          `fundId`.
        in: path
        required: true
        schema:
          type: string
      - name: asOfDate
        description: |-
          *Deprecated*

          Return certificates with issue dates on or after this date, specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates), i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of certificates to return. The service may return fewer than this value.

          If unspecified, at most 25 certificates will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous `ListCertificates` response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListCertificates` must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      - $ref: "#/components/parameters/query_lastModifiedDatetimeAfter"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeBefore"
      tags:
      - Investors - Securities
      security:
      - OAuth2:
        - read_investor_securities
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{investmentId}/convertibleNotes":
    get:
      summary: List Convertible Notes
      description: |-
        Retrieve convertible notes and SAFEs issued by an investment company to a fund within a firm.

        This endpoint also supports returning convertible notes and SAFEs across all funds of a firm if the caller submits a `-` (dash) character for the fund ID.
      operationId: v1alpha1.investors.listConvertibleNotes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiinvestorssecuritiesv1alpha1ListConvertibleNotesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - name: fundId
        description: The identifier of the fund or `-` to list convertible notes across
          all funds under the firm specified by `firm_id`.
        in: path
        required: true
        schema:
          type: string
      - name: investmentId
        description: The identifier of the investment or `-` to list convertible notes
          across all company investments under the fund specified by `firmId` and
          `fundId`.
        in: path
        required: true
        schema:
          type: string
      - name: asOfDate
        description: |-
          *Deprecated*

          Return convertible notes with issue dates on or after this date, specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates), i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - $ref: "#/components/parameters/query_pageSize_2"
      - $ref: "#/components/parameters/query_pageToken_3"
      tags:
      - Investors - Securities
      security:
      - OAuth2:
        - read_investor_securities
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/investments/{investmentId}/warrants":
    get:
      summary: List Warrants
      description: |-
        Retrieve investment warrants issued by an investment company to a fund within a firm.

        This endpoint also supports returning warrants across all funds of a firm if the caller submits a `-` (dash) character for the fund ID.
      operationId: v1alpha1.investors.listWarrants
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiinvestorssecuritiesv1alpha1ListWarrantsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_firmId"
      - name: fundId
        description: The identifier of the fund or `-` to list warrants across all
          funds under the firm specified by `firmId`.
        in: path
        required: true
        schema:
          type: string
      - name: investmentId
        description: The identifier of the investment or `-` to list warrants across
          all company investments under the fund specified by `firmId` and `fundId`.
        in: path
        required: true
        schema:
          type: string
      - name: asOfDate
        description: |-
          *Deprecated*

          Return warrants with issue dates on or after this date, specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates), i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of warrants to return. The service may return fewer than this value.

          If unspecified, at most 25 warrants will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous `ListWarrants` response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListWarrants` must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Investors - Securities
      security:
      - OAuth2:
        - read_investor_securities
  "/v1alpha1/investors/firms/{firmId}/funds/{fundId}/metrics":
    get:
      summary: List Fund Performance Metrics
      description: |-
        Scope: `read_investor_fundperformance`

        Retrieve a list of fund performance metrics for a given firm and fund. This endpoint also supports returning performance metrics across all funds of a firm if the caller submits a `-` (dash) character for the fund identifier.
      operationId: v1alpha1.investors.ListFundPerformanceMetrics
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFundPerformanceMetricsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The firm ID for which to retrieve fund performance metrics.
        in: path
        required: true
        schema:
          type: string
      - name: fundId
        description: The fund ID for which to retrieve fund performance metrics. Use
          a `-` (dash) to retrieve metrics for all funds.
        in: path
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/query_asOfDateTime"
      - name: reportType
        description: |-
          The type of fund performance metrics to retrieve. If left blank or set to `REPORT_TYPE_UNSPECIFIED` defaults to `BY_FUND`.
           - Using `BY_PARTNER`, the user will be able to fetch all partners in each entity for which they have the permission “Partners” checked.
           - Using `BY_PARTNER_TYPE` or `BY_FUND`, the user will be able to fetch metrics aggregated by partner type and fund information for each entity for which they have **either** the permission “Fund administration” **or** the permission “Fund performance” checked.

          [Learn how to set up those permissions here.](https://support.carta.com/s/article/vc-firm-permissions)

           - BY_FUND: Display metrics by fund
           - BY_PARTNER_TYPE: Display metrics by groupings of partner types. See `partnerMetrics.partnerType` for more details
           - BY_PARTNER: Display metrics by partner. See `partnerMetrics.partnerType` and`partnerMetrics.partnerDetails` for more details
        in: query
        required: false
        schema:
          type: string
          enum:
          - BY_FUND
          - BY_PARTNER_TYPE
          - BY_PARTNER
      - $ref: "#/components/parameters/query_pageSize"
      - $ref: "#/components/parameters/query_pageToken"
      tags:
      - Investors - Performance Metrics
      security:
      - OAuth2:
        - read_investor_fundperformance
  "/v1alpha1/investors/firms/{firmId}/metrics":
    get:
      summary: List Firm Performance Metrics
      description: |-
        Scope: `read_investor_fundperformance`

        Retrieve aggregated fund performance metrics for a given firm.
      operationId: v1alpha1.investors.ListFirmPerformanceMetrics
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFirmPerformanceMetricsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The firm ID for which to retrieve the aggregated fund performance
          metrics.
        in: path
        required: true
        schema:
          type: string
      - name: fundIds
        description: A comma-separated list of fund IDs for which to retrieve aggregated
          metrics. If unspecified, will aggregate all funds.
        in: query
        required: false
        schema:
          type: string
      - $ref: "#/components/parameters/query_asOfDateTime"
      - $ref: "#/components/parameters/query_pageSize"
      - $ref: "#/components/parameters/query_pageToken"
      - name: groupBy
        description: |-
          Specifies how the fund metrics should be aggregated. If not set, or set to `AGGREGATION_TYPE_UNSPECIFIED`, will aggregate all metrics into a single result.

           - AGGREGATION_TYPE_BY_PARTNER_TYPE: Display metrics by groupings of partner types (GP, LP, etc.). See `partnerMetrics.partnerType` for more details
           - AGGREGATION_TYPE_BY_PARTNER_GROUP: Display metrics for partners by their groups (same investor across different funds of the firm). See `partnerMetrics.partnerType` and `partnerMetrics.partnerDetails` for more details
        in: query
        required: false
        schema:
          type: string
          enum:
          - AGGREGATION_TYPE_BY_PARTNER_TYPE
          - AGGREGATION_TYPE_BY_PARTNER_GROUP
      tags:
      - Investors - Performance Metrics
      security:
      - OAuth2:
        - read_investor_fundperformance
  "/v1alpha1/investors/firms/{firmId}/partnerContacts":
    get:
      summary: List Partner Contacts
      description: |-
        Scope: `read_investor_partners`

        Retrieves a list of contacts associated with partners across all funds for a given firm. Optionally filter by fund or partner.
      operationId: v1alpha1.investors.listPartnerContacts
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListPartnerContactsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The firm ID for which to retrieve partner contacts.
        in: path
        required: true
        schema:
          type: string
      - name: fundIds
        description: Comma-separated fund IDs to filter contacts by. If unspecified,
          returns contacts across all funds.
        in: query
        required: false
        schema:
          type: string
      - name: partnerIds
        description: Comma-separated partner IDs to filter contacts by. If unspecified,
          returns contacts for all partners.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of contacts to return. The service may return fewer than this value.

          If unspecified, at most 50 contacts will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken"
      tags:
      - Investors - Partners
      security:
      - OAuth2:
        - read_investor_partners
  "/v1alpha1/investors/firms/{firmId}/partners":
    get:
      summary: List Partners
      description: |-
        Scope: `read_investor_partners`

        Retrieves a list of partners (LPs, GPs, etc.) across all funds for a given firm. Optionally filter by fund or partner group.
      operationId: v1alpha1.investors.listPartners
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListPartnersResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: firmId
        description: The firm ID for which to retrieve partners.
        in: path
        required: true
        schema:
          type: string
      - name: fundIds
        description: Comma-separated fund IDs to filter partners by. If unspecified,
          returns partners across all funds.
        in: query
        required: false
        schema:
          type: string
      - name: groupId
        description: Partner group ID to filter by. If unspecified, returns partners
          from all groups.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of partners to return. The service may return fewer than this value.

          If unspecified, at most 50 partners will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken"
      tags:
      - Investors - Partners
      security:
      - OAuth2:
        - read_investor_partners
  "/v1alpha1/issuers":
    get:
      summary: List Issuers
      description: Retrieve issuers.
      operationId: v1alpha1.issuers.listIssuers
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListIssuersResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/query_pageSize_3"
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Issuers response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_info
  "/v1alpha1/issuers/{id}":
    get:
      summary: Get Issuer
      description: Retrieve an issuer.
      operationId: v1alpha1.issuers.getIssuer
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetIssuerResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: id
        description: The identifier of the issuer to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_info
  "/v1alpha1/issuers/{issuerId}/capitalizationTable":
    get:
      summary: Get Capitalization Table
      description: |-
        Retrieve an issuer's capitalization table by share class.

        This view of the capitalization table contains information about the issuer's outstanding securities broken down by share classes.
      operationId: v1alpha1.issuers.getCapitalizationTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerscapitalizationv1alpha1GetCapitalizationTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer.
        in: path
        required: true
        schema:
          type: string
      - name: asOfDate
        description: Retrieves the capitalization table as of the given date, specified
          as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers - Capitalization
      security:
      - OAuth2:
        - read_issuer_capitalizationtablesummary
  "/v1alpha1/issuers/{issuerId}/certificates":
    get:
      summary: List Certificates
      description: Retrieve certificates.
      operationId: v1alpha1.issuers.listCertificates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1ListCertificatesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the certificates to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of certificates to return. The service may return fewer than this value.

          If unspecified, at most 25 funds will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken_4"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeAfter"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeBefore"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/certificates/{id}":
    get:
      summary: Get Certificate
      description: Retrieve a certificate.
      operationId: v1alpha1.issuers.getCertificate
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1GetCertificateResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the certificate to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: The identifier of the certificate to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/convertibleNotes":
    get:
      summary: List Convertible Notes
      description: Retrieve convertible notes.
      operationId: v1alpha1.issuers.listConvertibleNotes
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1ListConvertibleNotesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId"
      - name: pageSize
        description: |-
          The maximum number of convertible notes to return. The service may return fewer than this value.

          If unspecified, at most 25 convertible notes will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken_3"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
  "/v1alpha1/issuers/{issuerId}/convertibleNotes/{id}":
    get:
      summary: Get Convertible Note
      description: Retrieve convertible note.
      operationId: v1alpha1.issuers.getConvertibleNote
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1GetConvertibleNoteResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId_2"
      - $ref: "#/components/parameters/path_id"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
  "/v1alpha1/issuers/{issuerId}/draftOptionGrantSets/{draftOptionGrantSetId}/draftOptionGrants":
    post:
      summary: Create a Draft Option Grant
      description: |-
        Create a draft option grant.

        A draft option grant is an option grant that is either still being finalized or that has not yet received board consent and approval.
      operationId: v1alpha1.issuers.draftsecurities.createDraftOptionGrant
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1CreateDraftOptionGrantResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId_3"
      - name: draftOptionGrantSetId
        description: "The identifier of the draft option grant set will contain the
          draft option grant. \n The “LATEST” string can be used as an `draft_option_grant_set_id`
          in case you don’t want to pin a specific draft option grant set. \n By using
          LATEST, it will look for the most recently created draft option grant set
          for the issuer, and create the draft option grant in that set. \n If no
          draft option grant set exists, it will create a new draft option grant set
          and use it."
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DraftSecuritiesServiceCreateDraftOptionGrantBody"
        required: true
      tags:
      - Issuers - Draft Securities
      security:
      - OAuth2:
        - readwrite_issuer_draftsecurities
  "/v1alpha1/issuers/{issuerId}/draftOptionGrantSets/{draftOptionGrantSetId}/draftOptionGrants/{draftOptionGrantId}":
    get:
      summary: Get Draft Option Grant
      description: |-
        Retrieve a draft option grant.

        A draft option grant is an option grant that is either still being finalized or that has not yet received board consent and approval.
      operationId: v1alpha1.issuers.draftsecurities.getDraftOptionGrant
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetDraftOptionGrantResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId_3"
      - name: draftOptionGrantSetId
        description: The identifier of the draft option grant set that contains the
          requested draft option grant.
        in: path
        required: true
        schema:
          type: string
      - name: draftOptionGrantId
        description: The identifier of the requested draft option grant.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers - Draft Securities
      security:
      - OAuth2:
        - read_issuer_draftsecurities
        - readwrite_issuer_draftsecurities
  "/v1alpha1/issuers/{issuerId}/fairMarketValues":
    get:
      summary: List Fair Market Values
      description: Retrieve the fair market values of an issuer, which are the values
        of the issuer's securities as determined by the issuer's 409a valuations.
      operationId: v1alpha1.issuers.listFairMarketValues
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFairMarketValuesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer whose fair market values are being
          retrieved.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of fair market values to return. The service may return fewer than this value.

          If unspecified, at most 25 fair market values will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Fair Market Values response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_valuations
  "/v1alpha1/issuers/{issuerId}/interests":
    get:
      summary: List Interests
      description: Retrieves interests for the issuer.
      operationId: v1alpha1.issuers.listInterests
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListInterestsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the interests.
        in: path
        required: true
        schema:
          type: string
      - name: asOfDate
        description: Retrieves the interests as of the given date, specified as an
          [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of interests to return. The service may return fewer than this value.

          If unspecified, at most 100 interests will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          The page token received from a previous List Interests call. Provide this token to retrieve the subsequent page.

          When paginating, all other parameters provided to List Interests must match the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers - Interests
      security:
      - OAuth2:
        - read_issuer_interests
  "/v1alpha1/issuers/{issuerId}/optionExercises":
    get:
      summary: List Option Exercises
      description: Retrieve option exercises.
      operationId: v1alpha1.issuers.listOptionExercises
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListOptionExercisesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the option exercises
          to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: The maximum number of option exercises to return. The service
          may return fewer than this value. If unspecified, at most 25 option exercises
          will be returned. The maximum value is 100; values above 100 will be coerced
          to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Option Exercises response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `optionGrants` must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers - Exercising
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/optionExercises/{exerciseId}:updateMoneyMovement":
    post:
      summary: Update Option Exercise Money Movement
      description: Updates money movement information for an option exercise.
      operationId: v1alpha1.issuers.updateMoneyMovement
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1UpdateMoneyMovementResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the option exercises
          to update money movement information for.
        in: path
        required: true
        schema:
          type: string
      - name: exerciseId
        description: The identifier of the option exercise to update money movement
          information for.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExerciseServiceUpdateMoneyMovementBody"
        required: true
      tags:
      - Issuers - Exercising
      security:
      - OAuth2:
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/optionExercises/{exerciseId}:updateTaxWithholding":
    post:
      summary: Update Option Exercise Tax Withholding
      description: Updates tax withholding information for an option exercise.
      operationId: v1alpha1.issuers.updateTaxWithholding
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1UpdateTaxWithholdingResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the option exercises
          to update tax withholding information for.
        in: path
        required: true
        schema:
          type: string
      - name: exerciseId
        description: The identifier of the option exercise to update tax withholding
          information for.
        in: path
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ExerciseServiceUpdateTaxWithholdingBody"
        required: true
      tags:
      - Issuers - Exercising
      security:
      - OAuth2:
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/optionGrants":
    get:
      summary: List Option Grants
      description: Retrieve option grants.
      operationId: v1alpha1.issuers.listOptionGrants
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1ListOptionGrantsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the option grants to
          retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of option grants to return. The service may return fewer than this value.

          If unspecified, at most 25 funds will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken_5"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeAfter_2"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeBefore_2"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/optionGrants/{id}":
    get:
      summary: Get Option Grant
      description: Retrieves an option grant.
      operationId: v1alpha1.issuers.getOptionGrant
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1GetOptionGrantResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer that issued the option grant.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: The identifier of the option grant to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/pointsOfContact":
    get:
      summary: List Points of Contact
      description: |-
        Retrieve points of contact for a given issuer.

        More information about issuer contacts can be found in [this support article](https://support.carta.com/s/article/corporate-permissions#contacts)
      operationId: v1alpha1.issuers.listPointsOfContact
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListPointsOfContactResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer whose points of contact are being
          retrieved.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_info
  "/v1alpha1/issuers/{issuerId}/restrictedStockAwards":
    get:
      summary: List Restricted Stock Awards
      description: Retrieve restricted stock awards.
      operationId: v1alpha1.issuers.listRestrictedStockAwards
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1ListRestrictedStockAwardsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the restricted stock awards
          to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of restricted stock awards to return. The service may return fewer than this value.

          If unspecified, at most 25 funds will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken_6"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeAfter_3"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeBefore_3"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/restrictedStockAwards/{id}":
    get:
      summary: Get Restricted Stock Award
      description: Retrieve a restricted stock award.
      operationId: v1alpha1.issuers.getRestrictedStockAward
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1GetRestrictedStockAwardResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the restricted stock award
          to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: The identifier of the restricted stock award to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/restrictedStockUnits":
    get:
      summary: List Restricted Stock Units
      description: Retrieve restricted stock units.
      operationId: v1alpha1.issuers.listRestrictedStockUnits
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1ListRestrictedStockUnitsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the restricted stock units
          to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of restricted stock units to return. The service may return fewer than this value.

          If unspecified, at most 25 funds will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Restricted Stock Units response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `restrictedStockUnits` must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      - $ref: "#/components/parameters/query_lastModifiedDatetimeAfter_4"
      - $ref: "#/components/parameters/query_lastModifiedDatetimeBefore_4"
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/restrictedStockUnits/{id}":
    get:
      summary: Get Restricted Stock Unit
      description: Retrieve a restricted stock unit.
      operationId: v1alpha1.issuers.getRestrictedStockUnit
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerssecuritiesv1alpha1GetRestrictedStockUnitResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the restricted stock unit
          to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: The identifier of the restricted stock unit.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers - Securities
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/shareClasses":
    get:
      summary: List Share Classes
      description: Retrieve an issuer's share classes.
      operationId: v1alpha1.issuers.listShareClasses
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListShareClassesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId_4"
      - name: asOfDate
        description: |-
          Retrieve share classes as of the given date. Expected format for this date is [ISO 8601 complete calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates); i.e., 'YYYY-MM-DD'

          Retrieves share classes as of the given date, specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates), i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of share classes to return. The service may return fewer than this value.

          If unspecified, at most 25 share classes will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Share Classes response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_shareclasses
  "/v1alpha1/issuers/{issuerId}/stakeholderCapitalizationTable":
    get:
      summary: Get Stakeholder Capitalization Table
      description: |-
        Retrieve an issuer's capitalization table by stakeholder.

        This view of the capitalization table contains information about the issuer's outstanding securities broken into stakeholder groups. A stakeholder group is a group of stakeholders holding their securities in the same portfolio or parent organization.
      operationId: v1alpha1.issuers.getStakeholderCapitalizationTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/publicapiissuerscapitalizationv1alpha1GetStakeholderCapitalizationTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer whose stakeholder capitalization
          table is being retrieved.
        in: path
        required: true
        schema:
          type: string
      - $ref: "#/components/parameters/query_asOfDate"
      - name: pageSize
        description: |-
          The maximum number of StakeholderGroups to return. The service may return fewer than this value.

          If unspecified, at most 25 StakeholderGroups will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - $ref: "#/components/parameters/query_pageToken_2"
      tags:
      - Issuers - Capitalization
      security:
      - OAuth2:
        - read_issuer_stakeholdercapitalizationtable
  "/v1alpha1/issuers/{issuerId}/stakeholders":
    get:
      summary: List Stakeholders
      description: |-
        Retrieve stakeholders.

        A stakeholder is a person or entity that has been issued a security by an issuer and is, therefore, on the issuer's capitalization table.
      operationId: v1alpha1.issuers.listStakeholders
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListStakeholdersResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the stakeholders to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of stakeholders to return. The service may return fewer than this value.

          If unspecified, at most 25 stakeholders will be returned.

          The maximum value is 100; values above 100 will be coerced to 100.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Stakeholders response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_stakeholders
  "/v1alpha1/issuers/{issuerId}/stakeholders/{id}":
    get:
      summary: Get Stakeholder
      description: |-
        Retrieve a stakeholder.

        A stakeholder is a person or entity that has been issued a security by an issuer and is, therefore, on the issuer's capitalization table.
      operationId: v1alpha1.issuers.getStakeholder
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetStakeholderResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer owning the stakeholder to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: id
        description: The identifier of the stakeholder to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Issuers
      security:
      - OAuth2:
        - read_issuer_stakeholders
  "/v1alpha1/issuers/{issuerId}/transactions":
    get:
      summary: List Transactions
      description: |-
        Retrieve transaction history for securities belonging to an issuer, filtered by security type.

        Use the `type` query parameter to specify the security type. Supported values: `option` (option grants), `rsu` (restricted stock unit awards).

        For option grants, each item in the response represents a single grant with its full lifecycle: issuance, exercises, and cancellation (if applicable).

        For RSU awards, each item represents a single award with its full lifecycle: issuance, settlements, and cancellation (if applicable).
      operationId: v1alpha1.issuers.listTransactions
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListTransactionsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: issuerId
        description: The identifier of the issuer whose transactions to retrieve.
        in: path
        required: true
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of securities (with their transactions) to return. The service may return fewer than this value.

          If unspecified, at most 50 securities will be returned.

          The maximum value is 1000; values above 1000 will be coerced to 1000.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      - name: type
        description: |-
          The security type to filter transactions by. Required.

          Supported values:
          - `option` — option grant transactions (issuance, exercises, cancellation)
          - `rsu` — restricted stock unit award transactions (issuance, settlements, cancellation)
        in: query
        required: true
        schema:
          type: string
      tags:
      - Issuers - Transactions
      security:
      - OAuth2:
        - read_issuer_securities
        - readwrite_issuer_securities
  "/v1alpha1/issuers/{issuerId}/vestingScheduleTemplates":
    get:
      summary: List Vesting Schedule Templates
      description: |-
        Retrieve vesting schedule templates.

        These templates are used to create vesting schedules for securities issued by the issuer. For example, these templates can be referenced in the [Create Draft Option Grant](https://docs.carta.com/carta/v0.1.6/reference/v1alpha1issuersdraftsecuritiescreatedraftoptiongrant-1) endpoint.
      operationId: v1alpha1.issuers.listVestingScheduleTemplates
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListVestingScheduleTemplatesResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - $ref: "#/components/parameters/path_issuerId_4"
      - name: pageSize
        description: |-
          The maximum number of vesting schedule templates to return. The service may return fewer than this value.

          If unspecified, at most 25 vesting schedule templates will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Vesting Schedule Templates response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters must be kept consistent with those used in the request where the page token was obtained.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Issuers - Templates
      security:
      - OAuth2:
        - read_issuer_securitiestemplates
  "/v1alpha1/openCapTables":
    post:
      summary: Upload Open Cap Table
      description: |-
        Upload an [Open Cap Table Format (OCF)](https://github.com/Open-Cap-Table-Coalition/Open-Cap-Format-OCF) package in binary format to be processed.

        If the OCF package is successfully uploaded, the `OpenCapTablesService` will begin processing the data with the goal of onboarding the Issuer and its related data on to the Carta platform.

        Supplying an OCF package to this endpoint will result in the creation of an Open Cap Table record to track the progress of processing the data from the OCF package. This record will be returned in the case of a successful response. This record can also be queried via the `GetCapTable` endpoint.
      operationId: v1alpha1.openCapTables.uploadOpenCapTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1UploadOpenCapTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/apiHttpBody"
        description: The raw HTTP body.
        required: true
      tags:
      - Open Cap Table
      security:
      - OAuth2:
        - readwrite_opencaptables
  "/v1alpha1/openCapTables/{id}":
    get:
      summary: Get Open Cap Table
      description: |-
        Get an Open Cap Table record related to a previously uploaded OCF package.

        This endpoint will return a record detailing the status of the processing of an Open Cap Table that was previously uploaded.
      operationId: v1alpha1.openCapTables.getOpenCapTable
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetOpenCapTableResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: id
        description: The open cap table's id
        in: path
        required: true
        schema:
          type: string
      tags:
      - Open Cap Table
      security:
      - OAuth2:
        - read_opencaptables
        - readwrite_opencaptables
  "/v1alpha1/portfolios":
    get:
      summary: List Shareholder Portfolios
      description: Retrieve shareholder portfolios.
      operationId: v1alpha1.portfolios.issuers.listPortfolios
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListPortfoliosResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: pageSize
        description: |-
          The maximum number of portfolios to return. The service may return fewer than this value.

          If unspecified, at most 25 portfolios will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: pageToken
        description: |-
          A page token received as `nextPageToken` in a previous List Portfolios response. Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `portfolios` must match the call that provided the page token.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Portfolios
      security:
      - OAuth2:
        - read_portfolio_info
  "/v1alpha1/portfolios/{portfolioId}":
    get:
      summary: Get Shareholder Portfolio
      description: Retrieve a portfolio.
      operationId: v1alpha1.portfolios.issuers.getPortfolio
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1GetPortfolioResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: portfolioId
        description: The identifier of the portfolio to retrieve.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Portfolios
      security:
      - OAuth2:
        - read_portfolio_info
  "/v1alpha1/portfolios/{portfolioId}/fundInvestmentDocuments":
    get:
      summary: List Fund Investment Documents
      description: |-
        Retrieve fund investment documents for a portfolio.

        Fund investments documents are shared with limited partners of funds.
      operationId: v1alpha1.portfolios.listFundInvestmentDocuments
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListFundInvestmentDocumentsResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: portfolioId
        description: The ID of the portfolio for which to retrieve fund investment
          documents.
        in: path
        required: true
        schema:
          type: string
      - name: pageToken
        description: |-
          The page token received from a previous List Fund Documents call. Provide this token to retrieve the subsequent page.

          When paginating, all other parameters provided to List Fund Documents must match the call that received the page token.
        in: query
        required: false
        schema:
          type: string
      - name: pageSize
        description: |-
          The maximum number of fund investment documents to return. The service may return fewer than this value.

          If unspecified, at most 25 documents will be returned.

          The maximum value is 50; values above 50 will be coerced to 50.
        in: query
        required: false
        schema:
          type: integer
          format: int32
      - name: fundId
        description: The ID of the fund for which to retrieve fund investment documents.
        in: query
        required: false
        schema:
          type: string
      - name: effectiveDateAfter
        description: Return fund documents with effective dates on or after this date,
          specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: effectiveDateBefore
        description: Return fund documents with effective dates on or before this
          date, specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: sharedDateAfter
        description: Return fund documents with shared dates on or after this date,
          specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      - name: sharedDateBefore
        description: Return fund documents with shared dates on or before this date,
          specified as an [ISO 8601 extended format calendar date](https://en.wikipedia.org/wiki/ISO_8601#Calendar_dates),
          i.e. 'YYYY-MM-DD'.
        in: query
        required: false
        schema:
          type: string
      tags:
      - Portfolios - Fund Investments
      security:
      - OAuth2:
        - read_portfolio_fundinvestmentdocuments
  "/v1alpha1/portfolios/{portfolioId}/fundInvestmentDocuments/{documentId}:download":
    get:
      summary: Download Fund Investment Document
      description: |-
        Download a fund investment document for a portfolio.

        Fund investments documents are shared with limited partners of funds. They can be found via the List Fund Investment Documents endpoint.
      operationId: v1alpha1.portfolios.downloadFundInvestmentDocument
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1DownloadFundInvestmentDocumentResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: portfolioId
        description: The ID of the portfolio holding the fund investment document.
        in: path
        required: true
        schema:
          type: string
      - name: documentId
        description: The ID of the fund investment document to download.
        in: path
        required: true
        schema:
          type: string
      tags:
      - Portfolios - Fund Investments
      security:
      - OAuth2:
        - read_portfolio_fundinvestmentdocuments
  "/v1alpha1/portfolios/{portfolioId}/issuers":
    get:
      summary: List Portfolio Issuers
      description: |-
        Retrieve issuers in a portfolio.

        A single portfolio may have multiple issuers that have all issued securities to the portfolio holder.
      operationId: v1alpha1.portfolios.issuers.listPortfolioIssuers
      responses:
        '200':
          description: A successful response.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/v1alpha1ListPortfolioIssuersResponse"
        '400':
          $ref: "#/components/responses/BadRequest"
        '401':
          $ref: "#/components/responses/Unauthorized"
        '403':
          $ref: "#/components/responses/Forbidden"
        '500':
          $ref: "#/components/responses/InternalServerError"
        default:
          $ref: "#/components/responses/UnexpectedError"
      parameters:
      - name: portfolioId
        description: The identifier of the portfolio whose issuers are to be retrieved.
        in: path
        required: true
        schema:
          type: string
[...]
