openapi: "3.2.0"
info:
  title: Datadog
  description: Dashboards, monitors, metrics, logs, incidents, downtimes, RUM, users, roles, and invitations
servers:
  - url: https://api.datadoghq.com
security:
  - api_key: []
    application_key: []

paths:
  /api/v1/dashboard:
    get:
      operationId: list_dashboards
      summary: List dashboards
      parameters:
        - name: filter[shared]
          in: query
          schema:
            type: boolean
          description: Filter by shared dashboards
        - name: filter[deleted]
          in: query
          schema:
            type: boolean
          description: Include deleted dashboards
        - name: count
          in: query
          schema:
            type: integer
            default: 100
          description: Max dashboards to return
        - name: start
          in: query
          schema:
            type: integer
            default: 0
          description: Pagination offset
      responses:
        "200":
          description: OK
    post:
      operationId: create_dashboard
      summary: Create a dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        "200":
          description: OK

  /api/v1/dashboard/{dashboard_id}:
    parameters:
      - name: dashboard_id
        in: path
        required: true
        schema:
          type: string
        description: Dashboard ID
    get:
      operationId: get_dashboard
      summary: Get a dashboard
      responses:
        "200":
          description: OK
    put:
      operationId: update_dashboard
      summary: Update a dashboard
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Dashboard"
      responses:
        "200":
          description: OK

  /api/v1/monitor:
    get:
      operationId: list_monitors
      summary: List monitors
      parameters:
        - name: name
          in: query
          schema:
            type: string
          description: Filter by name
        - name: tags
          in: query
          schema:
            type: string
          description: Filter by tags
        - name: monitor_tags
          in: query
          schema:
            type: string
          description: Filter by monitor tags
        - name: page
          in: query
          schema:
            type: integer
            default: 0
          description: Page number
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
          description: Results per page
      responses:
        "200":
          description: OK
    post:
      operationId: create_monitor
      summary: Create a monitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Monitor"
      responses:
        "200":
          description: OK

  /api/v1/monitor/{monitor_id}:
    parameters:
      - name: monitor_id
        in: path
        required: true
        schema:
          type: integer
        description: Monitor ID
    get:
      operationId: get_monitor
      summary: Get a monitor
      responses:
        "200":
          description: OK
    put:
      operationId: update_monitor
      summary: Update a monitor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MonitorUpdate"
      responses:
        "200":
          description: OK

  /api/v1/query:
    get:
      operationId: query_metrics
      summary: Query metrics
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: integer
          description: Start timestamp in seconds
        - name: to
          in: query
          required: true
          schema:
            type: integer
          description: End timestamp in seconds
        - name: query
          in: query
          required: true
          schema:
            type: string
          description: Metric query string
      responses:
        "200":
          description: OK

  /api/v1/metrics/{metric_name}:
    parameters:
      - name: metric_name
        in: path
        required: true
        schema:
          type: string
        description: Metric name
    get:
      operationId: get_metric_metadata
      summary: Get metric metadata
      responses:
        "200":
          description: OK
    put:
      operationId: update_metric_metadata
      summary: Update metric metadata
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricMetadata"
      responses:
        "200":
          description: OK

  /api/v2/metrics/{metric_name}/tags:
    parameters:
      - name: metric_name
        in: path
        required: true
        schema:
          type: string
        description: Metric name
    get:
      operationId: get_metric_tag_configuration
      summary: Get metric tag configuration
      responses:
        "200":
          description: OK
    post:
      operationId: create_metric_tag_configuration
      summary: Create metric tag configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricTagConfigurationCreateRequest"
      responses:
        "201":
          description: Created
    patch:
      operationId: update_metric_tag_configuration
      summary: Update metric tag configuration
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MetricTagConfigurationUpdateRequest"
      responses:
        "200":
          description: OK

  /api/v2/incidents:
    get:
      operationId: list_incidents
      summary: List incidents
      parameters:
        - name: page[size]
          in: query
          schema:
            type: integer
            default: 10
          description: Results per page
        - name: page[offset]
          in: query
          schema:
            type: integer
            default: 0
          description: Result offset
      responses:
        "200":
          description: OK
    post:
      operationId: create_incident
      summary: Create an incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncidentCreateRequest"
      responses:
        "200":
          description: OK

  /api/v2/incidents/{incident_id}:
    parameters:
      - name: incident_id
        in: path
        required: true
        schema:
          type: string
        description: Incident ID
    patch:
      operationId: update_incident
      summary: Update an incident
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IncidentUpdateRequest"
      responses:
        "200":
          description: OK

  /api/v2/logs/events/search:
    post:
      operationId: search_logs
      summary: Search logs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LogsSearchRequest"
      responses:
        "200":
          description: OK

  /api/v2/ci/pipelines/events/search:
    post:
      operationId: search_ci_pipelines
      summary: Search CI pipeline events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CIPipelinesSearchRequest"
      responses:
        "200":
          description: OK

  /api/v2/downtime:
    post:
      operationId: create_downtime
      summary: Create a downtime
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DowntimeCreateRequest"
      responses:
        "200":
          description: OK

  /api/v2/rum/events:
    get:
      operationId: list_rum_events
      summary: List RUM events
      parameters:
        - name: filter[query]
          in: query
          schema:
            type: string
          description: RUM search query
        - name: filter[from]
          in: query
          schema:
            type: string
          description: Minimum timestamp
        - name: filter[to]
          in: query
          schema:
            type: string
          description: Maximum timestamp
        - name: sort
          in: query
          schema:
            type: string
            enum: ["timestamp", "-timestamp"]
          description: Sort order
        - name: page[cursor]
          in: query
          schema:
            type: string
          description: Pagination cursor
        - name: page[limit]
          in: query
          schema:
            type: integer
            default: 50
          description: Page size
      responses:
        "200":
          description: OK

  /api/v2/rum/events/search:
    post:
      operationId: search_rum_events
      summary: Search RUM events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RUMSearchRequest"
      responses:
        "200":
          description: OK

  /api/v2/rum/analytics/aggregate:
    post:
      operationId: aggregate_rum_events
      summary: Aggregate RUM events
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RUMAggregateRequest"
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests:
    get:
      operationId: list_synthetics_tests
      summary: List Synthetic tests
      parameters:
        - name: page_size
          in: query
          schema:
            type: integer
            default: 100
          description: Results per page
        - name: page_number
          in: query
          schema:
            type: integer
            default: 0
          description: Page number
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/{public_id}:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: Test public ID
    get:
      operationId: get_synthetics_test
      summary: Get a Synthetic test
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/api/{public_id}:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: API test public ID
    get:
      operationId: get_synthetics_api_test
      summary: Get a Synthetic API test
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/browser/{public_id}:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: Browser test public ID
    get:
      operationId: get_synthetics_browser_test
      summary: Get a Synthetic browser test
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/{public_id}/results:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: Test public ID
    get:
      operationId: get_synthetics_test_latest_results
      summary: Get the most recent results for a Synthetic test
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/api/{public_id}/results/{result_id}:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: API test public ID
      - name: result_id
        in: path
        required: true
        schema:
          type: string
        description: Result ID
    get:
      operationId: get_synthetics_api_test_result
      summary: Get a single Synthetic API test result
      responses:
        "200":
          description: OK

  /api/v1/synthetics/tests/browser/{public_id}/results/{result_id}:
    parameters:
      - name: public_id
        in: path
        required: true
        schema:
          type: string
        description: Browser test public ID
      - name: result_id
        in: path
        required: true
        schema:
          type: string
        description: Result ID
    get:
      operationId: get_synthetics_browser_test_result
      summary: Get a single Synthetic browser test result
      responses:
        "200":
          description: OK

  /api/v1/synthetics/locations:
    get:
      operationId: list_synthetics_locations
      summary: List public Synthetic locations
      responses:
        "200":
          description: OK

  /api/v1/synthetics/private-locations/{location_id}:
    parameters:
      - name: location_id
        in: path
        required: true
        schema:
          type: string
        description: Private location ID
    get:
      operationId: get_synthetics_private_location
      summary: Get a private Synthetic location
      responses:
        "200":
          description: OK

  /api/v1/synthetics/variables:
    get:
      operationId: list_synthetics_global_variables
      summary: List Synthetic global variables
      responses:
        "200":
          description: OK

  /api/v1/synthetics/variables/{variable_id}:
    parameters:
      - name: variable_id
        in: path
        required: true
        schema:
          type: string
        description: Global variable ID
    get:
      operationId: get_synthetics_global_variable
      summary: Get a Synthetic global variable
      responses:
        "200":
          description: OK

  /api/v1/synthetics/settings/default_locations:
    get:
      operationId: get_synthetics_default_locations
      summary: Get default Synthetic locations
      responses:
        "200":
          description: OK

  /api/v2/users:
    get:
      operationId: list_users
      summary: List users
      parameters:
        - name: page[size]
          in: query
          schema:
            type: integer
            default: 10
          description: Results per page
        - name: page[number]
          in: query
          schema:
            type: integer
            default: 0
          description: Page number
        - name: sort
          in: query
          schema:
            type: string
            default: name
          description: Sort field and direction
        - name: filter[status]
          in: query
          schema:
            type: string
          description: Filter by user status (Active, Pending, Disabled)
      responses:
        "200":
          description: OK
    post:
      operationId: create_user
      summary: Create a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserCreateRequest"
      responses:
        "201":
          description: Created

  /api/v2/users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    get:
      operationId: get_user
      summary: Get a user
      responses:
        "200":
          description: OK
    patch:
      operationId: update_user
      summary: Update a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserUpdateRequest"
      responses:
        "200":
          description: OK
    delete:
      operationId: disable_user
      summary: Disable a user
      responses:
        "204":
          description: No Content

  /api/v2/user_invitations:
    get:
      operationId: list_user_invitations
      summary: List user invitations
      parameters:
        - name: page[size]
          in: query
          schema:
            type: integer
            default: 10
          description: Results per page
        - name: page[number]
          in: query
          schema:
            type: integer
            default: 0
          description: Page number
        - name: sort
          in: query
          schema:
            type: string
            default: created_at
          description: Sort field and direction
      responses:
        "200":
          description: OK
    post:
      operationId: create_user_invitations
      summary: Send user invitations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserInvitationsRequest"
      responses:
        "201":
          description: Created

  /api/v2/user_invitations/{user_invitation_uuid}:
    parameters:
      - name: user_invitation_uuid
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: User invitation UUID
    get:
      operationId: get_user_invitation
      summary: Get a user invitation
      responses:
        "200":
          description: OK

  /api/v2/roles:
    get:
      operationId: list_roles
      summary: List roles
      parameters:
        - name: page[size]
          in: query
          schema:
            type: integer
            default: 10
          description: Results per page
        - name: page[number]
          in: query
          schema:
            type: integer
            default: 0
          description: Page number
        - name: sort
          in: query
          schema:
            type: string
            default: name
          description: Sort field and direction
        - name: filter[name]
          in: query
          schema:
            type: string
          description: Filter by role name
      responses:
        "200":
          description: OK

  /api/v2/roles/{role_id}:
    parameters:
      - name: role_id
        in: path
        required: true
        schema:
          type: string
        description: Role ID
    get:
      operationId: get_role
      summary: Get a role
      responses:
        "200":
          description: OK

  /api/v2/users/{user_id}/roles:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    get:
      operationId: list_user_roles
      summary: List a user's roles
      responses:
        "200":
          description: OK

components:
  securitySchemes:
    api_key:
      type: apiKey
      in: header
      name: DD-API-KEY
    application_key:
      type: apiKey
      in: header
      name: DD-APPLICATION-KEY
  schemas:
    Dashboard:
      type: object
      required: [title, layout_type, widgets]
      properties:
        title:
          type: string
        description:
          type: string
        layout_type:
          type: string
          enum: [ordered, free]
        widgets:
          type: array
          items:
            type: object
        template_variables:
          type: array
          items:
            type: object

    Monitor:
      type: object
      required: [name, type, query]
      properties:
        name:
          type: string
        type:
          type: string
          description: Monitor type such as query alert or metric alert
        query:
          type: string
        message:
          type: string
        tags:
          type: array
          items:
            type: string
        priority:
          type: integer

    MonitorUpdate:
      type: object
      properties:
        name:
          type: string
        query:
          type: string
        message:
          type: string
        tags:
          type: array
          items:
            type: string
        priority:
          type: integer

    MetricMetadata:
      type: object
      properties:
        description:
          type: string
        integration:
          type: string
        short_name:
          type: string
        type:
          type: string
          description: Metric type, such as gauge, count, rate, or distribution.
        unit:
          type: string
          description: Primary metric unit, such as second, byte, request, operation, error, instance, or user.
        per_unit:
          type: string
          description: Optional denominator unit, such as second for rates.
        statsd_interval:
          type: integer
          description: StatsD interval in seconds.

    MetricTagConfigurationCreateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, id, attributes]
          properties:
            type:
              type: string
              enum: [manage_tags]
            id:
              type: string
              description: Metric name
            attributes:
              type: object
              required: [metric_type, tags]
              properties:
                metric_type:
                  type: string
                  enum: [gauge, count, rate, distribution]
                tags:
                  type: array
                  items:
                    type: string
                exclude_tags_mode:
                  type: boolean
                include_percentiles:
                  type: boolean
                  description: Enable percentile aggregations for distribution metrics.
                aggregations:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricCustomAggregation"

    MetricTagConfigurationUpdateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, id, attributes]
          properties:
            type:
              type: string
              enum: [manage_tags]
            id:
              type: string
              description: Metric name
            attributes:
              type: object
              properties:
                tags:
                  type: array
                  items:
                    type: string
                exclude_tags_mode:
                  type: boolean
                include_percentiles:
                  type: boolean
                  description: Enable percentile aggregations for distribution metrics.
                aggregations:
                  type: array
                  items:
                    $ref: "#/components/schemas/MetricCustomAggregation"

    MetricCustomAggregation:
      type: object
      required: [space, time]
      properties:
        space:
          type: string
          enum: [avg, max, min, sum]
        time:
          type: string
          enum: [avg, count, max, min, sum]

    IncidentAttributes:
      type: object
      required: [title, customer_impacted]
      properties:
        title:
          type: string
        customer_impacted:
          type: boolean
        customer_impact_scope:
          type: string

    IncidentUpdateAttributes:
      type: object
      minProperties: 1
      properties:
        title:
          type: string
        customer_impacted:
          type: boolean
        customer_impact_scope:
          type: string

    IncidentCreateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, attributes]
          properties:
            type:
              type: string
              enum: [incidents]
            attributes:
              $ref: "#/components/schemas/IncidentAttributes"

    IncidentUpdateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [id, type, attributes]
          properties:
            id:
              type: string
            type:
              type: string
              enum: [incidents]
            attributes:
              $ref: "#/components/schemas/IncidentUpdateAttributes"

    DowntimeCreateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, attributes]
          properties:
            type:
              type: string
              enum: [downtime]
            attributes:
              type: object
              required: [scope]
              properties:
                scope:
                  type: string
                message:
                  type: string
                monitor_identifier:
                  oneOf:
                    - type: object
                      properties:
                        monitor_id:
                          type: integer
                    - type: object
                      properties:
                        monitor_tags:
                          type: array
                          items:
                            type: string
                schedule:
                  type: object
                  properties:
                    start:
                      type: string
                      format: date-time
                    end:
                      type: string
                      format: date-time

    LogsSearchRequest:
      type: object
      required: [filter]
      properties:
        filter:
          type: object
          required: [query]
          properties:
            query:
              type: string
            from:
              type: string
              description: Minimum timestamp
            to:
              type: string
              description: Maximum timestamp
            indexes:
              type: array
              items:
                type: string
        page:
          type: object
          properties:
            cursor:
              type: string
              description: Pagination cursor returned from a previous log search response
            limit:
              type: integer
              default: 50
              maximum: 1000
        sort:
          type: string

    CIPipelinesSearchRequest:
      type: object
      required: [filter]
      properties:
        filter:
          type: object
          required: [query]
          properties:
            query:
              type: string
            from:
              type: string
              description: Minimum timestamp
            to:
              type: string
              description: Maximum timestamp
        page:
          type: object
          properties:
            limit:
              type: integer
              default: 50

    RUMSearchRequest:
      type: object
      required: [filter]
      properties:
        filter:
          type: object
          required: [query]
          properties:
            query:
              type: string
            from:
              type: string
            to:
              type: string
        options:
          type: object
          properties:
            time_offset:
              type: integer
            timezone:
              type: string
        page:
          type: object
          properties:
            cursor:
              type: string
            limit:
              type: integer
              default: 50
        sort:
          type: string

    RUMAggregateRequest:
      type: object
      required: [filter, compute]
      properties:
        filter:
          type: object
          required: [query]
          properties:
            query:
              type: string
            from:
              type: string
            to:
              type: string
        compute:
          type: array
          items:
            type: object
            properties:
              aggregation:
                type: string
              metric:
                type: string
              type:
                type: string
        group_by:
          type: array
          items:
            type: object
            properties:
              facet:
                type: string
              limit:
                type: integer
              total:
                type: boolean
              sort:
                type: object
                properties:
                  aggregation:
                    type: string
                  metric:
                    type: string
                  order:
                    type: string
                    enum: ["asc", "desc"]
                  type:
                    type: string
        options:
          type: object
          properties:
            time_offset:
              type: integer
            timezone:
              type: string
        page:
          type: object
          properties:
            cursor:
              type: string
            limit:
              type: integer
              default: 50

    UserAttributes:
      type: object
      required: [email]
      properties:
        email:
          type: string
          format: email
        name:
          type: string
        title:
          type: string
        disabled:
          type: boolean
        service_account:
          type: boolean
        status:
          type: string
          enum: [Active, Pending, Disabled]
          readOnly: true

    UserCreateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, attributes]
          properties:
            type:
              type: string
              enum: [users]
            attributes:
              $ref: "#/components/schemas/UserAttributes"

    UserUpdateRequest:
      type: object
      required: [data]
      properties:
        data:
          type: object
          required: [type, id, attributes]
          properties:
            type:
              type: string
              enum: [users]
            id:
              type: string
            attributes:
              type: object
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                title:
                  type: string
                disabled:
                  type: boolean
                service_account:
                  type: boolean

    UserInvitationData:
      type: object
      required: [type, attributes]
      properties:
        type:
          type: string
          enum: [user_invitations]
        attributes:
          type: object
          required: [email]
          properties:
            email:
              type: string
              format: email

    UserInvitationsRequest:
      type: object
      required: [data]
      properties:
        data:
          type: array
          items:
            $ref: "#/components/schemas/UserInvitationData"
