---
openapi: 3.0.0
info:
  title: Vanta API
  version: 1.0.0
servers:
- url: https://api.vanta.com/v1
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
tags:
- name: Build Integrations
- name: Build Integrations > Authentication
- name: Build Integrations > Account Resource Type
- name: Build Integrations > Custom Resource Type
- name: Build Integrations > MDM Resource Type
- name: Manage Vanta
- name: Manage Vanta > Authentication
- name: Manage Vanta > controls
- name: Manage Vanta > controls > add-from-library
- name: Manage Vanta > controls > controls-library
- name: Manage Vanta > controls > {controlId}
- name: Manage Vanta > controls > {controlId} > add-document-to-control
- name: Manage Vanta > controls > {controlId} > add-test-to-control
- name: Manage Vanta > controls > {controlId} > documents
- name: Manage Vanta > controls > {controlId} > documents > {documentId}
- name: Manage Vanta > controls > {controlId} > set-owner
- name: Manage Vanta > controls > {controlId} > tests
- name: Manage Vanta > controls > {controlId} > tests > {testId}
- name: Manage Vanta > discovered-vendors
- name: Manage Vanta > discovered-vendors > {discoveredVendorId}
- name: Manage Vanta > discovered-vendors > {discoveredVendorId} > accounts
- name: Manage Vanta > discovered-vendors > {discoveredVendorId} > add-to-managed
- name: Manage Vanta > documents
- name: Manage Vanta > documents > {documentId}
- name: Manage Vanta > documents > {documentId} > controls
- name: Manage Vanta > documents > {documentId} > links
- name: Manage Vanta > documents > {documentId} > links > {linkId}
- name: Manage Vanta > documents > {documentId} > set-owner
- name: Manage Vanta > documents > {documentId} > submit
- name: Manage Vanta > documents > {documentId} > uploads
- name: Manage Vanta > documents > {documentId} > uploads > {uploadedFileId}
- name: Manage Vanta > documents > {documentId} > uploads > {uploadedFileId} > media
- name: Manage Vanta > frameworks
- name: Manage Vanta > frameworks > {frameworkId}
- name: Manage Vanta > frameworks > {frameworkId} > controls
- name: Manage Vanta > groups
- name: Manage Vanta > groups > {groupId}
- name: Manage Vanta > groups > {groupId} > add-people
- name: Manage Vanta > groups > {groupId} > people
- name: Manage Vanta > groups > {groupId} > people > {personId}
- name: Manage Vanta > groups > {groupId} > remove-people
- name: Manage Vanta > integrations
- name: Manage Vanta > integrations > {integrationId}
- name: Manage Vanta > integrations > {integrationId} > resource-kinds
- name: Manage Vanta > integrations > {integrationId} > resource-kinds > {resourceKind}
- name: Manage Vanta > integrations > {integrationId} > resource-kinds > {resourceKind}
    > resources
- name: Manage Vanta > integrations > {integrationId} > resource-kinds > {resourceKind}
    > resources > {resourceId}
- name: Manage Vanta > monitored-computers
- name: Manage Vanta > monitored-computers > {computerId}
- name: Manage Vanta > people
- name: Manage Vanta > people > mark-as-not-people
- name: Manage Vanta > people > mark-as-people
- name: Manage Vanta > people > offboard
- name: Manage Vanta > people > {personId}
- name: Manage Vanta > people > {personId} > clear-leave
- name: Manage Vanta > people > {personId} > set-leave
- name: Manage Vanta > policies
- name: Manage Vanta > policies > {policyId}
- name: Manage Vanta > risk-scenarios
- name: Manage Vanta > risk-scenarios > {riskScenarioId}
- name: Manage Vanta > risk-scenarios > {riskScenarioId} > cancel-approval-request
- name: Manage Vanta > risk-scenarios > {riskScenarioId} > submit-for-approval
- name: Manage Vanta > tests
- name: Manage Vanta > tests > {testId}
- name: Manage Vanta > tests > {testId} > entities
- name: Manage Vanta > tests > {testId} > entities > {entityId}
- name: Manage Vanta > tests > {testId} > entities > {entityId} > deactivate
- name: Manage Vanta > tests > {testId} > entities > {entityId} > reactivate
- name: Manage Vanta > trust-centers
- name: Manage Vanta > trust-centers > {slugId}
- name: Manage Vanta > trust-centers > {slugId} > access-requests
- name: Manage Vanta > trust-centers > {slugId} > access-requests > {accessRequestId}
- name: Manage Vanta > trust-centers > {slugId} > access-requests > {accessRequestId}
    > approve
- name: Manage Vanta > trust-centers > {slugId} > access-requests > {accessRequestId}
    > deny
- name: Manage Vanta > trust-centers > {slugId} > activity
- name: Manage Vanta > trust-centers > {slugId} > control-categories
- name: Manage Vanta > trust-centers > {slugId} > control-categories > {categoryId}
- name: Manage Vanta > trust-centers > {slugId} > controls
- name: Manage Vanta > trust-centers > {slugId} > controls > {controlId}
- name: Manage Vanta > trust-centers > {slugId} > faqs
- name: Manage Vanta > trust-centers > {slugId} > faqs > {faqId}
- name: Manage Vanta > trust-centers > {slugId} > historical-access-requests
- name: Manage Vanta > trust-centers > {slugId} > resources
- name: Manage Vanta > trust-centers > {slugId} > resources > {resourceId}
- name: Manage Vanta > trust-centers > {slugId} > resources > {resourceId} > media
- name: Manage Vanta > trust-centers > {slugId} > subprocessors
- name: Manage Vanta > trust-centers > {slugId} > subprocessors > {subprocessorId}
- name: Manage Vanta > trust-centers > {slugId} > subscriber-groups
- name: Manage Vanta > trust-centers > {slugId} > subscriber-groups > {subscriberGroupId}
- name: Manage Vanta > trust-centers > {slugId} > subscribers
- name: Manage Vanta > trust-centers > {slugId} > subscribers > {subscriberId}
- name: Manage Vanta > trust-centers > {slugId} > subscribers > {subscriberId} > groups
- name: Manage Vanta > trust-centers > {slugId} > updates
- name: Manage Vanta > trust-centers > {slugId} > updates > {updateId}
- name: Manage Vanta > trust-centers > {slugId} > updates > {updateId} > notify-all-subscribers
- name: Manage Vanta > trust-centers > {slugId} > updates > {updateId} > notify-specific-subscribers
- name: Manage Vanta > trust-centers > {slugId} > viewers
- name: Manage Vanta > trust-centers > {slugId} > viewers > {viewerId}
- name: Manage Vanta > vendor-risk-attributes
- name: Manage Vanta > vendors
- name: Manage Vanta > vendors > {vendorId}
- name: Manage Vanta > vendors > {vendorId} > documents
- name: Manage Vanta > vendors > {vendorId} > findings
- name: Manage Vanta > vendors > {vendorId} > findings > {findingId}
- name: Manage Vanta > vendors > {vendorId} > security-reviews
- name: Manage Vanta > vendors > {vendorId} > security-reviews > {securityReviewId}
- name: Manage Vanta > vendors > {vendorId} > security-reviews > {securityReviewId}
    > documents
- name: Manage Vanta > vendors > {vendorId} > security-reviews > {securityReviewId}
    > documents > {documentId}
- name: Manage Vanta > vendors > {vendorId} > set-status
- name: Manage Vanta > vulnerabilities
- name: Manage Vanta > vulnerabilities > deactivate
- name: Manage Vanta > vulnerabilities > reactivate
- name: Manage Vanta > vulnerabilities > {vulnerabilityId}
- name: Manage Vanta > vulnerability-remediations
- name: Manage Vanta > vulnerability-remediations > acknowledge-sla-miss
- name: Manage Vanta > vulnerable-assets
- name: Manage Vanta > vulnerable-assets > {vulnerableAssetId}
paths:
  "/resources/user_account":
    get:
      tags:
      - Build Integrations > Account Resource Type
      summary: Get User Accounts
      security:
      - bearerAuth: []
      parameters:
      - name: resourceId
        in: query
        schema:
          type: string
        example: "{{accountResourceId}}"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: GetUserAccounts
    put:
      tags:
      - Build Integrations > Account Resource Type
      summary: Sync User Accounts
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\r\n  \"resourceId\": \"{{accountResourceId}}\",\r\n  \"resources\":
                [\r\n    {\r\n      \"permissionLevel\": \"ADMIN\",\r\n      \"status\":
                \"ACTIVE\",\r\n      \"mfaEnabled\": true,\r\n      \"mfaMethods\":
                [\r\n        \"PUSH_PROMPT\",\r\n        \"HARDWARE_TOKEN\"\r\n      ],\r\n      \"authMethod\":
                \"BIOMETRIC\",\r\n      \"groupIds\": [\r\n        \"ADMIN\",\r\n        \"EDITOR\"\r\n      ],\r\n      \"displayName\":
                \"Test User\",\r\n      \"uniqueId\": \"test_user_1\",\r\n      \"externalUrl\":
                \"https://www.vanta.com\",\r\n      \"fullName\": \"Austin Powers\",\r\n      \"accountName\":
                \"apowers79\",\r\n      \"email\": \"austin.powers@vanta.com\",\r\n      \"createdTimestamp\":
                \"2022-06-15T12:32:44Z\",\r\n      \"roleDescription\": \"ADMIN\",\r\n      \"updatedTimestamp\":
                \"2023-07-15T12:32:44Z\",\r\n      \"lastLoginTimestamp\": \"2023-07-19T12:32:44Z\",\r\n      \"lastPasswordResetTimestamp\":
                \"2022-10-17T12:32:44Z\"\r\n    }\r\n  ]\r\n}"'
      security:
      - bearerAuth: []
      parameters:
      - name: accept
        in: header
        schema:
          type: string
        example: application/json
      - name: content-type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: SyncUserAccounts
  "/resources/custom_resource":
    get:
      tags:
      - Build Integrations > Custom Resource Type
      summary: Get Custom Resource - Server
      security:
      - bearerAuth: []
      parameters:
      - name: resourceId
        in: query
        schema:
          type: string
        example: "{{customResourceId}}"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: GetCustomResourceServer
    put:
      tags:
      - Build Integrations > Custom Resource Type
      summary: Sync Custom Resource - Server
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                resourceId: "{{customResourceId}}"
                resources:
                - displayName: PS-PROD-US-LINUX-01
                  uniqueId: PS-PROD-US-0001
                  externalUrl: myprivate.app/ps-prod-us-0001
                  customProperties:
                    name: My Server Name
                    active: true
                    memory: 512
              properties:
                resourceId:
                  type: string
                resources:
                  type: array
                  items:
                    type: object
                    properties:
                      displayName:
                        type: string
                      uniqueId:
                        type: string
                      externalUrl:
                        type: string
                      customProperties:
                        type: object
                        properties:
                          name:
                            type: string
                          active:
                            type: boolean
                          memory:
                            type: integer
      security:
      - bearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: SyncCustomResourceServer
  "/resources/macos_user_computer":
    get:
      tags:
      - Build Integrations > MDM Resource Type
      summary: Get Computers
      security:
      - bearerAuth: []
      parameters:
      - name: resourceId
        in: query
        schema:
          type: string
        example: "{{mdmResourceId}}"
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: GetComputers
    put:
      tags:
      - Build Integrations > MDM Resource Type
      summary: Sync MacOS Computers
      requestBody:
        content:
          "*/*":
            schema:
              type: string
              example: '"{\r\n  \"resourceId\": \"{{mdmResourceId}}\",\r\n  \"resources\":
                [\r\n    {\r\n      \"applications\": [\r\n        {\r\n          \"name\":
                \"Google Chrome\",\r\n          \"lastOpenedTimestamp\": \"2023-07-19T15:55:34-05:00\",\r\n          \"bundleId\":
                \"com.google.chrome.ios\"\r\n        },\r\n        {\r\n          \"name\":
                \"Norton360\",\r\n          \"bundleId\": \"com.symantec.mobilesecurity\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\",\r\n          \"name\": \"1Password\",\r\n          \"bundleId\":
                \"com.1password.1password\"\r\n        },\r\n        {\r\n          \"name\":
                \"Notes\",\r\n          \"bundleId\": \"com.apple.mobilenotes\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"bundleId\":
                \"com.tinyspeck.chatlyio\",\r\n          \"name\": \"Slack\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"name\":
                \"Discord\",\r\n          \"bundleId\": \"com.hammerandchisel.discord\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"name\":
                \"App Store\",\r\n          \"bundleId\": \"com.apple.AppStoreConnect\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        }\r\n      ],\r\n      \"browserExtensions\":
                [\r\n        {\r\n          \"browser\": \"CHROME\",\r\n          \"extensionId\":
                \"hmpcknfapfmkoegemmgaoagijohjockk\",\r\n          \"name\": \"TrustPage\"\r\n        }\r\n      ],\r\n      \"drives\":
                [\r\n        {\r\n          \"encrypted\": true,\r\n          \"filevaultEnabled\":
                true,\r\n          \"isBootVolume\": true,\r\n          \"name\":
                \"Macintosh HD\"\r\n        }\r\n      ],\r\n      \"users\": [\r\n        {\r\n          \"screenlockPolicies\":
                [\r\n            {\r\n              \"requiresPassword\": true,\r\n              \"screenSleepTimeoutMs\":
                300000\r\n            }\r\n          ],\r\n          \"screenlockSettings\":
                {\r\n            \"requiresPassword\": true,\r\n            \"screenSleepTimeoutMs\":
                300000\r\n          },\r\n          \"username\": \"taylor\",\r\n          \"lastLoginTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        }\r\n      ],\r\n      \"systemScreenlockPolicies\":
                [\r\n        {\r\n          \"requiresPassword\": true,\r\n          \"screenSleepTimeoutMs\":
                300000\r\n        }\r\n      ],\r\n      \"isManaged\": true,\r\n      \"autoUpdatesEnabled\":
                true,\r\n      \"passwordPolicy\": {\r\n        \"minimumLengthRequirement\":
                8\r\n      },\r\n      \"displayName\": \"Mac-TaylorHatfield\",\r\n      \"uniqueId\":
                \"mac-192845\",\r\n      \"externalUrl\": \"https://vanta.com\",\r\n      \"collectedTimestamp\":
                \"2023-07-20T15:55:34-05:00\",\r\n      \"osName\": \"MacOS Monterey\",\r\n      \"osVersion\":
                \"12.4\",\r\n      \"hardwareUuid\": \"123e4567-e89b-12d3-a456-426614174000\",\r\n      \"serialNumber\":
                \"W88401231AX \",\r\n      \"owner\": \"taylor.hatfield@vanta.com\",\r\n      \"isXProtectEnabled\":
                true\r\n    },\r\n        {\r\n      \"applications\": [\r\n        {\r\n          \"name\":
                \"Google Chrome\",\r\n          \"lastOpenedTimestamp\": \"2023-07-19T15:55:34-05:00\",\r\n          \"bundleId\":
                \"com.google.chrome.ios\"\r\n        },\r\n        {\r\n          \"name\":
                \"Norton360\",\r\n          \"bundleId\": \"com.symantec.mobilesecurity\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\",\r\n          \"name\": \"1Password\",\r\n          \"bundleId\":
                \"com.1password.1password\"\r\n        },\r\n        {\r\n          \"name\":
                \"Notes\",\r\n          \"bundleId\": \"com.apple.mobilenotes\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"bundleId\":
                \"com.tinyspeck.chatlyio\",\r\n          \"name\": \"Slack\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"name\":
                \"Discord\",\r\n          \"bundleId\": \"com.hammerandchisel.discord\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        },\r\n        {\r\n          \"name\":
                \"App Store\",\r\n          \"bundleId\": \"com.apple.AppStoreConnect\",\r\n          \"lastOpenedTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        }\r\n      ],\r\n      \"browserExtensions\":
                [\r\n        {\r\n          \"browser\": \"CHROME\",\r\n          \"extensionId\":
                \"hmpcknfapfmkoegemmgaoagijohjockk\",\r\n          \"name\": \"TrustPage\"\r\n        }\r\n      ],\r\n      \"drives\":
                [\r\n        {\r\n          \"encrypted\": false,\r\n          \"filevaultEnabled\":
                false,\r\n          \"isBootVolume\": true,\r\n          \"name\":
                \"Macintosh HD\"\r\n        }\r\n      ],\r\n      \"users\": [\r\n        {\r\n          \"screenlockPolicies\":
                [\r\n            {\r\n              \"requiresPassword\": true,\r\n              \"screenSleepTimeoutMs\":
                300000\r\n            }\r\n          ],\r\n          \"screenlockSettings\":
                {\r\n            \"requiresPassword\": true,\r\n            \"screenSleepTimeoutMs\":
                300000\r\n          },\r\n          \"username\": \"taylor\",\r\n          \"lastLoginTimestamp\":
                \"2023-07-19T15:55:34-05:00\"\r\n        }\r\n      ],\r\n      \"systemScreenlockPolicies\":
                [\r\n        {\r\n          \"requiresPassword\": true,\r\n          \"screenSleepTimeoutMs\":
                300000\r\n        }\r\n      ],\r\n      \"isManaged\": true,\r\n      \"autoUpdatesEnabled\":
                true,\r\n      \"passwordPolicy\": {\r\n        \"minimumLengthRequirement\":
                8\r\n      },\r\n      \"displayName\": \"Mac-AmandaMott\",\r\n      \"uniqueId\":
                \"mac-192846\",\r\n      \"externalUrl\": \"https://vanta.com\",\r\n      \"collectedTimestamp\":
                \"2023-07-20T15:55:34-05:00\",\r\n      \"osName\": \"MacOS Mojave\",\r\n      \"osVersion\":
                \"10.14\",\r\n      \"hardwareUuid\": \"8d73j457-e89b-12d3-a456-836610495867\",\r\n      \"serialNumber\":
                \"XO037F829H1 \",\r\n      \"owner\": \"amanda@vanta.com\",\r\n      \"isXProtectEnabled\":
                false\r\n    }\r\n  ]\r\n}\r\n"'
      security:
      - bearerAuth: []
      parameters:
      - name: accept
        in: header
        schema:
          type: string
        example: application/json
      - name: content-type
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: Successful response
          content:
            application/json: {}
      operationId: SyncMacOSComputers
  "/controls/add-from-library":
    post:
      tags:
      - Manage Vanta > controls > add-from-library
      summary: Add control from Vanta library
      description: Add a control from the Vanta library to your organization's controls.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                controlId: string
              properties:
                controlId:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d9
                externalId: CRY-104
                name: Data encryption utilized
                description: Access reviews are performed to ensure that access is
                  appropriate for the user's role and responsibilities.
                source: Vanta
                domains:
                - CRYPTOGRAPHIC_PROTECTIONS
                owner:
                  id: 65e1efde08e8478f143a8ff9
                  emailAddress: example-person@email.com
                  displayName: Example Owner
                role: CONTROLLER
                customFields:
                - label: Additional context
                  value: This control is critical for GDPR compliance
                creationDate: 
                modificationDate: 
      operationId: AddControlFromVantaLibrary
  "/controls/controls-library":
    get:
      tags:
      - Manage Vanta > controls > controls-library
      summary: List Vanta controls from the library
      description: List Vanta controls from the library.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: 
                    modificationDate: 
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: YXJyYXljb25uZWN0aW9uOjA=
                    endCursor: YXJyYXljb25uZWN0aW9uOjE=
                  totalCount: 1
      operationId: ListVantaControlsFromLibrary
  "/controls/{controlId}/add-document-to-control":
    post:
      tags:
      - Manage Vanta > controls > {controlId} > add-document-to-control
      summary: Add control to document mapping
      description: Add a document to a control.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                documentId: string
              properties:
                documentId:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                control:
                  id: a2f7e1b9d0c3f4e5a6c7b8d9
                  externalId: CRY-104
                  name: Data encryption utilized
                  description: Access reviews are performed to ensure that access
                    is appropriate for the user's role and responsibilities.
                  source: Vanta
                  domains:
                  - CRYPTOGRAPHIC_PROTECTIONS
                  owner:
                    id: 65e1efde08e8478f143a8ff9
                    emailAddress: example-person@email.com
                    displayName: Example Owner
                  role: CONTROLLER
                  customFields:
                  - label: Additional context
                    value: This control is critical for GDPR compliance
                  creationDate: 
                  modificationDate: 
                document:
                  id: '1'
                  ownerId: '2'
                  category: Account setup
                  description: 'Provide two examples of a recent access request and
                    approval '
                  isSensitive: false
                  title: Document Title
                  uploadStatus: Needs document
                  uploadStatusDate: '2024-03-17T00:00:00.000Z'
                  url: https://example.com
      operationId: AddControlToDocumentMapping
  "/controls/{controlId}/add-test-to-control":
    post:
      tags:
      - Manage Vanta > controls > {controlId} > add-test-to-control
      summary: Add control to test mapping
      description: Add a control to test mapping.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                testId: string
              properties:
                testId:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                control:
                  id: a2f7e1b9d0c3f4e5a6c7b8d9
                  externalId: CRY-104
                  name: Data encryption utilized
                  description: Access reviews are performed to ensure that access
                    is appropriate for the user's role and responsibilities.
                  source: Vanta
                  domains:
                  - CRYPTOGRAPHIC_PROTECTIONS
                  owner:
                    id: 65e1efde08e8478f143a8ff9
                    emailAddress: example-person@email.com
                    displayName: Example Owner
                  role: CONTROLLER
                  customFields:
                  - label: Additional context
                    value: This control is critical for GDPR compliance
                  creationDate: 
                  modificationDate: 
                test:
                  id: aws-account-access-removed-on-termination
                  name: AWS accounts deprovisioned when personnel leave
                  lastTestRunDate: '2024-06-18T20:17:38.463Z'
                  latestFlipDate: 
                  description: 'Verifies that AWS accounts linked to removed users
                    are removed.

'
                  failureDescription: Some AWS accounts associated with terminated
                    personnel have not been deactivated.
                  remediationDescription: 'Remove all accounts listed from AWS.

'
                  version:
                    major: 0
                    minor: 0
                  category: Account security
                  integrations:
                  - aws
                  status: OK
                  deactivatedStatusInfo:
                    isDeactivated: false
                    deactivatedReason: 
                    lastUpdatedDate: 
                  remediationStatusInfo:
                    status: PASS
                    soonestRemediateByDate: 
                    itemCount: 0
                  owner: 
      operationId: AddControlToTestMapping
  "/controls/{controlId}/documents/{documentId}":
    delete:
      tags:
      - Manage Vanta > controls > {controlId} > documents > {documentId}
      summary: Remove control from document mapping
      description: Remove a document by ID from a control.
      security:
      - bearerAuth: []
      parameters:
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: RemoveControlFromDocumentMapping
  "/controls/{controlId}/documents":
    get:
      tags:
      - Manage Vanta > controls > {controlId} > documents
      summary: List a control's documents
      description: List a control's documents.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: '1'
                    ownerId: '2'
                    category: Account setup
                    description: 'Provide two examples of a recent access request
                      and approval '
                    isSensitive: false
                    title: Document Title
                    uploadStatus: Needs document
                    uploadStatusDate: '2024-03-17T00:00:00.000Z'
                    url: https://example.com
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: '1'
                    endCursor: '1'
      operationId: ListControlDocuments
  "/controls/{controlId}/set-owner":
    post:
      tags:
      - Manage Vanta > controls > {controlId} > set-owner
      summary: Set owner of a control
      description: Assign a control to a user or remove an owner from a control.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                userId: string
              properties:
                userId:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d9
                externalId: CRY-104
                name: Data encryption utilized
                description: Access reviews are performed to ensure that access is
                  appropriate for the user's role and responsibilities.
                source: Vanta
                domains:
                - CRYPTOGRAPHIC_PROTECTIONS
                owner:
                  id: 65e1efde08e8478f143a8ff9
                  emailAddress: example-person@email.com
                  displayName: Example Owner
                role: CONTROLLER
                customFields:
                - label: Additional context
                  value: This control is critical for GDPR compliance
                creationDate: 
                modificationDate: 
      operationId: SetOwnerOfControl
  "/controls/{controlId}/tests/{testId}":
    delete:
      tags:
      - Manage Vanta > controls > {controlId} > tests > {testId}
      summary: Remove control from test mapping
      description: Remove a control from test mapping.
      security:
      - bearerAuth: []
      parameters:
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: testId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: RemoveControlFromTestMapping
  "/controls/{controlId}/tests":
    get:
      tags:
      - Manage Vanta > controls > {controlId} > tests
      summary: List a control's tests
      description: List a control's tests.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: aws-account-access-removed-on-termination
                    name: AWS accounts deprovisioned when personnel leave
                    lastTestRunDate: '2024-06-18T20:17:38.463Z'
                    latestFlipDate: 
                    description: 'Verifies that AWS accounts linked to removed users
                      are removed.

'
                    failureDescription: Some AWS accounts associated with terminated
                      personnel have not been deactivated.
                    remediationDescription: 'Remove all accounts listed from AWS.

'
                    version:
                      major: 0
                      minor: 0
                    category: Account security
                    integrations:
                    - aws
                    status: OK
                    deactivatedStatusInfo:
                      isDeactivated: false
                      deactivatedReason: 
                      lastUpdatedDate: 
                    remediationStatusInfo:
                      status: PASS
                      soonestRemediateByDate: 
                      itemCount: 0
                    owner: 
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: '1'
                    endCursor: '1'
      operationId: ListControlTests
  "/controls/{controlId}":
    patch:
      tags:
      - Manage Vanta > controls > {controlId}
      summary: Update a control's metadata
      description: Update a control's metadata.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                name: string
                externalId: string
                description: string
                domain: SECURE_ENGINEERING_&_ARCHITECTURE
                note: string
                customFields:
                - label: string
                  value: string
                - label: string
                  value: string
              properties:
                name:
                  type: string
                externalId:
                  type: string
                description:
                  type: string
                domain:
                  type: string
                note:
                  type: string
                customFields:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d9
                externalId: CRY-104
                name: Data encryption utilized
                description: Access reviews are performed to ensure that access is
                  appropriate for the user's role and responsibilities.
                source: Vanta
                domains:
                - CRYPTOGRAPHIC_PROTECTIONS
                owner:
                  id: 65e1efde08e8478f143a8ff9
                  emailAddress: example-person@email.com
                  displayName: Example Owner
                role: CONTROLLER
                customFields:
                - label: Additional context
                  value: This control is critical for GDPR compliance
                creationDate: 
                modificationDate: 
      operationId: UpdateControlMetadata
    delete:
      tags:
      - Manage Vanta > controls > {controlId}
      summary: Remove a control
      description: Delete a custom control or move a Vanta control back to the library.
      security:
      - bearerAuth: []
      parameters:
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: RemoveControl
    get:
      tags:
      - Manage Vanta > controls > {controlId}
      summary: Get control by an ID
      description: Get a control by an ID.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: controlId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d9
                externalId: CRY-104
                name: Data encryption utilized
                description: Access reviews are performed to ensure that access is
                  appropriate for the user's role and responsibilities.
                source: Vanta
                domains:
                - CRYPTOGRAPHIC_PROTECTIONS
                owner:
                  id: 65e1efde08e8478f143a8ff9
                  emailAddress: example-person@email.com
                  displayName: Example Owner
                note: Remember to do by Friday
                numDocumentsPassing: 1
                numDocumentsTotal: 1
                numTestsPassing: 2
                numTestsTotal: 3
                status: IN_PROGRESS
                role: CONTROLLER
                customFields:
                - label: Additional context
                  value: This control is critical for GDPR compliance
                creationDate: 
                modificationDate: 
      operationId: GetControl
  "/controls":
    post:
      tags:
      - Manage Vanta > controls
      summary: Create custom control
      description: Create a custom control.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                externalId: string
                name: string
                description: string
                effectiveDate: '2005-08-31T01:24:23.554Z'
                domain: PHYSICAL_&_ENVIRONMENTAL_SECURITY
                sections:
                - frameworkId: string
                  sectionId: string
                - frameworkId: PCI_SAQ_D_SP
                  sectionId: string
                role: PROCESSOR
                customFields:
                - label: string
                  value: string
                - label: string
                  value: string
              properties:
                externalId:
                  type: string
                name:
                  type: string
                description:
                  type: string
                effectiveDate:
                  type: string
                domain:
                  type: string
                sections:
                  type: array
                  items:
                    type: object
                    properties:
                      frameworkId:
                        type: string
                      sectionId:
                        type: string
                role:
                  type: string
                customFields:
                  type: array
                  items:
                    type: object
                    properties:
                      label:
                        type: string
                      value:
                        type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '201':
          description: Created
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d9
                externalId: CRY-104
                name: Data encryption utilized
                description: Access reviews are performed to ensure that access is
                  appropriate for the user's role and responsibilities.
                source: Vanta
                domains:
                - CRYPTOGRAPHIC_PROTECTIONS
                owner:
                  id: 65e1efde08e8478f143a8ff9
                  emailAddress: example-person@email.com
                  displayName: Example Owner
                role: CONTROLLER
                customFields:
                - label: Additional context
                  value: This control is critical for GDPR compliance
                creationDate: 
                modificationDate: 
      operationId: CreateCustomControl
    get:
      tags:
      - Manage Vanta > controls
      summary: List controls
      description: List controls.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: frameworkMatchesAny
        in: query
        schema:
          type: string
        description: Includes all controls belonging to one of the provided framework
          values in frameworkMatchesAny.
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: 
                    modificationDate: 
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: YXJyYXljb25uZWN0aW9uOjA=
                    endCursor: YXJyYXljb25uZWN0aW9uOjE=
                  totalCount: 1
      operationId: ListControls
  "/discovered-vendors/{discoveredVendorId}/accounts":
    get:
      tags:
      - Manage Vanta > discovered-vendors > {discoveredVendorId} > accounts
      summary: List of discovered vendor accounts
      description: List of discovered vendor accounts.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: discoveredVendorId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: 66c6578ce02cc3a3483024d1
                    displayName: Example Computer
                    type: COMPUTER
                    owner:
                      id: a2f7e1b9d0c3f4e5a6c7b8d8
                      displayName: Example user
                      email: example@example.com
                      type: USER
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: 6696ea0595df50d5cd6ec3b7
                    endCursor: 6696ece48eb1f98ff3d927c6
      operationId: ListOfDiscoveredVendorAccounts
  "/discovered-vendors/{discoveredVendorId}/add-to-managed":
    post:
      tags:
      - Manage Vanta > discovered-vendors > {discoveredVendorId} > add-to-managed
      summary: Adds a discovered vendor to managed vendor by ID
      description: Add a discovered vendor to managed vendor.
      requestBody:
        content: {}
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: discoveredVendorId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: a2f7e1b9d0c3f4e5a6c7b8d8
                name: Vanta
                websiteUrl: https://www.vanta.com/
                accountManagerName: John Doe
                accountManagerEmail: john@doe.com
                servicesProvided: SaaS
                additionalNotes: Automate compliance and streamline security reviews
                  with the leading trust management platform.
                authDetails:
                  method: O_AUTH
                  passwordMFA: true
                  passwordRequiresNumber: true
                  passwordRequiresSymbol: true
                  passwordMinimumLength: 16
                securityOwnerUserId: 6626afa6490ec920099773e7
                businessOwnerUserId: 6626afb14c912f0a50e85619
                contractStartDate: '2024-02-01T00:00:00.000Z'
                contractRenewalDate: '2025-02-01T00:00:00.000Z'
                contractTerminationDate: 
                lastSecurityReviewCompletionDate: '2024-01-01T00:00:00.000Z'
                nextSecurityReviewDueDate: '2025-01-01T00:00:00.000Z'
                isVisibleToAuditors: true
                isRiskAutoScored: true
                category:
                  displayName: cloudMonitoring
                riskAttributeIds:
                - 6626b0298acc44f8674390da
                - 6626b02ea4cd9ba80d773c20
                status: MANAGED
                inherentRiskLevel: HIGH
                residualRiskLevel: MEDIUM
                vendorHeadquarters: USA
                contractAmount:
                  amount: 1000000
                  currency: USD
                customFields: 
                tagIdentifiers: 
                latestDecision:
                  status: APPROVED
                  lastUpdatedAt: '2024-01-01T00:00:00.000Z'
      operationId: AddsDiscoveredVendorToManagedVendor
  "/discovered-vendors":
    get:
      tags:
      - Manage Vanta > discovered-vendors
      summary: List discovered vendors
      description: List discovered vendors.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: scope
        in: query
        schema:
          type: string
        description: Defaults to "NEEDS_REVIEW" if not provided
        example: NEEDS_REVIEW
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: a2f7e1b9d0c3f4e5a6c7b8d8
                    name: Vanta
                    category:
                      name: Engineering
                    source: JAMF
                    normalizedName: vanta
                    discoveredDate: '2024-01-01T00:00:00.000Z'
                    numberOfAccounts: 7
                    ignored:
                      ignoredByUserId: 6626afb14c912f0a50e85619
                      ignoredReason: reason
                      ignoredAtDate: '2024-02-01T00:00:00.000Z'
                    rejected: 
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: 6696ea0595df50d5cd6ec3b7
                    endCursor: 6696ece48eb1f98ff3d927c6
      operationId: ListDiscoveredVendors
  "/documents/{documentId}/controls":
    get:
      tags:
      - Manage Vanta > documents > {documentId} > controls
      summary: List document's controls
      description: List a document's associated controls.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              examples:
                example-0:
                  summary: Example 1
                  value:
                    results:
                      data:
                      - id: '1'
                        ownerId: '2'
                        category: Account setup
                        description: 'Provide two examples of a recent access request
                          and approval '
                        isSensitive: false
                        title: Document Title
                        uploadStatus: Needs document
                        uploadStatusDate: '2024-03-17T00:00:00.000Z'
                        url: https://example.com
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: '1'
                        endCursor: '1'
                example-1:
                  summary: Example 2
                  value:
                    results:
                      data:
                      - id: a2f7e1b9d0c3f4e5a6c7b8d9
                        externalId: CRY-104
                        name: Data encryption utilized
                        description: Access reviews are performed to ensure that access
                          is appropriate for the user's role and responsibilities.
                        source: Vanta
                        domains:
                        - CRYPTOGRAPHIC_PROTECTIONS
                        owner:
                          id: 65e1efde08e8478f143a8ff9
                          emailAddress: example-person@email.com
                          displayName: Example Owner
                        role: CONTROLLER
                        customFields:
                        - label: Additional context
                          value: This control is critical for GDPR compliance
                        creationDate: 
                        modificationDate: 
                      pageInfo:
                        hasNextPage: false
                        hasPreviousPage: false
                        startCursor: YXJyYXljb25uZWN0aW9uOjA=
                        endCursor: YXJyYXljb25uZWN0aW9uOjE=
                      totalCount: 1
      operationId: ListDocumentControls
  "/documents/{documentId}/links/{linkId}":
    delete:
      tags:
      - Manage Vanta > documents > {documentId} > links > {linkId}
      summary: Remove document link
      description: Remove a link from a document.
      security:
      - bearerAuth: []
      parameters:
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: linkId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: RemoveDocumentLink
  "/documents/{documentId}/links":
    get:
      tags:
      - Manage Vanta > documents > {documentId} > links
      summary: List document's links
      description: List the uploaded links for a document.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: '1'
                    creationDate: '2024-06-26T00:00:00.000Z'
                    effectiveDate: '2024-07-01T00:00:00.000Z'
                    title: example link
                    url: https://example.com/
                    description: example link
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: '1'
                    endCursor: '1'
      operationId: ListDocumentLinks
    post:
      tags:
      - Manage Vanta > documents > {documentId} > links
      summary: Create document link
      description: Create a link for a document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                url: string
                title: string
                description: string
                effectiveDate: '1986-01-23T14:45:00.745Z'
              properties:
                url:
                  type: string
                title:
                  type: string
                description:
                  type: string
                effectiveDate:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '201':
          description: Created
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: '1'
                creationDate: '2024-06-26T00:00:00.000Z'
                effectiveDate: '2024-07-01T00:00:00.000Z'
                title: example link
                url: https://example.com/
                description: example link
      operationId: CreateDocumentLink
  "/documents/{documentId}/set-owner":
    post:
      tags:
      - Manage Vanta > documents > {documentId} > set-owner
      summary: Set document owner
      description: Assign or unassign a user to the document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                userId: string
              properties:
                userId:
                  type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: '1'
                ownerId: '2'
                category: Account setup
                description: 'Provide two examples of a recent access request and
                  approval '
                isSensitive: false
                title: Document Title
                uploadStatus: Needs document
                uploadStatusDate: '2024-03-17T00:00:00.000Z'
                url: https://example.com
      operationId: SetDocumentOwner
  "/documents/{documentId}/submit":
    post:
      tags:
      - Manage Vanta > documents > {documentId} > submit
      summary: Submit document collection
      description: Submit document collection.
      requestBody:
        content: {}
      security:
      - bearerAuth: []
      parameters:
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: SubmitDocumentCollection
  "/documents/{documentId}/uploads/{uploadedFileId}/media":
    get:
      tags:
      - Manage Vanta > documents > {documentId} > uploads > {uploadedFileId} > media
      summary: Download file for document
      description: Download a file from a document.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: text/csv
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: uploadedFileId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                readable: true
      operationId: DownloadFileForDocument
  "/documents/{documentId}/uploads/{uploadedFileId}":
    delete:
      tags:
      - Manage Vanta > documents > {documentId} > uploads > {uploadedFileId}
      summary: Delete file for a document
      description: Delete a file for a document.
      security:
      - bearerAuth: []
      parameters:
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: uploadedFileId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: DeleteFileForDocument
  "/documents/{documentId}/uploads":
    post:
      tags:
      - Manage Vanta > documents > {documentId} > uploads
      summary: Upload file for document
      description: Upload a file for a document.
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                effectiveAtDate:
                  type: string
                  description: Date indicating when the document is effective from.
                  example: string
                description:
                  type: string
                  description: Description of the uploaded document.
                  example: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: multipart/form-data
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '201':
          description: Created
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: '1'
                fileName: Document Name
                title: Document title
                description: Document Description
                url: https://example.com
                creationDate: '2024-03-17T00:00:00.000Z'
                updatedDate: '2024-03-18T00:00:00.000Z'
                effectiveDate: '2024-03-17T00:00:00.000Z'
                deletionDate: 
                mimeType: application/pdf
                uploadedBy:
                  id: 66993da0cf4ba2ad40599ba7
                  type: USER
      operationId: UploadFileForDocument
    get:
      tags:
      - Manage Vanta > documents > {documentId} > uploads
      summary: List document's uploads
      description: List the uploaded files for a document.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: '1'
                    fileName: Document Name
                    title: Document title
                    description: Document Description
                    url: https://example.com
                    creationDate: '2024-03-17T00:00:00.000Z'
                    updatedDate: '2024-03-18T00:00:00.000Z'
                    effectiveDate: '2024-03-17T00:00:00.000Z'
                    deletionDate: 
                    mimeType: application/pdf
                    uploadedBy:
                      id: 66993da0cf4ba2ad40599ba7
                      type: USER
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: '1'
                    endCursor: '1'
      operationId: ListDocumentUploads
  "/documents/{documentId}":
    delete:
      tags:
      - Manage Vanta > documents > {documentId}
      summary: Delete document by ID
      description: Delete a document by ID.
      security:
      - bearerAuth: []
      parameters:
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '204':
          description: No Content
          content:
            text/plain:
              schema:
                type: string
              example: ''
      operationId: DeleteDocument
    get:
      tags:
      - Manage Vanta > documents > {documentId}
      summary: Get document by ID
      description: Get a document by ID.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: documentId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: access-requests
                title: Access request ticket and history
                description: 'Provide two examples of a recent access request and
                  approval '
                isSensitive: false
                uploadStatusDate: '2024-03-17T00:00:00.000Z'
                category: Account setup
                uploadStatus: Needs document
                url: https://example.com
                ownerId: '1'
                note: Example document note
                nextRenewalDate: '2025-03-17T00:00:00.000Z'
                renewalCadence: P1Y
                reminderWindow: P1M
                deactivatedStatus:
                  isDeactivated: false
                  reason: 
                  expiration: 
                  creationDate: '2024-03-02T00:00:00.000Z'
                subscribers: []
      operationId: GetDocument
  "/documents":
    post:
      tags:
      - Manage Vanta > documents
      summary: Create a custom document
      description: Create a custom document.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                title: string
                description: string
                timeSensitivity: DURING_AUDIT_WINDOW
                cadence: P6M
                reminderWindow: P1W
                isSensitive: false
              properties:
                title:
                  type: string
                description:
                  type: string
                timeSensitivity:
                  type: string
                cadence:
                  type: string
                reminderWindow:
                  type: string
                isSensitive:
                  type: boolean
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      responses:
        '201':
          description: Created
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: '1'
                ownerId: '2'
                category: Account setup
                description: 'Provide two examples of a recent access request and
                  approval '
                isSensitive: false
                title: Document Title
                uploadStatus: Needs document
                uploadStatusDate: '2024-03-17T00:00:00.000Z'
                url: https://example.com
      operationId: CreateCustomDocument
    get:
      tags:
      - Manage Vanta > documents
      summary: List documents
      description: List documents.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: frameworkMatchesAny
        in: query
        schema:
          type: string
        description: Includes all documents that match one of the provided framework
          values in frameworkMatchesAny.
        example: string
      - name: statusMatchesAny
        in: query
        schema:
          type: string
        description: Includes all documents that match one of the provided status
          values in statusMatchesAny.
        example: OK
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: '1'
                    ownerId: '2'
                    category: Account setup
                    description: 'Provide two examples of a recent access request
                      and approval '
                    isSensitive: false
                    title: Document Title
                    uploadStatus: Needs document
                    uploadStatusDate: '2024-03-17T00:00:00.000Z'
                    url: https://example.com
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: '1'
                    endCursor: '1'
      operationId: ListDocuments
  "/frameworks/{frameworkId}/controls":
    get:
      tags:
      - Manage Vanta > frameworks > {frameworkId} > controls
      summary: List a framework's controls
      description: List a framework's controls.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      - name: frameworkId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: a2f7e1b9d0c3f4e5a6c7b8d9
                    externalId: CRY-104
                    name: Data encryption utilized
                    description: Access reviews are performed to ensure that access
                      is appropriate for the user's role and responsibilities.
                    source: Vanta
                    domains:
                    - CRYPTOGRAPHIC_PROTECTIONS
                    owner:
                      id: 65e1efde08e8478f143a8ff9
                      emailAddress: example-person@email.com
                      displayName: Example Owner
                    role: CONTROLLER
                    customFields:
                    - label: Additional context
                      value: This control is critical for GDPR compliance
                    creationDate: 
                    modificationDate: 
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: YXJyYXljb25uZWN0aW9uOjA=
                    endCursor: YXJyYXljb25uZWN0aW9uOjE=
                  totalCount: 1
      operationId: ListFrameworkControls
  "/frameworks/{frameworkId}":
    get:
      tags:
      - Manage Vanta > frameworks > {frameworkId}
      summary: Get framework by ID
      description: Get a framework by ID.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: frameworkId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: soc2
                displayName: SOC 2
                shorthandName: SOC 2
                description: AICPA standardized framework to prove a company’s security
                  posture to prospective customers. For all US and international businesses.
                numControlsCompleted: 43
                numControlsTotal: 86
                numDocumentsPassing: 7
                numDocumentsTotal: 16
                numTestsPassing: 21
                numTestsTotal: 46
                requirementCategories:
                - id: CC 1.0
                  name: Control Environment
                  shorthand: 
                  requirements:
                  - id: CC 1.1
                    name: ''
                    shorthand: 
                    description: 'COSO Principle 1: The entity demonstrates a commitment
                      to integrity and ethical values.'
                    controls:
                    - id: background-checks-performed
                      externalId: 
                      name: Personnel background checks performed
                      description: The company performs background checks on new personnel.
      operationId: GetFramework
  "/frameworks":
    get:
      tags:
      - Manage Vanta > frameworks
      summary: List available frameworks
      description: Lists available frameworks.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: pageSize
        in: query
        schema:
          type: integer
        example: '10'
      - name: pageCursor
        in: query
        schema:
          type: string
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                  data:
                  - id: soc2
                    displayName: SOC 2
                    shorthandName: SOC 2
                    description: AICPA standardized framework to prove a company’s
                      security posture to prospective customers. For all US and international
                      businesses.
                    numControlsCompleted: 43
                    numControlsTotal: 86
                    numDocumentsPassing: 7
                    numDocumentsTotal: 16
                    numTestsPassing: 21
                    numTestsTotal: 46
                  pageInfo:
                    hasNextPage: false
                    hasPreviousPage: false
                    startCursor: aXNvMjcwMDFfMjAyMg==
                    endCursor: aXNvMjcwMDFfMjAyMg==
      operationId: ListAvailableFrameworks
  "/groups/{groupId}/add-people":
    post:
      tags:
      - Manage Vanta > groups > {groupId} > add-people
      summary: Add people to group
      description: Add people to a group.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                updates:
                - id: string
              properties:
                updates:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        type: string
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: groupId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                results:
                - id: person-id-1
                  status: SUCCESS
                - id: person-id-2
                  status: ERROR
                  message: Invalid Input
      operationId: AddPeopleToGroup
  "/groups/{groupId}/people/{personId}":
    delete:
      tags:
      - Manage Vanta > groups > {groupId} > people > {personId}
      summary: Remove person from a group
      description: Remove a single person, by ID, from a group.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: groupId
        in: path
        schema:
          type: string
        required: true
        example: string
      - name: personId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: 65e1efde08e8478f143a8ff9
                emailAddress: example-person@email.com
                employment:
                  endDate: 
                  jobTitle: Customer success manager
                  startDate: '2021-01-01T00:00:00.000Z'
                  status: CURRENT
                leaveInfo: 
                groupIds:
                - 5f2c939a52855e725c8d5824
                name:
                  display: Example Person
                  last: Person
                  first: Example
                sources:
                  emailAddress:
                    integrationId: gsuiteadmin
                    resourceId: 660c701d3d344e660b032306
                    type: INTEGRATION
                  employment:
                    startDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                    endDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                tasksSummary:
                  completionDate: 
                  dueDate: '2021-12-01T00:00:00.000Z'
                  status: OVERDUE
                  details:
                    completeTrainings:
                      taskType: COMPLETE_TRAININGS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Training Vanta tests have been disabled for this person
                      incompleteTrainings:
                      - name: Security training 1
                      - name: Security training 2
                      completedTrainings:
                      - name: Security training 3
                      - name: Security training 4
                    acceptPolicies:
                      taskType: ACCEPT_POLICIES
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      unacceptedPolicies:
                      - name: Policy 1
                      - name: Policy 2
                      acceptedPolicies:
                      - name: Policy 3
                      - name: Policy 4
                    completeCustomTasks:
                      taskType: COMPLETE_CUSTOM_TASKS
                      status: OVERDUE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Custom task Vanta tests have been disabled for this
                          person
                      incompleteCustomTasks:
                      - name: Custom task 1
                      - name: Custom task 2
                      completedCustomTasks:
                      - name: Custom task 3
                      - name: Custom task 4
                    completeOffboardingCustomTasks:
                      taskType: COMPLETE_CUSTOM_OFFBOARDING_TASKS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      incompleteCustomOffboardingTasks: []
                      completedCustomOffboardingTasks:
                      - name: Custom offboarding task 1
                      - name: Custom offboarding task 2
                    installDeviceMonitoring:
                      taskType: INSTALL_DEVICE_MONITORING
                      status: DUE_SOON
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: 
                      disabled: 
                    completeBackgroundChecks:
                      taskType: COMPLETE_BACKGROUND_CHECKS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
      operationId: RemovePersonFromGroup
  "/groups/{groupId}/people":
    get:
      tags:
      - Manage Vanta > groups > {groupId} > people
      summary: List people in a group
      description: List people in a group.
      security:
      - bearerAuth: []
      parameters:
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: groupId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
              - id: 65e1efde08e8478f143a8ff9
                emailAddress: example-person@email.com
                employment:
                  endDate: 
                  jobTitle: Customer success manager
                  startDate: '2021-01-01T00:00:00.000Z'
                  status: CURRENT
                leaveInfo: 
                groupIds:
                - 5f2c939a52855e725c8d5824
                name:
                  display: Example Person
                  last: Person
                  first: Example
                sources:
                  emailAddress:
                    integrationId: gsuiteadmin
                    resourceId: 660c701d3d344e660b032306
                    type: INTEGRATION
                  employment:
                    startDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                    endDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                tasksSummary:
                  completionDate: 
                  dueDate: '2021-12-01T00:00:00.000Z'
                  status: OVERDUE
                  details:
                    completeTrainings:
                      taskType: COMPLETE_TRAININGS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Training Vanta tests have been disabled for this person
                      incompleteTrainings:
                      - name: Security training 1
                      - name: Security training 2
                      completedTrainings:
                      - name: Security training 3
                      - name: Security training 4
                    acceptPolicies:
                      taskType: ACCEPT_POLICIES
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      unacceptedPolicies:
                      - name: Policy 1
                      - name: Policy 2
                      acceptedPolicies:
                      - name: Policy 3
                      - name: Policy 4
                    completeCustomTasks:
                      taskType: COMPLETE_CUSTOM_TASKS
                      status: OVERDUE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Custom task Vanta tests have been disabled for this
                          person
                      incompleteCustomTasks:
                      - name: Custom task 1
                      - name: Custom task 2
                      completedCustomTasks:
                      - name: Custom task 3
                      - name: Custom task 4
                    completeOffboardingCustomTasks:
                      taskType: COMPLETE_CUSTOM_OFFBOARDING_TASKS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      incompleteCustomOffboardingTasks: []
                      completedCustomOffboardingTasks:
                      - name: Custom offboarding task 1
                      - name: Custom offboarding task 2
                    installDeviceMonitoring:
                      taskType: INSTALL_DEVICE_MONITORING
                      status: DUE_SOON
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: 
                      disabled: 
                    completeBackgroundChecks:
                      taskType: COMPLETE_BACKGROUND_CHECKS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
      operationId: ListPeopleInGroup
    post:
      tags:
      - Manage Vanta > groups > {groupId} > people
      summary: Add person to a group
      description: Add a single person, by ID, to a group.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              example:
                id: string
              properties:
                id:
                  type: string
              required:
              - id
      security:
      - bearerAuth: []
      parameters:
      - name: Content-Type
        in: header
        schema:
          type: string
        example: application/json
      - name: Accept
        in: header
        schema:
          type: string
        example: application/json
      - name: groupId
        in: path
        schema:
          type: string
        required: true
        example: string
      responses:
        '200':
          description: OK
          headers:
            Content-Type:
              schema:
                type: string
                example: application/json
          content:
            application/json:
              schema:
                type: object
              example:
                id: 65e1efde08e8478f143a8ff9
                emailAddress: example-person@email.com
                employment:
                  endDate: 
                  jobTitle: Customer success manager
                  startDate: '2021-01-01T00:00:00.000Z'
                  status: CURRENT
                leaveInfo: 
                groupIds:
                - 5f2c939a52855e725c8d5824
                name:
                  display: Example Person
                  last: Person
                  first: Example
                sources:
                  emailAddress:
                    integrationId: gsuiteadmin
                    resourceId: 660c701d3d344e660b032306
                    type: INTEGRATION
                  employment:
                    startDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                    endDate:
                      integrationId: gusto
                      resourceId: 660c70783d344e660b032323
                      type: INTEGRATION
                tasksSummary:
                  completionDate: 
                  dueDate: '2021-12-01T00:00:00.000Z'
                  status: OVERDUE
                  details:
                    completeTrainings:
                      taskType: COMPLETE_TRAININGS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Training Vanta tests have been disabled for this person
                      incompleteTrainings:
                      - name: Security training 1
                      - name: Security training 2
                      completedTrainings:
                      - name: Security training 3
                      - name: Security training 4
                    acceptPolicies:
                      taskType: ACCEPT_POLICIES
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      unacceptedPolicies:
                      - name: Policy 1
                      - name: Policy 2
                      acceptedPolicies:
                      - name: Policy 3
                      - name: Policy 4
                    completeCustomTasks:
                      taskType: COMPLETE_CUSTOM_TASKS
                      status: OVERDUE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled:
                        date: '2021-11-01T00:00:00.000Z'
                        reason: Custom task Vanta tests have been disabled for this
                          person
                      incompleteCustomTasks:
                      - name: Custom task 1
                      - name: Custom task 2
                      completedCustomTasks:
                      - name: Custom task 3
                      - name: Custom task 4
                    completeOffboardingCustomTasks:
                      taskType: COMPLETE_CUSTOM_OFFBOARDING_TASKS
                      status: COMPLETE
                      dueDate: '2021-12-01T00:00:00.000Z'
                      completionDate: '2021-11-01T00:00:00.000Z'
                      disabled: 
                      incompleteCustomOffboardingTasks: []
                      completedCustomOffboardingTasks:
[...]
