openapi: "3.2.0"
info:
  title: Ashby
  description: Candidates, applications, jobs, offers, interviews, departments, locations, users, and reports
servers:
  - url: https://api.ashbyhq.com
security:
  - api_key: []

paths:
  /candidate.list:
    post:
      operationId: candidate.list
      summary: List candidates
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /candidate.info:
    post:
      operationId: candidate.info
      summary: Get a candidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /candidate.search:
    post:
      operationId: candidate.search
      summary: Search candidates (max 100 results, no pagination)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                name:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /candidate.create:
    post:
      operationId: candidate.create
      summary: Create a candidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CandidateCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /candidate.update:
    post:
      operationId: candidate.update
      summary: Update a candidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CandidateUpdate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /candidate.createNote:
    post:
      operationId: candidate.createNote
      summary: Create a note on a candidate
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CandidateNoteCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /application.list:
    post:
      operationId: application.list
      summary: List applications
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationListRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /application.info:
    post:
      operationId: application.info
      summary: Get an application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /application.create:
    post:
      operationId: application.create
      summary: Create an application
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationCreate"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /application.changeStage:
    post:
      operationId: application.changeStage
      summary: Change an application's interview stage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [applicationId, interviewStageId]
              properties:
                applicationId:
                  type: string
                interviewStageId:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /applicationFeedback.submit:
    post:
      operationId: applicationFeedback.submit
      summary: Submit application feedback
      description: Submit feedback for an application using an Ashby feedback form definition.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApplicationFeedbackSubmitRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /job.list:
    post:
      operationId: job.list
      summary: List jobs
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JobListRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /job.info:
    post:
      operationId: job.info
      summary: Get a job
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /file.info:
    post:
      operationId: file.info
      summary: Retrieve a candidate file URL
      description: Retrieve the URL of a file associated with a candidate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FileInfoRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /offer.list:
    post:
      operationId: offer.list
      summary: List offers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /offer.info:
    post:
      operationId: offer.info
      summary: Get an offer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties:
                id:
                  type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /report.synchronous:
    post:
      operationId: report.synchronous
      summary: Run a saved report synchronously
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /report.generate:
    post:
      operationId: report.generate
      summary: Start or poll an asynchronous report generation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /interviewSchedule.list:
    post:
      operationId: interviewSchedule.list
      summary: List interview schedules
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /interview.info:
    post:
      operationId: interview.info
      summary: Get an interview
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/IdRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /interviewBriefing.info:
    post:
      operationId: interviewBriefing.info
      summary: Get interview briefing data
      description: Returns application, interview, interviewer status, and feedback form context for an interview event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InterviewBriefingInfoRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /feedbackFormDefinition.list:
    post:
      operationId: feedbackFormDefinition.list
      summary: List feedback form definitions
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackFormDefinitionListRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /feedbackFormDefinition.info:
    post:
      operationId: feedbackFormDefinition.info
      summary: Get a feedback form definition
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FeedbackFormDefinitionInfoRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /interviewStage.list:
    post:
      operationId: interviewStage.list
      summary: List interview stages
      description: List all interview stages for an interview plan in order.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InterviewStageListRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /interviewStage.info:
    post:
      operationId: interviewStage.info
      summary: Get an interview stage
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InterviewStageInfoRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /department.info:
    post:
      operationId: department.info
      summary: Get a department
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DepartmentInfoRequest"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Response"

  /department.list:
    post:
      operationId: department.list
      summary: List departments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /location.list:
    post:
      operationId: location.list
      summary: List locations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

  /user.list:
    post:
      operationId: user.list
      summary: List users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaginationParams"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaginatedResponse"

components:
  securitySchemes:
    api_key:
      type: http
      scheme: basic
      description: "Create a key in [Ashby API Keys](https://app.ashbyhq.com/admin/api/keys)."

  schemas:
    IdRequest:
      type: object
      required: [id]
      properties:
        id:
          type: string

    ApplicationListRequest:
      allOf:
        - $ref: "#/components/schemas/PaginationParams"
        - type: object
          properties:
            createdAfter:
              type: integer
              format: int64
              description: Return applications created after this Unix epoch time in milliseconds.
            syncToken:
              type: string
              description: Opaque incremental sync token returned after fetching the last page.
            status:
              type: string
              enum:
                - Hired
                - Archived
                - Active
                - Lead
            jobId:
              type: string
            expand:
              type: array
              items:
                $ref: "#/components/schemas/ApplicationExpand"

    JobListRequest:
      allOf:
        - $ref: "#/components/schemas/PaginationParams"
        - type: object
          properties:
            createdAfter:
              type: integer
              format: int64
              description: Return jobs created after this Unix epoch time in milliseconds.
            syncToken:
              type: string
              description: Opaque incremental sync token returned after fetching the last page.
            status:
              type: array
              items:
                type: string
                enum:
                  - Open
                  - Closed
                  - Archived
                  - Draft
              description: When supplied, only jobs with the provided statuses are returned.
            openedAfter:
              type: integer
              format: int64
            openedBefore:
              type: integer
              format: int64
            closedAfter:
              type: integer
              format: int64
            closedBefore:
              type: integer
              format: int64
            includeUnpublishedJobPostingsIds:
              type: boolean
            expand:
              type: array
              items:
                $ref: "#/components/schemas/JobExpand"

    ApplicationExpand:
      type: string
      enum:
        - openings

    JobExpand:
      type: string
      enum:
        - location
        - openings

    DepartmentInfoRequest:
      type: object
      required: [departmentId]
      properties:
        departmentId:
          type: string

    InterviewStageInfoRequest:
      type: object
      required: [interviewStageId]
      properties:
        interviewStageId:
          type: string

    InterviewBriefingInfoRequest:
      type: object
      required: [interviewEventId]
      properties:
        interviewEventId:
          type: string
        expand:
          type: array
          items:
            type: string

    FeedbackFormDefinitionListRequest:
      allOf:
        - $ref: "#/components/schemas/PaginationParams"
        - type: object
          properties:
            includeArchived:
              type: boolean
            syncToken:
              type: string

    FeedbackFormDefinitionInfoRequest:
      type: object
      required: [feedbackFormDefinitionId]
      properties:
        feedbackFormDefinitionId:
          type: string

    ApplicationFeedbackSubmitRequest:
      type: object
      required: [feedbackForm]
      properties:
        feedbackForm:
          type: object
          required: [formDefinitionId, applicationId, values]
          properties:
            formDefinitionId:
              type: string
            applicationId:
              type: string
            userId:
              type: string
            values:
              type: object
              additionalProperties: true

    InterviewStageListRequest:
      type: object
      required: [interviewPlanId]
      properties:
        interviewPlanId:
          type: string

    FileInfoRequest:
      type: object
      required: [fileHandle]
      properties:
        fileHandle:
          type: string

    ReportRequest:
      type: object
      required: [reportId]
      properties:
        reportId:
          type: string
        includeHeadersInData:
          type: boolean
        requestId:
          type: string

    PaginationParams:
      type: object
      properties:
        limit:
          type: integer
        cursor:
          type: string

    Response:
      type: object
      properties:
        success:
          type: boolean
        results:
          type: object

    PaginatedResponse:
      type: object
      properties:
        success:
          type: boolean
        results:
          type: array
          items:
            type: object
        moreDataAvailable:
          type: boolean
        nextCursor:
          type: string

    CandidateCreate:
      type: object
      required: [firstName, lastName]
      properties:
        firstName:
          type: string
        lastName:
          type: string
        primaryEmailAddress:
          type: object
          properties:
            value:
              type: string
            type:
              type: string
        primaryPhoneNumber:
          type: object
          properties:
            value:
              type: string
            type:
              type: string
        externalId:
          type: string

    CandidateUpdate:
      type: object
      required: [candidateId]
      properties:
        candidateId:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        primaryEmailAddress:
          type: object
          properties:
            value:
              type: string
            type:
              type: string

    CandidateNoteCreate:
      type: object
      required: [candidateId, content]
      properties:
        candidateId:
          type: string
        content:
          type: string
        type:
          type: string

    ApplicationCreate:
      type: object
      required: [candidateId, jobId]
      properties:
        candidateId:
          type: string
        jobId:
          type: string
        sourceId:
          type: string
